{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}New reservation{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}"/>
{% endblock %}
{% block content %}
	<h3>Create a new reservation</h3>
	<form method="post" action="{% url 'make_reservation' %}" {% if user.is_staff %}onsubmit="return on_submit();"{% else %}onsubmit="return on_user_submit();"{% endif %}>
		{% csrf_token %}
		<input type="hidden" name="tool_id" value="{{ tool.id }}">
		{% if not user.is_staff %}
			{% if user.active_project_count == 1 %}
				<input type="hidden" name="project_id" value="{{ user.active_projects.0.id }}">
			{% elif user.active_project_count > 1 %}
				<h4>Which project is this for?</h4>
				<input type="hidden" id="project_id" name="project_id">
				<select class="form-control" onchange="return set_project(this.options[this.selectedIndex].value);">
					<option value="">Please select a project</option>
				{% for project in user.active_projects %}
					<option value="{{ project.id }}">{{ project }}</option>
				{% endfor %}
				</select>
				
			{% endif %}
		{% else %}
			<div class="radio"><label><input type="radio" onchange="show_self_ui()" name="staff_charge" id="staff_charge" value="self">Reserve this tool for my own project</label></div>
			<div id="self_ui" style="display: none;">
			<p>Associate your reservation with a project.</p>
			<input type="hidden" id="project_id" name="project_id">
			<select class="form-control" onchange="return set_project(this.options[this.selectedIndex].value);">
				<option value="">Please select a project</option>
			{% for project in user.active_projects %}
				<option value="{{ project.id }}">{{ project }}</option>
			{% endfor %}
			</select>
			</div>

			<div class="radio"><label><input type="radio" onchange="show_customer_ui()" name="staff_charge" id="staff_charge" value="customer">Reserve this tool on behalf of a customer.</label></div>

			<div id="customer_ui" style="display: none;">
				<div id="project_choice_multi">
					<table id="customer_entries" class="table">
						<tr>
							<th>&nbsp;</th>
							<th style="min-width:200px">Customer</th>
							<th style="min-width:200px">Project</th>
						</tr>
						<tr>
							<td colspan="3" style="text-align:center"><a href="javascript:void(0)" onclick="add_customer()">Add another customer</a></td>
						</tr>
					</table>
				</div>
			</div>
		{% endif %}
		{% if configurations %}
			<h4>Choose tool configuration settings</h4>
			{% if notice_limit > 0 %}
				<div class="alert alert-info">
					<strong>Please note:</strong> {{ notice_limit }} hours of advance notice is required when reserving this tool in order to configure it properly. A tool is not guaranteed to be configured properly if a reservation is created or modified on short notice.
				</div>
			{% endif %}
			{% include 'calendar/configuration_helper.html' %}
		{% endif %}
		<h4>When would you like to reserve the {{ tool }}?</h4>
		<div class="datetimepicker-container">
			<input type="text" id="start" name="start" placeholder="Choose a start time" />
		</div>
		<div class="datetimepicker-container">
			<input type="text" id="end" name="end" placeholder="Choose an end time" />
		</div>
		<div class="form-group text-center" style="margin-top:40px">
			<input type="submit" value="Create the reservation" class="btn btn-success">
		</div>
	</form>
	<div style="height:350px"></div>
	<script type="text/javascript">
	function set_project(id)
	{
		if (id == "") return false;
		$('#project_id').val(id);
		$('#dialog_cancelled').val(false);
		$('#dialog').modal('hide');
		return true;
	}

	var current_entry_number = 1;

	function show_self_ui()
	{
		$("#customer_ui").hide();
		$("#self_ui").show();
	}

	function show_customer_ui()
	{
		$("#self_ui").hide();
		$("#customer_ui").show();
	}

	function add_customer()
	{
		var failure_dialog = ajax_failure_callback("Cannot add new entry", "The web browser was not able to communicate with the server.");
		ajax_get("{% url 'staff_charge_entry' %}", { "entry_number": current_entry_number }, add_entry_success_callback, failure_dialog);
		function add_entry_success_callback(response, status, xml_http_request)
		{
			$("#customer_entries tr:last").before(response);
			enable_autocompletion(current_entry_number);
			current_entry_number++;
		}
	}

	function enable_autocompletion(entry_number)
	{
		var id = "#user_textbox__" + entry_number;
		$(id).autocomplete('user', on_autocomplete_selection, {{ users|json_search_base }}).focus();
	}


	function remove_row(number)
	{
		$("#row_" + number).remove();
	}

	function on_autocomplete_selection(jquery_event, search_selection, dataset_name)
	{
		$(this).typeahead('val', search_selection.id).hide();
		var row = $(this).data('row');
		var button_id = "#" + dataset_name + "_button__" + row;
		$(button_id).val(search_selection.name).show();
		if(dataset_name == "user")
			fetch_projects(row, search_selection.id);
	}

	function fetch_projects(row, user_id)
	{
		var parameters =
		{
			"source_template": "staff_charges",
			"user_id": user_id,
			"entry_number": row
		};
		var target_element = "#project__" + row;
		var url = "{% url 'get_projects' %}?" + jQuery.param(parameters);
		var report_error = ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
		$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if (statusTxt == "success") {
				var el =  $("#chosen_project__" + row);

				/*if (el.tagName == "SELECT") {
					$("#chosen_project__" + row).change(function() {
						$("#done").click(on_submit);
						$("#done").show();
					});
				} else {
					$("#done").click(on_submit);
					$("#done").show();
				}*/
			} else {
				ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
			}
		});
	}

	function purge_customer(row)
	{
		$("#user_button__" + row).hide();
		$("#project__" + row).html("");
		$("#user_textbox__" + row).typeahead('val', '').show().focus();
	}

	function on_submit()
	{
		var choice = $("#staff_charge:checked").val();

		if ($("#start").val() == "") {
			alert("Please select a start date");
			$("#start").focus();
			return;
		} else {
			$("#start").val(convert_12_to_24($("#start").val()));
		}

		if ($("#end").val() == "") {
			alert("Please select an end date");
			$("#end").focus();
			return;
		} else {
			$("#end").val(convert_12_to_24($("#end").val()));
		}

		if (choice == '' || choice == undefined) {
			alert("Please select an option for placing this reservation for a customer or for yourself.");
			$("#staff_charge").focus();
			return false;
		}

		if (choice == "self") {
			if ($("#project_id").val() == '') {
				alert("Please select a project for your reservation");
				$(select).focus();
				return false;
			}
		} else {
			var s;
			var o;
			var u;
			var b;
			var total_entry_count = 0;

			for (var i=0; i<=current_entry_number; i++) {
				b = false;
				s = "#user_textbox__" + i;
	
				if ($(s).length) {
					if ($(s).css("display") != "none") {
						alert("Please select a user for each row, or else delete the row.");
						$(s).focus();
						return false;
					} else {
						b = true;
					}
					total_entry_count++;
				}

				if (b) {
					s = "#chosen_project__" + i;
					if ($(s).prop("type") != "hidden") {
						o = $(s).find(":selected").val();
						if (o == "-1") {
							alert("Please select a value for each project field for each customer, or else delete the row.");
							$(s).focus();
							return false;
						}
					}
				}
			}

			if (total_entry_count == 0) {
				alert("You must add at least one customer in order to use this tool for other.");
				return false;
			}
	
		}

		return true;
	
	}

	function on_user_submit() {
		if ($("#start").val() == "") {
			alert("Please select a start date");
			$("#start").focus();
			return;
		} else {
			$("#start").val(convert_12_to_24($("#start").val()));
		}

		if ($("#end").val() == "") {
			alert("Please select an end date");
			$("#end").focus();
			return;
		} else {
			$("#end").val(convert_12_to_24($("#end").val()));
		}
		return true;
	}

	function set_initial_date()
	{
		if('{{ date }}')
			this.set('select', '{{ date }}', {format: 'yyyy-mm-dd'})
	}

	function on_load()
	{
		add_customer();
		$('#start').datetimepicker({format: 'YYYY-MM-DD hh:mm A', defaultDate: '{{ date }} 00:00'});
		$('#end').datetimepicker({format: 'YYYY-MM-DD hh:mm A', defaultDate: '{{ date }} 00:00'});
	}

	$(on_load);
	</script>
{% endblock %}
