[
	{% for x in events %}
	{
		"title": "{{ x.tool.name|escapejs }} for {{ x.user }}",
		"id": "Reservation {{ x.id }}",
		{# The reservation creator or staff may edit the event: #}
		"editable": false,
		"start": "{{ x.start|date:"c" }}",
		"end": "{{ x.get_visual_end|date:"c" }}",
		"details_url": "{% url 'reservation_details' x.id %}",
		"description": "{{ x.description|escapejs }}"
	}{% if not forloop.last %},{% elif outages %},{% endif %}
	{% endfor %}
	{% for x in outages %}
	{
		"title": "{{ x.tool.name|escapejs }} Outage",
		"id": "Outage {{ x.id }}",
		"editable": false,
		"color": "#ff0000",
		"start": "{{ x.start|date:"c" }}",
		"end": "{{ x.end|date:"c" }}",
		"details_url": "{% url 'outage_details' x.id %}",
		"description": ""
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
]
