<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Which project is this for?</h4>
</div>

<div class="modal-body">
	{# Assume the dialog is cancelled by default, preventing the reservation request from being processed further. #}
	{# When a button is clicked this value is set to true, enabling further processing. #}
	{# Hiding the dialog using the X in the top right, or clicking outside of it, will stop processing. #}
	<input type="hidden" id="dialog_cancelled" value="true">
	<form id="additional_event_parameters" onsubmit="return false">
		<p>Associate your reservation with a project. A fee will be charged to that project if you miss your reservation.</p>
		<input type="hidden" id="project_id" name="project_id">
		<input type="hidden" id="selected_sample" name="selected_sample" value="" />
		<select class="form-control" name="chosen_project__0" id="chosen_project__0" onchange="return set_project(this.options[this.selectedIndex].value);">
			<option value="">Please select a project</option>
		{% for project in active_projects %}
			<option value="{{ project.id }}">{{ project }}</option>
		{% endfor %}
		</select>
		<br/>
		<div id="sample">
		</div>
		</br/>
		<input id="complete_button" type="button" value="Complete" class="btn btn-success" disabled />
	</form>
	<script type="text/javascript">
	var ss = [];

	function set_project(id)
	{
		if (id == "") return false;
		$('#project_id').val(id);
		
		var parameters =
		{
			"project_id": id,
			"entry_number": 0
		};

		var target_element = "#sample";

		var url = "{% url 'get_samples' %}?" + jQuery.param(parameters);
		var report_error = ajax_complete_callback("Could not fetch samples for user", "There was a problem obtaining the list of samples for the user.");

		$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if (statusTxt == "success") {
				$("#complete_button").click(function() {
					$("#selected_sample").val($("#sample_id").val());
					$('#dialog_cancelled').val(false);
					$('#dialog').modal('hide');
				}).prop("disabled",false);

				if (ss.length > 0) {
					$("#sample_id option").each(function() {
						if (ss.indexOf(parseInt($(this).val())) > -1) $(this).prop("selected","selected");
					});
					ss.length = 0;
				}
			} else {
				ajax_complete_callback("Could not fetch samples for the project", "There was a problem obtaining the list of samples for the project.");
			}
		});
		return true;
	}

	function add_sample(project_id, entry_number)
	{
		var sample_list;
		sample_list = "#sample_id";
		sample_list += " option:selected";

		$(sample_list).each(function() {
			ss.push(parseInt($(this).val()));
		});

		var url = "/modal_create_sample/" + project_id + "/";
		var ajax_post = {
			"url": url,
			"data": {
				"modal_caller": "",
				"request_mode": "reservation", 
			},
			"type": "GET",
			"dataType": "html"
		};

		jQuery.ajax(ajax_post)
			.fail(ajax_failure_callback("Oops, something went wrong!"))
			.done(function(response, status, xml_http_request)
			{
				if(response === "") {
					refresh_calendar_and_sidebar();
				} else {
					$("#sample_dialog .modal-content").html(response);
					$("#sample_dialog").modal('show');
					$("#sample_dialog .modal-content form").submit(function() {
						event.preventDefault();
						$("#sample_dialog .modal-content form").off("submit");
						$.ajax({
							type: "POST",
							url: url,
							data: serialize("#sample_dialog .modal-content form"),
							success: function(response, status, xml_http_request) { 
								ss.push(parseInt(response));
								//alert(ss.join("\n"));
								$("#sample_dialog").modal('hide');
								$("#sample_dialog .modal-content").html("");
								var sl = "#chosen_project__" + entry_number;
								if ($(sl).tagName == "SELECT") {
									$(sl).trigger("change");
								} else {
									set_project(project_id);
								}

							}
						});
					});
				}
			});
	}

	{% if active_projects.count == 1 %}
	set_project({{ project.id }});
	{% endif %}
	//# sourceURL=calendar/project_choice.html
	</script>
</div>
