<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Which project is this for?</h4>
</div>

<div class="modal-body">
	{# Assume the dialog is cancelled by default, preventing the reservation request from being processed further. #}
	{# When a button is clicked this value is set to true, enabling further processing. #}
	{# Hiding the dialog using the X in the top right, or clicking outside of it, will stop processing. #}
	<input type="hidden" id="dialog_cancelled" value="true">
	<form id="additional_event_parameters" onsubmit="return false">
		<div class="radio"><label><input type="radio" onchange="show_self_ui()" name="staff_charge" value="self">Reserve this tool for my own project</label></div>

		<div id="self_ui" style="display: none;">
		<p>Associate your reservation with a project.</p>
		<input type="hidden" id="project_id" name="project_id">
		<input type='hidden' name='selected_sample' id='selected_sample' value='' />
		<select class="form-control" onchange="return set_project(this.options[this.selectedIndex].value);">
			<option value="">Please select a project</option>
		{% for project in active_projects %}
			<option value="{{ project.id }}">{{ project }}</option>
		{% endfor %}
		</select>
		<br/>
		<div id="sample">
		</div>
		</br/>
		<input id="complete_button" type="button" value="Complete" class="btn btn-success" disabled />
		</div>

		<div class="radio"><label><input type="radio" onchange="show_customer_ui()" name="staff_charge" value="customer">Reserve this tool on behalf of a customer.</label></div>

		<div id="customer_ui" style="display: none;">
			<div id="project_choice_multi">
				<table id="customer_entries" class="table">
					<tr>
						<th>&nbsp;</th>
						<th style="min-width:200px">Customer</th>
						<th style="min-width:200px">Project</th>
						<th style="min-width:200px">Sample</th>
					</tr>
					<tr>
						<td colspan="4" style="text-align:center"><a href="javascript:void(0)" onclick="add_customer()">Add another customer</a></td>
					</tr>
				</table>
			</div>

			<button id="done" class="btn btn-default" style="display:none">Done adding customers to this reservation</button>
		</div>
	</form>
	<script type="text/javascript">
	{% load custom_tags_and_filters %}

	function set_project(id)
	{
		if (id == "") return false;
		$('#project_id').val(id);

		var parameters =
		{
			"project_id": id,
			"entry_number": 0
		};

		var target_element = "#sample";

		var url = "{% url 'get_samples' %}?" + jQuery.param(parameters);
		var report_error = ajax_complete_callback("Could not fetch samples for user", "There was a problem obtaining the list of samples for the user.");

		$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if (statusTxt == "success") {
				$("#complete_button").click(function() {
					$("#selected_sample").val($("#sample_id").val());
					$('#dialog_cancelled').val(false);
					$('#dialog').modal('hide');
				}).prop("disabled",false);
			} else {
				ajax_complete_callback("Could not fetch samples for the project", "There was a problem obtaining the list of samples for the project.");
			}
		});
		return true;
	}

	var current_entry_number = 1;

	function show_self_ui()
	{
		$("#customer_ui").hide();
		$("#self_ui").show();
		{% if active_projects.count == 1 %}
		set_project({{ active_projects.0.id }});
		{% endif %}
	}

	function show_customer_ui()
	{
		$("#self_ui").hide();
		$("#customer_ui").show();
	}

	function add_customer()
	{
		var failure_dialog = ajax_failure_callback("Cannot add new entry", "The web browser was not able to communicate with the server.");
		ajax_get("{% url 'staff_charge_entry' %}", { "entry_number": current_entry_number }, add_entry_success_callback, failure_dialog);
		function add_entry_success_callback(response, status, xml_http_request)
		{
			$("#customer_entries tr:last").before(response);
			enable_autocompletion(current_entry_number);
			current_entry_number++;
		}
	}

	function enable_autocompletion(entry_number)
	{
		var id = "#user_textbox__" + entry_number;
		$(id).autocomplete('user', on_autocomplete_selection, {{ users|json_search_base }}).focus();
	}


	function remove_row(number)
	{
		$("#row_" + number).remove();
	}

	function on_autocomplete_selection(jquery_event, search_selection, dataset_name)
	{
		$(this).typeahead('val', search_selection.id).hide();
		var row = $(this).data('row');
		var button_id = "#" + dataset_name + "_button__" + row;
		$(button_id).val(search_selection.name).show();
		if(dataset_name == "user")
			fetch_projects(row, search_selection.id);
	}

	function fetch_projects(row, user_id)
	{
		// a function to retrieve a list of projects for a user and load it into the interface
		var parameters =
		{
			"source_template": "staff_charges",
			"user_id": user_id,
			"entry_number": row
		};
		var target_element = "#project__" + row;
		var url = "{% url 'get_projects' %}?" + jQuery.param(parameters);
		var report_error = ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
		$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if (statusTxt == "success") {
				var el =  $("#chosen_project__" + row);

				if (el.tagName == "SELECT") {
					$("#chosen_project__" + row).change(function() {
						$("#done").click(on_submit);
						$("#done").show();
					});
				} else {
					$("#done").click(on_submit);
					$("#done").show();
					if ($("#chosen_project__" + row).prop("type") == "hidden") {
						fetch_samples(row);
					}
				}
			} else {
				ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
			}
		});
	}

	function fetch_samples(row) 
	{
		// A function to retrieve a list of samples for a project and load it into the interface
		var target_element = "#sample__" + row;
		$(target_element).html("");
	
		var project_id = $("#chosen_project__" + row).val();

		var parameters =
		{
			"project_id": project_id,
			"entry_number": row
		};
		var url = "{% url 'get_samples' %}?" + jQuery.param(parameters);
		var report_error = ajax_complete_callback("Could not fetch samples for user", "There was a problem obtaining the list of samples for the user.");

		$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if (statusTxt == "success") {

				// add select lists with samples for the project
				var s1 = $("#chosen_sample__" + row);
				s1.focus();

			} else {
				ajax_complete_callback("Could not fetch samples for the project", "There was a problem obtaining the list of samples for the project.");
			}
		});
	}

	function purge_customer(row)
	{
		$("#user_button__" + row).hide();
		$("#project__" + row).html("");
		$("#sample__" + row).html("");
		$("#user_textbox__" + row).typeahead('val', '').show().focus();
	}

	function on_submit()
	{
		var s;
		var o;
		var u;
		var b;
		var total_entry_count = 0;

		for (var i=0; i<=current_entry_number; i++) {
			b = false;
			s = "#user_textbox__" + i;

			if ($(s).length) {
				if ($(s).css("display") != "none") {
					alert("Please select a user for each row, or else delete the row.");
					$(s).focus();
					return false;
				} else {
					b = true;
				}
				total_entry_count++;
			}

			if (b) {
				s = "#chosen_project__" + i;
				if ($(s).prop("type") != "hidden") {
					o = $(s).find(":selected").val();
					if (o == "-1") {
						alert("Please select a value for each project field for each customer, or else delete the row.");
						$(s).focus();
						return false;
					}
				}
			}
		}

		if (total_entry_count == 0) {
			alert("You must add at least one customer in order to use this tool for other.");
			return false;
		}


		// create hidden fields for samples since multiple select lists are not submitting from modal
		for (var i=0; i<=current_entry_number; i++) {
			fn = "#chosen_sample__" + i;

			if ($(fn).val() != "") {
				var input = "<input type='hidden' name='selected_sample__" + i + "' value='" + $(fn).val() + "' />";
				$("#additional_event_parameters").append(input);
			}
		}


		$('#dialog_cancelled').val(false);
		$('#dialog').modal('hide');
		return true;
	}


	function on_load()
	{
		add_customer();
	}

	$(on_load);
	</script>
</div>
