<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">{{ event.tool }} usage details</h4>
</div>
<div class="modal-body">
	Operator: {{ event.operator }}<br>

{% if user == event.user or r.user.is_staff %}
	{% if event.project %}
		Project: {{ event.project }}<br>
	{% endif %}
	<table class="table">
		<thead>
			<tr>
				<th>Customer</th>
				<th>Project</th>
			</tr>
		</thead>
		<tbody>
			{% for r in rp %}
            <tr>
                <td>
                    Customers: {{ event.customer_string }}<br>
                </td>
                <td>
                    {% if event.project_string and event.project_string != "No projects" %}
                    Projects: {{ event.project_string }}<br>
                    {% elif event.project %}
                    Project: {{ event.project.project_number}} - {{ event.project.name }}<br>
                    {% else %}
                    Project: None<br>
                    {% endif %}
                </td>
            </tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}

	
	Tool: {{ event.tool }}<br>
	Start: {{ event.start }}<br>

	{% if event.end %}
	End: {{ event.end }}<br>
	{% else %}
	This tool is currently in use.<br>
	{% endif %}
	Identifier: {{ event.id }}<br>
</div>