{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Add area access record{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}


{% block content %}

{% if customer.in_area %}
	<h1>Currently Signed In</h1>
	<p>
	You are currently signed in to the {{ customer.area_access_record.area.name }} on the project {{ customer.area_access_record.areaaccessrecordproject_set.all.0.project }}
	<table class="table">
	<tr>
		<th>Customer</th>
		<th>Project</th>
		<th>Samples</th>
	</tr>
	{% for aarp in customer.area_access_record.areaaccessrecordproject_set.all %}
	<tr>
		<td>{{ aarp.customer }}</td>
		<td>{{ aarp.project }}</td>
		<td>
			<table>
			{% for s in aarp.areaaccessrecordprojectsample_set.all %}
			{% if s.active_flag %}
			<tr>
			<td style="width: 60%">{{ s.sample }}</td>
			<td>
			<textarea rows="2" cols="5" class="form-control" name="smpc__{{aarp.id}}__{{s.sample.id}}" id=="smpc__{{aarp.id}}__{{s.sample.id}}" onblur="save_sample_comment(this);">{% if s.notes is not None %}{{ s.notes }}{% endif %}</textarea>
			</td>
			<td><input type="button" class="btn btn-danger" value="-" onclick="remove_sample({{aarp.id}},{{s.sample.id}});" title="Remove this sample" /></td>
			</tr>
			{% endif %}
			{% endfor %}
			<tr><td colspan="2"><input type="button" class="btn btn-success" value="+New" onclick="add_run_sample({{aarp.project.id}},{{aarp.id}});" title="Add a new sample" /><input type="button" class="btn" value="+Existing" onclick="add_run_existing_sample({{aarp.project.id}},{{aarp.id}});" title="Add an existing sample" style="background-color: #0000ff; color: #ffffff" {% if aarp.project.sample_set.all.count == 0 %}disabled {% endif %}/></td></tr>
			</table>
		</td>
	</tr>
	{% endfor %}
	</table>
	You may sign out below.  The text field can be used to add a comment about your time.
	</p>
	<form action="{% url 'logout_of_area_form' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="area_access_record_id" value="{{ customer.area_access_record.id }}" />
		<label for="comment">Comment:</label>
		<textarea rows=6 cols=50 class="form-control" id="comment" name="comment" onblur="save_area_access_comment()">{% if customer.area_access_record.comment is not None %}{{ customer.area_access_record.comment }}{% endif %}</textarea>
		<input type="submit" class="btn btn-default" value="Logout of {{ customer.area_access_record.area.name }}" />
	</form>
	<script type="text/javascript">
	function save_area_access_comment()
	{
		ajax_get("{% url 'save_area_access_comment' %}",{ "area_access_id": {{ customer.area_access_record.id }}, "area_access_comment": $("#comment").val() }, undefined, undefined);
	}
	window.onunload = save_area_access_comment;
	function save_sample_comment(el)
	{
		aarp_id = $(el).prop("id").split("__")[1];
		sample_id = parseInt($(el).prop("id").split("__")[2]);

		ajax_post("{% url 'save_sample_comment' %}", { "aarp_id": aarp_id, "notes": $(el).val(), "sample_id": sample_id}, undefined, undefined);
	}

	function remove_sample(aarp_id, sample_id)
	{
		if (confirm("This will remove the sample from the current tool run.  Click OK to proceed or Cancel to abort the removal.")) {
			var data = {"aarp_id": aarp_id, "sample_id":sample_id}
			ajax_post("{% url 'remove_sample' %}",data,[reload_page],undefined);
		}
	}

	function add_run_sample(project_id, aarp_id)
	{
		// get the sample creation form for the project
		var url = "/modal_create_sample/" + project_id + "/";
		var ap = {
			"url": url,
			"data": {
				"modal_caller": "",
				"request_mode": "reservation", 
			},
			"type": "GET",
			"dataType": "html"
		};

		jQuery.ajax(ap)
			.fail(ajax_failure_callback("Oops, something went wrong!"))
			.done(function(response, status, xml_http_request)
			{
				if(response === "") {
					//refresh_calendar_and_sidebar();
				} else {
					$("#sample_dialog .modal-content").html(response);
					$("#sample_dialog").modal('show');
					$("#sample_dialog .modal-content form").submit(function() {
						event.preventDefault();
						$("#sample_dialog .modal-content form").off("submit");
						$.ajax({
							type: "POST",
							url: url,
							data: serialize("#sample_dialog .modal-content form"),
							success: function(response, status, xml_http_request) { 
								$("#sample_dialog").modal('hide');
								$("#sample_dialog .modal-content").html("");
								
								// create the UsageEventProjectSample record
								var add_sample_url = "/add_run_existing_sample/";
								var data = {"aarp_id":aarp_id,"sample_id":response,}
								ajax_post(add_sample_url, data, [reload_page], undefined, undefined);
							}
						});
					});
				}
			});


	}

	function add_run_existing_sample(project_id, aarp_id)
	{
		// display a list of existing samples for the project then create or restore a relationship to the sample in the 
		// UsageEventProjectSample table
		var url = "/modal_select_sample/" + project_id + "/";
		var ap = {
			"url": url,
			"data": {
				"modal_caller": "",
				"request_mode": "reservation", 
			},
			"type": "GET",
			"dataType": "html"
		};
	
		jQuery.ajax(ap)
			.fail(ajax_failure_callback("Oops, something went wrong!"))
			.done(function(response, status, xml_http_request)
			{
				if(response === "") {
					//refresh_calendar_and_sidebar();
				} else {
					$("#sample_dialog .modal-content").html(response);
					$("#sample_dialog").modal('show');
					$("#sample_dialog .modal-content form").submit(function() {
						event.preventDefault();
						$("#sample_dialog .modal-content form").off("submit");
						$("#sample_dialog").modal('hide');
									
						// create the UsageEventProjectSample record
						var add_sample_url = "/add_run_existing_sample/";
						var data = {"aarp_id":aarp_id,"sample_id":$("#select_sample").val(),}
						ajax_post(add_sample_url, data, [reload_page], undefined, undefined);
						$("#sample_dialog .modal-content").html("");
					});
				}
			});
	}

	function reload_page()
	{
		location.reload();
	}
	</script>
{% else %}
	<h1>New area access record</h1>
	<form id="access_form" action="{% url 'new_area_access_record' %}" class="form-horizontal" method="post" onsubmit="return on_submit();">
		{% csrf_token %}
		<input type="hidden" name="self_login_flag" value="{{ self_login_flag }}" />
		<div class="form-group">
			<div class="col-sm-12">
				Customer: {{ customer }}<br>
				<input type="hidden" name="customer" value="{{ customer.id }}">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				{% if customer.active_project_count == 1 %}
					Area access will be billed to the customer's only project, &quot;{{ customer.active_projects.0 }}&quot;
					<input type="hidden" name="project" value="{{ customer.active_projects.0.id }}">
				{% else %}
					Which of the customer's projects would you like to bill?
					<div class="radio">
						{% for p in customer.active_projects %}
							<label class="control-label"><input type="radio" name="project" value="{{ p.id }}" onclick="fetch_samples({{ p.id }}, false);" required> {{ p }}</label><br>
						{% endfor %}
					</div>
				{% endif %}
				<br/>
				<div id="live_sample"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				{% if areas|length == 1 %}
					The customer only has access to the {{ areas.0|lower }}. Access will be billed for that area.
					<input type="hidden" name="area" value="{{ areas.0.id }}">
				{% else %}
					{{ customer }} has access to the following areas. Which would you like to bill for access?
					<div class="radio">
						{% for a in areas %}
							<label class="control-label"><input type="radio" name="area" value="{{ a.id }}" required> {{ a }}</label><br>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<input type="submit" class="btn btn-success" value="Create area access record">
			</div>
		</div>
	</form>

	<h1>Ad Hoc Area Access Record</h1>

	<p>Use the form below to add a record for time spent in an area that wasn't captured in real time.  Note that this is only for time you've spent for personal project use.  If you were working on behalf of a customer, you can include an area access record with an ad hoc staff time charge.</p>

	<form id="ad_hoc_form" action="{% url 'ad_hoc_area_access_record' %}" class="form-horizontal" method="post" onsubmit="return check_ad_hoc_submit()">
	{% csrf_token %}

	<br/><br/>

	<table id="ad_hoc_entries" class="table">
		{% if request.user.is_staff or request.user.is_superuser %}
		<tr>
			<th>&nbsp;</th>
			<th>User</th>
			<td>
				<input type="text" class="form-control" id="area_user" name="area_user" />
				<input type="button" class="btn btn-default" style="display:none" id="area_user_button" onclick="purge_area_user();" />
			</td>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th>Project</th>
			<td id="user_projects">
				<div class="form-group">
				<select class="form-control" name="ad_hoc_project" id="ad_hoc_project" onchange="fetch_samples(this.options[this.selectedIndex].value, true);">

				</select>
				</div>
			</td>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th>Samples</th>
			<td id="sample">

			</td>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th>Area</th>
			<td>
				<div class="form-group">
				<select name="ad_hoc_area" id="ad_hoc_area" class="form-control">

				</select>
				</div>
			</td>
		</tr>
		{% else %}
		<tr>
			<th>&nbsp;</th>
			<th>Area</th>
			<td>
				<div class="form-group">
				<select name="ad_hoc_area" id="ad_hoc_area" class="form-control">
					{% for a in request.user.physical_access_levels.all %}
					<option value="{{ a.area.id }}">{{ a.area.name }}</option>
					{% endfor %}
				</select>
				</div>
			</td>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th>Project</th>
			<td>
				<div class="form-group">
				<select class="form-control" name="ad_hoc_project" id="ad_hoc_project" onchange="fetch_samples(this.options[this.selectedIndex].value, true);">
					{% for p in request.user.all_projects.all %}
					{% if p.active and not p.past_end_date %}
					<option value="{{ p.id }}">{{ p }}</option>
					{% endif %}
					{% endfor %}
				</select>
				</div>
			</td>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th>Samples</th>
			<td id="sample">

			</td>
			<th>&nbsp;</th>
		</tr>
		{% endif %}
		<tr>
			<th>&nbsp;</th>
			<th>Start</th>
			<td>
				<div class="datetimepicker-container">
					<input type="text" name="ad_hoc_start" id="ad_hoc_start" class="form-control" />
				</div>
			</td>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th>End</th>
			<td>
				<div class="datetimepicker-container">
					<input type="text" name="ad_hoc_end" id="ad_hoc_end" class="form-control" />
				</div>
			</td>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<th>Duration</th>
			<td>
				<div id="duration"></div>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="left" valign="top" style="align: left; vertical-align: top;">
				<div class="form-group">
				<label class="control-label col-sm-2" for="area_access_comment"><b>Comment / Purpose of Charge</b></label>
				<textarea class="form-control" name="area_access_comment" id="area_access_comment" rows="6" cols="50" placeholder="Please enter any comments about the reason for or details about the work performed"></textarea>
				</div>
			</td>
		</tr>
	</table>
	<input type="submit" class="btn btn-default" id="save_ad_hoc_area_access_record" value="Save Ad Hoc Area Access Record" />
	</form>

	<script type="text/javascript">
	var ss = [];

	function fetch_samples(project_id, ad_hoc)
	{
		var target_element;

		if (ad_hoc) {
			target_element = "#sample";
		} else {
			target_element = "#live_sample";
		}
		$(target_element).html("");

		var parameters =
		{
			"project_id": project_id,
			"entry_number": 0,
			"ad_hoc": ad_hoc
		};

		var url = "{% url 'get_samples' %}?" + jQuery.param(parameters);
		var report_error = ajax_complete_callback("Could not fetch samples for user", "There was a problem obtaining the list of samples for the user.");

		$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if (statusTxt != "success") {
				ajax_complete_callback("Could not fetch samples for the project", "There was a problem obtaining the list of samples for the project.");
			}
		});
	}

	function add_sample(project_id, entry_number, ad_hoc=false)
	{
		var sample_list = "#sample_id option:selected";

		$(sample_list).each(function() {
			ss.push(parseInt($(this).val()));
		});

		var url = "/modal_create_sample/" + project_id + "/";
		var ajax_post = {
			"url": url,
			"data": {
				"modal_caller": "",
				"request_mode": "reservation", 
			},
			"type": "GET",
			"dataType": "html"
		};

		jQuery.ajax(ajax_post)
			.fail(ajax_failure_callback("Oops, something went wrong!"))
			.done(function(response, status, xml_http_request)
			{
				if(response === "") {
					refresh_calendar_and_sidebar();
				} else {
					$("#sample_dialog .modal-content").html(response);
					$("#sample_dialog").modal('show');
					$("#sample_dialog .modal-content form").submit(function() {
						event.preventDefault();
						$("#sample_dialog .modal-content form").off("submit");
						$.ajax({
							type: "POST",
							url: url,
							data: serialize("#sample_dialog .modal-content form"),
							success: function(response, status, xml_http_request) { 
								ss.push(parseInt(response));
								//alert(ss.join("\n"));
								$("#sample_dialog").modal('hide');
								$("#sample_dialog .modal-content").html("");
								var sl = "#sample_id";
								if ($(sl).tagName == "SELECT") {
									$(sl).trigger("change");
								} else {
									fetch_samples(project_id, ad_hoc);
								}

							}
						});
					});
				}
			});
	}

	function check_ad_hoc_submit()
	{
		var start = $("#ad_hoc_start").val();
		var end = $("#ad_hoc_end").val();

		if (start == "") {
			alert("Please select a start time");
			$("#ad_hoc_start").focus();
			return false;
		} else {
			$("#ad_hoc_start").val(convert_12_to_24($("#ad_hoc_start").val()));
		}

		if (end == "") {
			alert("Please select an end time");
			$("#ad_hoc_end").focus();
			return false;
		} else {
			$("#ad_hoc_end").val(convert_12_to_24($("#ad_hoc_end").val()));
		}

		{% if request.is_staff or request.is_superuser %}
		// check for user
		if ($("#area_user").val() == "") {
			alert("Please select a user to assign to the area access record.");
			$("#area_user").focus();
			return false;
		}
		{% endif %}

		// check for project
		if ($("#ad_hoc_project").html() == "") {
			alert("Please select a user to get a list of available projects");
			$("#area_user").focus();
			return false;
		} else {
			if ($("#ad_hoc_project option:checked").val() == "") {
				alert("Please select a project to charge for this area access");
				$("#ad_hoc_project").focus();
				return false;
			}
		}

		// check for area
		if ($("#ad_hoc_area").html() == "") {
			alert("Please select a user to get a list of available areas");
			$("#area_user").focus();
			return false;
		} else {
			if ($("#ad_hoc_area option:checked").val() == "") {
				alert("Please select an area for the record");
				$("#ad_hoc_area").focus();
				return false;
			}
		}

		// check for samples
		if ($("#sample_id").length > 0) {
			if ($("#sample_id").val() != "") {
				var input = "<input type='hidden' name='selected_sample' value='" + $("#sample_id").val() + "' />";
				$("#ad_hoc_form").append(input);
			}
		}

		{% if show_confirm %}
		return confirm("Does everything on the form look ok?  Click OK to submit the form, or Cancel to edit the entries.");
		{% else %}
		return true;
		{% endif %}
	}

	function on_submit()
	{
		if ($("#sample_id").length > 0) { 
			if ($("#sample_id").val() != "") {
				var input = "<input type='hidden' name='selected_sample' value='" + $("#sample_id").val() + "' />";
				$("#access_form").append(input);
			}
		}

		return true;
	}

	function on_autocomplete_selection(jquery_event, search_selection, dataset_name)
	{
		var parameters = 
		{
			"source_template": "ad_hoc_area",
			"user_id": search_selection.id,
			"entry_number": 0,
			"ad_hoc": true,
		};
		$(this).typeahead('val', search_selection.id).hide();
		$("#area_user_button").val(search_selection.name).show();
		var url = "{% url 'get_projects' %}?" + jQuery.param(parameters);

		// reset projects for selected user
		$("#ad_hoc_project").html("");
		$("#ad_hoc_project").load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if(statusTxt != "success") {
				ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
			}
		});

		// reset areas for selected user
		$("#ad_hoc_area").html("");
		url = "{% url 'get_areas' %}?" + jQuery.param(parameters);
		$("#ad_hoc_area").load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if(statusTxt != "success") {
				ajax_complete_callback("Could not fetch areas for user", "There was a problem obtaining the list of areas for the user.");
			}
		});
	}

	function purge_area_user()
	{
		$("#area_user_button").hide();
		$("#ad_hoc_project").html("");
		$("#ad_hoc_area").html("");
		$("#area_user").typeahead('val', '').show().focus();
	}


	function on_load()
	{
		$("#ad_hoc_start").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A', minDate: '{{ start_date }} 00:00', maxDate: '{{ end_date }} 23:59'});
		$("#ad_hoc_end").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A', minDate: '{{ start_date }} 00:00', maxDate: '{{ end_date }} 23:59'});
		$("#ad_hoc_end").focus(function() {
			if ($(this).val() == "" && $("#ad_hoc_start").val() != "") {
				$(this).val($("#ad_hoc_start").val());
				$(this).datetimepicker('hide');
			}
		});
		$("#ad_hoc_start").on('dp.change', calculate_duration);
		$("#ad_hoc_end").on('dp.change', calculate_duration);
		{% if request.user.is_staff or request.user.is_superuser %}
		$("#area_user").autocomplete('user', on_autocomplete_selection, {{ users|json_search_base }});
		{% endif %}
	}

	$(on_load);
	</script>
{% endif %}
{% endblock %}
