{% load custom_tags_and_filters %}
{% if nanofab_occupants|length == 0 %}
	Nobody is in an access controlled laboratory area.
{% else %}
	Staff members are highlighted in <span class="success-highlight">green</span>.<p>
	{% regroup nanofab_occupants|dictsort:"area.name" by area as area_occupants %}
	{% for area in area_occupants %}
		{# Panel is used to make table borders rounded. #}
		<div class="panel panel-default">
			<table class="table table-bordered table-condensed">
				<thead>
				<tr>
					<th colspan="4">
						<span class="primary-highlight">{{ area.grouper }}</span>
						{% if area.list|length > 1 %}<span class="light-grey pull-right">{{ area.list|length }} people</span>{% endif %}
					</th>
				</tr>
				<tr>
					<th>User</th>
					<th>Since</th>
					<th>Working on project...</th>
				</tr>
				</thead>
				<tbody>
				{% for o in area.list %}
					<tr>
						<td>
							{% if user.is_staff and o.user.id is not None %}
							<span class="glyphicon glyphicon-remove-circle grey pointer" onclick="force_user_out_of_the_area('{% url 'force_area_logout' o.user.id %}')" title="Force {{ o.user }} to log out of the {{ o.area }}"></span>
							<span {% if o.user.is_staff %}class="success-highlight"{% endif %}>{{ o.user.first_name }} {{ o.user.last_name }}</span>
							{% elif user.is_staff and o.customer.id is not None%}
							<span class="glyphicon glyphicon-remove-circle grey pointer" onclick="force_user_out_of_the_area('{% url 'force_area_logout' o.customer.id %}')" title="Force {{ o.customer }} to log out of the {{ o.area }}"></span>
							<span {% if o.customer.is_staff %}class="success-highlight"{% endif %}>{{ o.customer.first_name }} {{ o.customer.last_name }}</span>
							{% else %}
							<span>{{ o.user.first_name }} {{ o.user.last_name }}</span>
							{% endif %}
						</td>
						<td>{{ o.start|date:"l, M jS @ g:i A" }}</td>
						<td>
							{% if o.project is not None %}
							{{ o.project }}
							{% else %}
							{% for aarp in aar_projects %}
								{% if o == aarp.area_access_record %}
								<p>{{ aarp.project }}</p>
								{% endif %}
							{% endfor %}
							{%endif%}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}
{% endif %}
