{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="application-name" content="Laboratory Equipment Operations (LEO)">
	<meta name="author" content="Center for Nanoscale Science and Technology">
	<meta name="description" content="LEO allows laboratory equipment users to make tool reservations, control access to tools in the lab, and streamline logistics and communication">
	<meta name="keywords" content="laboratory, logistics, operations, nano-technology, nano-fabrication, reservation, tool control, status">

	{# Snippet to prevent clickjacking. Taken from https://www.codemagi.com/blog/post/194 #}
	<style id="antiClickjack">body{display:none !important;}</style>
	<!--suppress JSValidateTypes -->
	<script type="text/javascript">
		if (self === top)
		{
			var antiClickjack = document.getElementById("antiClickjack");
			antiClickjack.parentNode.removeChild(antiClickjack);
		}
		else
			top.location = self.location;
	</script>

	<title>LEO - Laboratory Equipment Operations</title>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand">LEO</a>
		</div>
	</div>
</nav>
{% block content %}
	<div class="body-container">
		<div class="container">
			<h1>Core Selection</h1>
			<p>Please select the Core Facility to use for this session.</p>
			<p>
			<form method="POST" action="{% url 'choose_core' %}">

			{% csrf_token %}

			Core: <select name="core_id">
			{% for core in cores %}
				<option value="{{ core.id }}">{{ core.name }}</option>
			{% endfor %}
			</select>
			<br /><br />
			<input type="submit" class="btn btn-success form-control" style="width: 30%" value="Select Core">
			</form>
			</p>
		</div>
	</div>
{% endblock %}
{% block extra_whitespace %}{# Hide extra whitespace #}{% endblock %}
</body>
</html>
