{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="1800">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="application-name" content="Laboratory Equipment Operations (LEO)">
	<meta name="author" content="Center for Nanoscale Science and Technology">
	<meta name="description" content="LEO allows laboratory equipment users to make tool reservations, control access to tools in the lab, and streamline logistics and communication">
	<meta name="keywords" content="laboratory, logistics, operations, nano-technology, nano-fabrication, reservation, tool control, status">

	{# Snippet to prevent clickjacking. Taken from https://www.codemagi.com/blog/post/194 #}
	<style id="antiClickjack">body{display:none !important;}</style>
	<!--suppress JSValidateTypes -->
	<script type="text/javascript">
		if (self === top)
		{
			var antiClickjack = document.getElementById("antiClickjack");
			antiClickjack.parentNode.removeChild(antiClickjack);
		}
		else
			top.location = self.location;
	</script>

	<title>LEO - Laboratory Equipment Operations</title>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "microsoft/css/login.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
	{% if not is_popup and is_nav_sidebar_enabled %}
		<link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
		<script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
	{% endif %}
	<script type="text/javascript" src="{% static "jquery.js" %}"></script>

</head>
<body style="background-color: #199BD7;">
	<div align="center" width="100%">
	<img src="{% url 'media' "PSU-LEO_header.png" %}" alt="LEO Logo" >
	</div><br/><br/>
	<div class="container">

{% block content %}

	{% if form.errors and not form.non_field_errors %}
		<p class="errornote">
			{% if form.errors.items|length == 1 %}
				Please correct the error below.
			{% else %}
				Please correct the errors below.
			{% endif %}
		</p>
	{% endif %}

	{% if form.non_field_errors %}
		{% for error in form.non_field_errors %}
			<p class="errornote">
				{{ error }}
			</p>
		{% endfor %}
	{% endif %}

	<div id="content-main">
		<div id="notice" class="warning-highlight" style="display: none; color:white; background-color:#4444ff; font-weight: bold;">
		<h1 style="display: none; color:white; background-color:#4444ff; font-weight: bold;">New Authentication Method</h1>
		<p style="display: none; font-size: 16pt;">Due to a university requirement we have switched LEO’s sign on solution from Web Access to Microsoft Azure for increased security.  Your first login may end up with the unexpected result of a message stating you need to pass a tutorial prior to using LEO. This is the erroneous result of the creation of a new user account using your [username]@psu.edu email address. If this occurs please reach out to LEOHelp@psu.edu to resolve the problem.</p>
		</div>
		{% if user.is_authenticated %}
			<p class="errornote">
				You are authenticated as {{ username }}, but are not authorized to
				access this page. Would you like to login to a different account?
			</p>
		{% endif %}

		{% if microsoft_login_enabled %}
			<div class="center" id="login_cover" style="display: none;">
				<p style="color:white; background-color:#4444ff; font-weight: bold; font-size: 36pt;">&#8593;</p>
				<p style="color:white; background-color:#4444ff; font-weight: bold; font-size: 24pt;">Read this</p>
			</div>
			<div class="center" id="login_div">
				<div class="container">
					<div style="margin: 25px;">
						<button id="microsoft-login" class="button" type="button">PSU Microsoft Login</button>
					</div>
					<div style="display: none;">
						<p>or</p>
					</div>
					<div style="display: none;">
						<button id="password-login" class="button" type="button">Password</button>
					</div>
				</div>
			</div>
		{% endif %}

		<div id="login-container" class="{% if microsoft_login_enabled %}hide{% endif %}">
			<form action="{{ app_path }}" method="post" id="login-form">
				{% csrf_token %}

				<div class="form-row">
					{{ form.username.errors }}
					{{ form.username.label_tag }}
					{{ form.username }}
				</div>

				<div class="form-row">
					{{ form.password.errors }}
					{{ form.password.label_tag }}
					{{ form.password }}
					<input type="hidden" name="next" value="{{ next }}" />
				</div>

				{% url 'admin_password_reset' as password_reset_url %}
				{% if password_reset_url %}
					<div class="password-reset-link">
						<a href="{{ password_reset_url }}">Forgotten your password or username?</a>
					</div>
				{% endif %}

				<div class="submit-row">
					<label>&nbsp;</label>
					<input type="submit" value="Log in" />
				</div>

			</form>
		</div>
	</div>

{% endblock %}


	</div>

	<script>
	/*
	$(document).ready(function(){
	//	$("#notice").fadeOut(15000);
		$("#login_div").hide();
		$("#login_cover").fadeOut(5000, function() {
			$("#login_div").show();
		});
	});
	*/

	if(!navigator.cookieEnabled)
	{
		document.getElementById("login_form").style.display = "none";
		document.getElementById("cookie_error").style.display = "block";
	}

	function check_submit()
	{
		var user = document.getElementById("username");
		if (user.value == "") {
			alert("Please enter a username.");
			return false;
		}

		return true;
	}
	</script>

{% block footer %}

	{% if microsoft_login_enabled %}
		<script type="text/javascript" src="{% static 'microsoft/js/login.js' %}"></script>
		<script type="text/javascript">
		document.addEventListener("DOMContentLoaded",
			function(event) {
				window.microsoft.login = new window.microsoft.objects.LoginController({
					'authorization_url': '{{ microsoft_authorization_url }}'
				});
			});
		</script>
	{% endif %}
{% endblock %}

</body>
</html>
