{% extends "base.html" %}
{% block content %}
<h2>Order {{ order.id }} by {{ order.user.get_full_name }}</h2>
<p>The following items were included in this order:</p>
<ul>
    {% for item in order.items.all %}
    <li>{{ item.quantity }} {{ item.consumable.unit.abbreviation }} of {{ item.consumable.name }}</li>
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="order_id" value="{{ order.id }}">
    <button type="submit" class="btn btn-success">Mark as Fulfilled</button>
</form>
{% endblock %}