{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Transaction Validation{% endblock %}
{% block content %}
	<h1>Transaction validation</h1>

	<p>This page displays transactions conducted by laboratory staff on behalf of users. You can filter by which staff member performed the work, and
	when, by using the dropdown boxes below.</p>

	<p>Each charge can be validated, which means that you have confirmed that the charge is legitimate and correct, and no adjustment needs to
	be made to it. Press the green 'Validate' button on an individual row to validate a charge. Charges that have already been validated are
	highlighted in <span class="success-highlight">green</span>.</p>

	<p>Each charge can also be contested, which means that an adjustment is needed.  Press the yellow 'Contest' button on an individual row to contest the charge.  Charges that are already being contested are highlighted in <span class="warning-highlight">yellow</span>.</p>


	<form class="form-inline" role="form">
		<div class="form-group">
			<label class="control-label">View charges for
				{% if request.user.is_superuser %}
				<select name="operator" class="form-control">
					<option {% if selected_staff == "all staff" %}selected{% endif %}>all staff</option>
					{% for s in staff_list %}
						<option value="{{ s.id }}" {% if s.id == selected_staff %}selected{% endif %}>{{ s.last_name }}, {{ s.first_name }} ({{ s.username }})</option>
					{% endfor %}
				</select>
				{% else %}
				<input type="hidden" name="operator" value="{{ request.user.id}}" />
				{{ request.user.first_name }} {{ request.user.last_name }}
				{% endif %}
			</label>
		</div>
		<div class="form-group" style="margin-right:20px">
			<label class="control-label">during
				<select name="date" class="form-control">
					{% for month in month_list %}
						<option {% if selected_month == month|date:"F, Y" %}selected{% endif %}>{{ month|date:"F, Y" }}</option>
					{% endfor %}
				</select>
			</label>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="Update">
		</div>
	</form>

	{% if staff_charges is not None %}
	<h3>Staff charges</h3>
	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Staff member</th>
			<th>Customer</th>
			<th>Project</th>
			<th>Start - End</th>
			<th>Duration</th>
			<th>Validate</th>
			<th>Contest</th>
		</tr>
		</thead>
		<tbody>
		{% for c in staff_charges %}
			{% if c.contest_record is not None %}
			{% with c.contest_record.all.last as cr %}
			<tr {% if c.contested is True and cr.contest_resolved is True and cr.contest_resolution is False and c.validated is False %}class="danger-highlight"{% endif %} {% if c.contested is True and cr.contest_resolved is False and c.validated is False %}class="warning-highlight"{% endif %} {% if c.validated %}class="success-highlight"{% endif %} id="staff_charge_row_{{ forloop.counter }}">
				<td>{{ c.id }}</td>
				<td>{{ c.staff_member }}</td>
				<td>
				{% for s in c.customers.all %}
					{{ s.first_name }}&nbsp;{{ s.last_name }}<br/>
				{% endfor %}
				</td>
				<td>
				{% for p in c.projects.all %}
					{{ p.application_identifier }}<br/>
				{% endfor %}
				</td>
				<td>{{ c.start }} - <br/>{{ c.end }}</td>
				<td>{{ c.duration|smooth_timedelta }}</td>
				<td>{% if not c.validated %}<button {% if c.contested is True and cr.contest_resolved is False %}disabled{% endif %} class="btn btn-success" onclick="validate_charge('{% url 'validate_staff_charge' c.id %}', this, '#staff_charge_row_{{ forloop.counter }}')">Validate</button>{% endif %}</td>
				<td>
				{% if not c.validated %}
				<form action="{% url 'contest_staff_charge' c.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="staff_charge_id" value="{{ c.id }}" />
					<input type="submit" class="btn btn-warning" value="Contest" {% if c.contested is True and cr.contest_resolved is False %} style="pointer-events:auto;" disabled title="{{ cr.contest_description }}"{% endif %} {% if c.contested is True and cr.contest_resolved is True and cr.contest_resolution is False %} style="pointer-events:auto;" title="{{ cr.contest_rejection_reason }}"{% endif %} />
				</form>
				{% endif %}
				</td>
			</tr>
			{% endwith %}
			{% else %}
			<tr {% if c.contested is True %}class="warning-highlight"{% endif %} {% if c.validated %}class="success-highlight"{% endif %} id="staff_charge_row_{{ forloop.counter }}">
				<td>{{ c.id }}</td>
				<td>{{ c.staff_member }}</td>
				<td>
				{% for s in c.customers.all %}
					{{ s.first_name }}&nbsp;{{ s.last_name }}<br/>
				{% endfor %}
				</td>
				<td>
				{% for p in c.projects.all %}
					{{ p.application_identifier }}<br/>
				{% endfor %}
				</td>
				<td>{{ c.start }} - <br/>{{ c.end }}</td>
				<td>{{ c.duration|smooth_timedelta }}</td>
				<td>{% if not c.validated %}<button {% if c.contested is True %}disabled{% endif %} class="btn btn-success" onclick="validate_charge('{% url 'validate_staff_charge' c.id %}', this, '#staff_charge_row_{{ forloop.counter }}')">Validate</button>{% endif %}</td>
				<td>
				{% if not c.validated %}
				<form action="{% url 'contest_staff_charge' c.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="staff_charge_id" value="{{ c.id }}" />
					<input type="submit" class="btn btn-warning" value="Contest" />
				</form>
				{% endif %}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
	<br>
	{% endif %}

	{% if usage is not None %}
	<h3>Tool usage</h3>
	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Operator</th>
			<th>User</th>
			<th>Project</th>
			<th>Start - End</th>
			<th>Duration</th>
			<th>Tool</th>
			<th>Validate</th>
			<th>Contest</th>
		</tr>
		</thead>
		<tbody>
		{% for u in usage %}
			{% if u.contest_record is not None %}
			{% with u.contest_record.all.last as cr %}
			<tr {% if u.contested is True and cr.contest_resolved is True and cr.contest_resolution is False and u.validated is False %}class="danger-highlight"{% endif %} {% if u.contested is True and cr.contest_resolved is False %}class="warning-highlight"{% endif %} {% if u.validated %}class="success-highlight"{% endif %} id="usage_event_row_{{ forloop.counter }}">
				<td>{{ u.id }}</td>
				<td>{{ u.operator }}</td>
				<td>
				{% if u.customers %}
					{% for c in u.customers.all %}
						{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
					{% endfor %}
				{% else %}
					{{ u.user }}
				{% endif %}
				</td>
				<td>
				{% if u.projects %}
					{% for p in u.projects.all %}
						{{ p.application_identifier }}<br/>
					{% endfor %}
				{% else %}
					{{ u.project }}
				{% endif %}
				</td>
				<td>{{ u.start }} - <br/>{{ u.end }}</td>
				<td>{{ u.duration|smooth_timedelta }}</td>
				<td>{{ u.tool }}</td>
				<td>{% if not u.validated %}<button {% if u.contested is True and cr.contest_resolved is False %}disabled{% endif %} class="btn btn-success" onclick="validate_charge('{% url 'validate_usage_event' u.id %}', this, '#usage_event_row_{{ forloop.counter }}')">Validate</button>{% endif %}</td>
				<td>
				{% if not u.validated %}
					<form action="{% url 'contest_usage_event' u.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="usage_event_id" value="{{ u.id }}" />
					<input type="submit" class="btn btn-warning" value="Contest" {% if u.contested is True and cr.contest_resolved is False %} style="pointer-events:auto;" disabled title="{{ cr.contest_description }}"{% endif %} {% if u.contested is True and cr.contest_resolved is True and cr.contest_resolution is False %} style="pointer-events:auto;" title="{{ cr.contest_rejection_reason }}"{% endif %}/>
					</form>
				{% endif %}
				</td>
			</tr>
			{% endwith %}
			{% else %}
			<tr {% if u.contested is True %}class="warning-highlight"{% endif %} {% if u.validated %}class="success-highlight"{% endif %} id="usage_event_row_{{ forloop.counter }}">
				<td>{{ u.id }}</td>
				<td>{{ u.operator }}</td>
				<td>
				{% if u.customers %}
					{% for c in u.customers.all %}
						{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
					{% endfor %}
				{% else %}
					{{ u.user }}
				{% endif %}
				</td>
				<td>
				{% if u.projects %}
					{% for p in u.projects.all %}
						{{ p.application_identifier }}<br/>
					{% endfor %}
				{% else %}
					{{ u.project }}
				{% endif %}
				</td>
				<td>{{ u.start }} - <br/>{{ u.end }}</td>
				<td>{{ u.duration|smooth_timedelta }}</td>
				<td>{{ u.tool }}</td>
				<td>{% if not u.validated %}<button {% if u.contested is True %}disabled{% endif %} class="btn btn-success" onclick="validate_charge('{% url 'validate_usage_event' u.id %}', this, '#usage_event_row_{{ forloop.counter }}')">Validate</button>{% endif %}</td>
				<td>
				{% if not u.validated %}
					<form action="{% url 'contest_usage_event' u.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="usage_event_id" value="{{ u.id }}" />
					<input type="submit" class="btn btn-warning" value="Contest" />
					</form>
				{% endif %}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
	<br/>
	{% endif %}

	{% if consumable_withdraws is not None %}
	<h3>Consumable withdraws</h3>
	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Staff member</th>
			<th>Customer</th>
			<th>Project</th>
			<th>Consumable</th>
			<th>Quantity</th>
			<th>Withdraw date</th>
			<th>Validate</th>
			<th>Contest</th>
		</tr>
		</thead>
		<tbody>
		{% for w in consumable_withdraws %}
			{% if w.contest_record is not None %}
			{% with w.contest_record.all.last as cr %}
			<tr {% if w.contested is True and cr.contest_resolved is True and cr.contest_resolution is False and w.validated is False %}class="danger-highlight"{% endif %} {% if w.contested is True and cr.contest_resolved is False %}class="warning-highlight"{% endif %} {% if w.validated %}class="success-highlight"{% endif %} id="consumable_withdraw_row_{{ forloop.counter }}">
				<td>{{ w.id }}</td>
				<td>{{ w.merchant }}</td>
				<td>
				{% if w.customers %}
					{% for c in w.customers.all %}
						{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
					{% endfor %}
				{% else %}
					{{ w.customer }}
				{% endif %}
				</td>
				<td>
				{% if w.projects %}
					{% for p in w.projects.all %}
						{{ p.application_identifier }}<br/>
					{% endfor %}
				{% else %}
					{{ w.project }}
				{% endif %}
				</td>
				<td>{{ w.consumable }}</td>
				<td>{{ w.quantity }} {% if w.consumable.unit is not None %}{{ w.consumable.unit }}{% endif %}</td>
				<td>{{ w.date }}</td>
				<td>{% if not w.validated %}<button {% if w.contested is True and cr.contest_resolved is False %}disabled{% endif %} class="btn btn-success" onclick="validate_charge('{% url 'validate_consumable_withdraw' w.id %}', this, '#consumable_withdraw_row_{{ forloop.counter }}')">Validate</button>{% endif %}</td>
				<td>
				{% if not w.validated %}
					<form action="{% url 'contest_consumable_withdraw' w.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="consumable_withdraw_id" value="{{ w.id }}" />
					<input type="submit" class="btn btn-warning" value="Contest" {% if w.contested is True and cr.contest_resolved is False %} style="pointer-events:auto;" disabled title="{{ cr.contest_description }}"{% endif %} {% if w.contested is True and cr.contest_resolved is True and cr.contest_resolution is False %} style="pointer-events:auto;" title="{{ cr.contest_rejection_reason }}" {% endif %}/>
					</form>
				{% endif %}
				</td>
			</tr>
			{% endwith %}
			{% else %}
			<tr {% if w.contested is True %}class="warning-highlight"{% endif %} {% if w.validated %}class="success-highlight"{% endif %} id="consumable_withdraw_row_{{ forloop.counter }}">
				<td>{{ w.id }}</td>
				<td>{{ w.merchant }}</td>
				<td>
				{% if w.customers %}
					{% for c in w.customers.all %}
						{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
					{% endfor %}
				{% else %}
					{{ w.customer }}
				{% endif %}
				</td>
				<td>
				{% if w.projects %}
					{% for p in w.projects.all %}
						{{ p.application_identifier }}<br/>
					{% endfor %}
				{% else %}
					{{ w.project }}
				{% endif %}
				</td>
				<td>{{ w.consumable }}</td>
				<td>{{ w.quantity }} {% if w.consumable.unit is not None %}{{ w.consumable.unit }}{% endif %}</td>
				<td>{{ w.date }}</td>
				<td>{% if not w.validated %}<button {% if w.contested is True %}disabled{% endif %} class="btn btn-success" onclick="validate_charge('{% url 'validate_consumable_withdraw' w.id %}', this, '#consumable_withdraw_row_{{ forloop.counter }}')">Validate</button>{% endif %}</td>
				<td>
				{% if not w.validated %}
					<form action="{% url 'contest_consumable_withdraw' w.id %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="consumable_withdraw_id" value="{{ w.id }}" />
					<input type="submit" class="btn btn-warning" value="Contest" />
					</form>
				{% endif %}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
	<br/>
	{% endif %}

	{% if area_access_records is not None %}
	<h3>Area access records</h3>
	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Staff member</th>
			<th>Customer</th>
			<th>Project</th>
			<th>Start - End</th>
			<th>Duration</th>
			<th>Area</th>
			<th>Validate</th>
			<th>Contest</th>
		</tr>
		</thead>
		<tbody>
		{% for a in area_access_records %}
			{% if a.contest_record is not None %}
			{% with a.contest_record.all.last as cr %}
		<tr {% if a.contested is True and cr.contest_resolved is True and cr.contest_resolution is False and a.validated is False %}class="danger-highlight"{% endif %} {% if a.contested is True and cr.contest_resolved is False %}class="warning-highlight"{% endif %} {% if a.validated %}class="success-highlight"{% endif %} id="area_access_record_row_{{ forloop.counter }}">
			<td>{{ a.id }}</td>
			<td>{{ a.staff_charge.staff_member }}</td>
			<td>
			{% if a.customers %}
				{% for c in a.customers.all %}
					{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
				{% endfor %}
			{% else %}
				{{ u.user }}
			{% endif %}
			</td>
			<td>
			{% if a.projects %}
				{% for p in a.projects.all %}
					{{ p.application_identifier }}<br/>
				{% endfor %}
			{% else %}
				{{ a.project }}
			{% endif %}
			</td>
			<td>{{ a.start }} - {{ a.end }}</td>
			<td>{{ a.duration|smooth_timedelta }}</td>
			<td>{{ a.area }}</td>
			<td>{% if not a.validated %}<button {% if a.contested is True and cr.contest_resolved is False %}disabled{% endif %} class="btn btn-success" onclick="validate_charge('{% url 'validate_area_access_record' a.id %}', this, '#area_access_record_row_{{ forloop.counter }}')">Validate</button>{% endif %}</td>
			<td>
			{% if not a.validated %}
				<form action="{% url 'contest_area_access_record' a.id %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="area_access_record_id" value="{{ a.id }}" />
				<input type="submit" class="btn btn-warning" value="Contest" {% if a.contested is True and cr.contest_resolved is False %} style="pointer-events:auto;" disabled title="{{ cr.contest_description }}"{% endif %} {% if a.contested is True and cr.contest_resolved is True and cr.contest_resolution is False %} style="pointer-events:auto;" title="{{ cr.contest_rejection_reason }}" {% endif %}/>
				</form>
			{% endif %}
			</td>
		</tr>
			{% endwith %}
			{% else %}
		<tr {% if a.contested is True %}class="warning-highlight"{% endif %} {% if a.validated %}class="success-highlight"{% endif %} id="area_access_record_row_{{ forloop.counter }}">
			<td>{{ a.id }}</td>
			<td>{{ a.staff_charge.staff_member }}</td>
			<td>
			{% if a.customers %}
				{% for c in a.customers.all %}
					{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
				{% endfor %}
			{% else %}
				{{ u.user }}
			{% endif %}
			</td>
			<td>
			{% if a.projects %}
				{% for p in a.projects.all %}
					{{ p.application_identifier }}<br/>
				{% endfor %}
			{% else %}
				{{ a.project }}
			{% endif %}
			</td>
			<td>{{ a.start }} - {{ a.end }}</td>
			<td>{{ a.duration|smooth_timedelta }}</td>
			<td>{{ a.area }}</td>
			<td>{% if not a.validated %}<button {% if a.contested is True %}disabled{% endif %} class="btn btn-success" onclick="validate_charge('{% url 'validate_area_access_record' a.id %}', this, '#area_access_record_row_{{ forloop.counter }}')">Validate</button>{% endif %}</td>
			<td>
			{% if not a.validated %}
				<form action="{% url 'contest_area_access_record' a.id %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="area_access_record_id" value="{{ a.id }}" />
				<input type="submit" class="btn btn-warning" value="Contest" />
				</form>
			{% endif %}
			</td>
		 </tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
	{% endif %}

	<script>
		function validate_charge(url, button, row)
		{
			$(button).hide();
			$(button).parent().next().children().first().hide();
			$(row).addClass('success-highlight');
			var failure_dialog = ajax_failure_callback("Unable to validate charge");
			ajax_post(url, undefined, undefined, failure_dialog);
		}

		function contest_charge(url, button, row)
		{
			var description = prompt("What is the reason you're contesting this charge?  Please enter your reason below and click OK, or click Cancel to cancel the contest.");
			if (description != null) {
				$(button).hide();
				$(button).parent().prev().children().first().prop("disabled", true);
				$(row).addClass('warning-highlight');
				var failure_dialog = ajax_failure_callback("Unable to contest charge");
				ajax_post(url, {"description": description}, undefined, failure_dialog);
			}
		}
	</script>

{% endblock %}
