{% extends 'base.html' %}
{% load custom_tags_and_filters %}

{% block title %}{% if usage_event %}Usage Event{% endif %}{% if staff_charge %}Staff Charge{% endif %}{% if consumable_withdraw %}Consumable Withdraw{% endif %}{% if area_access_record %}Area Access Record{% endif %} Contest Resolution{% endblock %}

{% block content %}
	{% if usage_event %}
	<h1>Usage Event Contest Resolution</h1>

	<form action="{% url 'save_contest_resolution' %}" method="POST" onsubmit="return on_submit();">
		{% csrf_token %}
		<input type="hidden" value="{{ usage_event.id }}" name="usage_event_id" />
		<input type="hidden" value="{{ contest_type }}" name="contest_type" />
		{% autoescape off %}
		{{ review_form }}
		{% endautoescape %}

		{% if usage_event.consumable_usage_event.all.count > 0 %}
	<h3>Related Consumable Withdraws</h3>
	<p>The following items were automatically created by the system via the use of a tool that is configured to use consumables as part of its run.  They are listed here in case changes might be needed based on the contest resolution for this usage event.</p>

	<table class="table">
		<thead>
		<tr>
			<th>Staff member</th>
			<th>Customer</th>
			<th>Consumable</th>
			<th>Quantity</th>
			<th>Project</th>
			<th>Percent</th>
			<th>Withdraw date</th>
		</tr>
		</thead>
		<tbody>
			{% for c in usage_event.consumable_usage_event.all %}
		<tr>
			<td>{{ c.merchant }}</td>
			<td>{{ c.customer }}</td>
			<td>{{ c.consumable }}</td>
			<td>{{ c.quantity }}</td>
			<td>{{ c.project.application_identifier }} [{{ c.project }}]</td>
			<td>{{ c.project_percent }}</td>
			<td>{{ c.date }}</td>
		</tr>
			{% endfor %}
		</tbody>
	</table>
		{% endif %}
	<p>Do you wish to confirm this contest?
	<input type="radio" name="resolve_contest" id="resolve_contest" value="0" />No
	<input type="radio" name="resolve_contest" id="resolve_contest" value="1" />Yes
	</p>
	<p>
	If you choose not to accept the contest, please explain briefly why it's being rejected<br/>
	<textarea name="reject_contest_reason" id="reject_contest_reason" rows="10" cols="60"></textarea>
	</p>
	<p>
	Mark this transaction as no charge <input type="checkbox" name="no_charge_transaction" id="no_charge_transaction" value="1" /><br/>
	Note that selecting this option will only work if the "Yes" option above is chosen.  
	</p>

	<input type="submit" value="Save Resolution" class="btn btn-success" />
	<input type="button" value="Cancel Resolution" class="btn btn-warning" onclick="location.href='{% url 'review_contested_items' %}';" />
	</form>
	{% endif %}
	{% if staff_charge %}
	<h1>Staff Charge Contest Resolution</h1>

	<form action="{% url 'save_contest_resolution' %}" method="POST" onsubmit="return on_submit();">
		{% csrf_token %}
		<input type="hidden" name="staff_charge_id" value="{{ staff_charge.id }}" />
		<input type="hidden" value="{{ contest_type }}" name="contest_type" />
	{% autoescape off %}
	{{ review_form }}
	{% endautoescape %}

	<p>Do you wish to confirm this contest?
	<input type="radio" name="resolve_contest" id="resolve_contest" value="0" />No
	<input type="radio" name="resolve_contest" id="resolve_contest" value="1" />Yes
	</p>
	<p>
	If you choose not to accept the contest, please explain briefly why it's being rejected<br/>
	<textarea name="reject_contest_reason" id="reject_contest_reason" rows="10" cols="60"></textarea>
	</p>
	<p>
        Mark this transaction as no charge <input type="checkbox" name="no_charge_transaction" id="no_charge_transaction" value="1" /><br/>
        Note that selecting this option will only work if the "Yes" option above is chosen.
        </p>
	
	<input type="submit" value="Save Resolution" class="btn btn-success" />
	<input type="button" value="Cancel Resolution" class="btn btn-warning" onclick="location.href='{% url 'review_contested_items' %}';" />
	</form>
	{% endif %}


	{% if consumable_withdraw %}
	<h1>Consumable Withdraw Contest Resolution</h1>

	<form action="{% url 'save_contest_resolution' %}" method="POST" onsubmit="return on_submit();">
		{% csrf_token %}
		<input type="hidden"  name="consumable_withdraw_id" value="{{ consumable_withdraw.id }}" />
		<input type="hidden" value="{{ contest_type }}" name="contest_type" />
	{% autoescape off %}
	{{ review_form }}
	{% endautoescape %}

	<p>Do you wish to confirm this contest?
	<input type="radio" name="resolve_contest" id="resolve_contest" value="0" />No
	<input type="radio" name="resolve_contest" id="resolve_contest" value="1" />Yes
	</p>
	<p>
	If you choose not to accept the contest, please explain briefly why it's being rejected<br/>
	<textarea name="reject_contest_reason" id="reject_contest_reason" rows="10" cols="60"></textarea>
	</p>
	<p>
        Mark this transaction as no charge <input type="checkbox" name="no_charge_transaction" id="no_charge_transaction" value="1" /><br/>
        Note that selecting this option will only work if the "Yes" option above is chosen.
        </p>

	<input type="submit" value="Save Resolution" class="btn btn-success" />
	<input type="button" value="Cancel Resolution" class="btn btn-warning" onclick="location.href='{% url 'review_contested_items' %}';" />
	</form>
	{% endif %}

	{% if area_access_record %}
	<h1>Area Access Record Contest Resolution</h1>

	<form action="{% url 'save_contest_resolution' %}" method="POST" onsubmit="return on_submit();">
		{% csrf_token %}
		<input type="hidden" name="area_access_record_id" value="{{ area_access_record.id }}" />
		<input type="hidden" value="{{ contest_type }}" name="contest_type" />
	{% autoescape off %}
	{{ review_form }}
	{% endautoescape %}

	<p>Do you wish to confirm this contest?
	<input type="radio" name="resolve_contest" id="resolve_contest" value="0" />No
	<input type="radio" name="resolve_contest" id="resolve_contest" value="1" />Yes
	</p>
	<p>
	If you choose not to accept the contest, please explain briefly why it's being rejected<br/>
	<textarea name="reject_contest_reason" id="reject_contest_reason" rows="10" cols="60"></textarea>
	</p>
	<p>
        Mark this transaction as no charge <input type="checkbox" name="no_charge_transaction" id="no_charge_transaction" value="1" /><br/>
        Note that selecting this option will only work if the "Yes" option above is chosen.
        </p>

	<input type="submit" value="Save Resolution" class="btn btn-success" />
	<input type="button" value="Cancel Resolution" class="btn btn-warning" onclick="location.href='{% url 'review_contested_items' %}';" />
	</form>
	{% endif %}

	<script type="javascript">
	function on_submit()
	{
		if (!$("#resolve_contest[value='0'].selected && !$("#resolve_contest[value='1'].selected)
		{
			alert("Please select either 'Yes' or 'No' to resolve this contest");
			$("#resolve_contest[value='0'].focus();
			return false;
		}

		if ($("#resolve_contest[value='0'].selected && $("#reject_contest_reason").val() == "") {
			alert("Please provide a reason to reject the proposed resolution to this contest.");
			$("#reject_contest_reason").focus();
			return false;
		}

		return true;
	}
	</script>
	
{% endblock %}
