{% extends 'base.html' %}
{% load custom_tags_and_filters %}

{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}"/>
{% endblock %}

{% block title %}Contest {{ contest_type }}{% endblock %}

{% block content %}
	<h1>Contest {{ contest_type }}</h1>

	<p>You have selected the {{ contest_type }} detailed below to contest.  Please select a general reason this item should be contested and enter a description of the specifics.  Once this form is submitted the {{ contest_type }} will be placed in contested status until an administrator can review the record and address it as needed.</p>

	<form name="contest" id="contest" action="{% url 'save_contest' %}" method="POST" onsubmit="return on_submit();">
	{% csrf_token %}
	<input type="hidden" name="contest_type" value="{{ contest_type }}" />
	{% if usage_event is not None %}
	<input type="hidden" name="usage_event_id" value="{{ usage_event.id }}" />
	<table class="table">
		<tr>
			<th>Tool</th>
			<td>
				<select id="tool_select" name="proposed__tool_id__{{ usage_event.id }}" class="form-control">
				{% for t in tools %}
					<option value="{{ t.id }}"{% if t.id == usage_event.tool.id %} selected{% endif %}>{{ t.name }}</option>
				{% endfor %}
				</select>
				<input type="hidden" name="original__tool_id__{{ usage_event.id }}" value="{{ usage_event.tool.id }}" />
			</td>
		</tr>
		<tr>
			<th>Start</th>
			<td>
				<div class="datetimepicker-container">
					<input type="text" class="form-control" name="proposed__start__{{ usage_event.id }}" id="proposed__start__{{ usage_event.id }}" value="{{ usage_event.start|date:'Y-m-d H:i:s' }}" />
				</div>
				<input type="hidden" name="original__start__{{ usage_event.id }}" value="{{ usage_event.start|date:'Y-m-d H:i:s' }}" />
			</td>
		</tr>
		<tr>
			<th>End</th>
			<td>
				<div class="datetimepicker-container">
					<input type="text" class="form-control" name="proposed__end__{{ usage_event.id }}" id="proposed__end__{{ usage_event.id }}" value="{{ usage_event.end|date:'Y-m-d H:i:s' }}" />
				</div>
				<input type="hidden" name="original__end__{{ usage_event.id }}" value="{{ usage_event.end|date:'Y-m-d H:i:s' }}" />
			</td>
		</tr>
		<tr>
			<th>Operator</th>
			<td>{{ usage_event.operator }}</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table">
					<thead>
					<tr>
						<th>Customer</th>
						<th>Project</th>
						<th>Percent</th>
					</tr>
					</thead>
					<tbody>
					{% for u in uep %}
					<tr id="row_{{ u.id }}">
						<td>
							<input type="button" class="btn btn-default" value="{{ u.customer }}" name="button__chosen_user__{{ u.id }}" id="button__chosen_user__{{ u.id }}" onclick="change_customer({{ u.id }});" />
							<input type="hidden" value="{{ u.customer.id }}" name="original__chosen_user__{{ u.id }}" id="original__chosen_user__{{ u.id }}" />
							<input type="text" class="form-control" id="proposed__chosen_user__{{ u.id }}" name="proposed__chosen_user__{{ u.id }}" value="{{ u.customer.id }}" data-row="{{ u.id }}" style="display: none;" />
						</td>
						<td id="user_project__{{ u.id }}">
							{% if u.customer.active_project_count == 1 %}
								{{ u.project.application_identifier }}
								<input type="hidden" name="proposed__chosen_project__{{ u.id }}" value="{{ u.project.id }}" />
							{% else %}
							<select name="proposed__chosen_project__{{ u.id }}" id="proposed__chosen_project__{{ u.id }}" class="form-control">
								{% for p in u.customer.active_projects %}
								<option value="{{ p.id }}"{% if p == u.project %} selected{% endif %}>{{ p.application_identifier }} [{{ p }}]</option>
								{% endfor %}
							</select>
							{% endif %}
						</td>
						<td>
							<input type="text" class="form-control" name="proposed__project_percent__{{ u.id }}" id="proposed__project_percent__{{ u.id }}" value="{{ u.project_percent }}" />
							<input type="hidden" name="original__project_percent__{{ u.id }}" value="{{ u.project_percent }}" />
							<input type="hidden" name="original__chosen_project__{{ u.id }}" value="{{ u.project.id }}" />
						</td>
					</tr>	
					{% endfor %}
					</tbody>
				</table>
			</td>
		</tr>
	</table>
	<script type="text/javascript">
	$("#proposed__start__{{ usage_event.id }}").datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
	$("#proposed__end__{{ usage_event.id }}").datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
	</script>
	{% endif %}

	{% if staff_charge is not None %}
	<input type="hidden" name="staff_charge_id" value="{{ staff_charge.id }}" />
	<table class="table">
		<tr>
			<th>Staff Member</th>
			<td>{{ staff_charge.staff_member }}</td>
		</tr>
		<tr>
			<th>Start</th>
			<td>
				<div class="datetimepicker-container">
					<input type="text" class="form-control" name="proposed__start__{{ staff_charge.id }}" id="proposed__start__{{ staff_charge.id }}" value="{{ staff_charge.start|date:'Y-m-d H:i:s' }}" />
				</div>
				<input type="hidden" name="original__start__{{ staff_charge.id }}" value="{{ staff_charge.start|date:'Y-m-d H:i:s' }}" />
			</td>
		</tr>
		<tr>
			<th>End</th>
			<td>
				<div class="datetimepicker-container">
					<input type="text" class="form-control" name="proposed__end__{{ staff_charge.id }}" id="proposed__end__{{ staff_charge.id }}" value="{{ staff_charge.end|date:'Y-m-d H:i:s' }}" />
				</div>
				<input type="hidden" name="original__end__{{ staff_charge.id }}" value="{{ staff_charge.end|date:'Y-m-d H:i:s' }}" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table">
					<thead>
					<tr>
						<th>Customer</th>
						<th>Project</th>
						<th>Percent</th>
					</tr>
					</thead>
					<tbody>
					{% for s in scp %}
					<tr id="row_{{ s.id }}">
						<td>
							<input type="button" class="btn btn-default" value="{{ s.customer }}" name="button__chosen_user__{{ s.id }}" id="button__chosen_user__{{ s.id }}" onclick="change_customer({{ s.id }});" />
							<input type="hidden" value="{{ s.customer.id }}" name="original__chosen_user__{{ s.id }}" id="original__chosen_user__{{ s.id }}" />
							<input type="text" class="form-control" id="proposed__chosen_user__{{ s.id }}" name="proposed__chosen_user__{{ s.id }}" value="{{ s.customer.id }}" data-row="{{ s.id }}" style="display: none;" />
						</td>
						<td id="user_project__{{ s.id }}">
							{% if s.customer.active_project_count == 1 %}
								{{ s.project.application_identifier }}
								<input type="hidden" name="proposed__chosen_project__{{ s.id }}" value="{{ s.project.id }}" />
							{% else %}
							<select name="proposed__chosen_project__{{ s.id }}" id="proposed__chosen_project__{{ s.id }}" class="form-control">
								{% for p in s.customer.active_projects %}
								<option value="{{ p.id }}"{% if p == s.project %} selected{% endif %}>{{ p.application_identifier }} [{{ p }}]</option>
								{% endfor %}
							</select>
							{% endif %}
						</td>
						<td>
							<input type="text" class="form-control" name="proposed__project_percent__{{ s.id }}" id="proposed__project_percent__{{ s.id }}" value="{{ s.project_percent }}" />
							<input type="hidden" name="original__project_percent__{{ s.id }}" value="{{ s.project_percent }}" />
							<input type="hidden" name="original__chosen_project__{{ s.id }}" value="{{ s.project.id }}" />
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</td>
		</tr>
	</table>
        <script type="text/javascript">
        $("#proposed__start__{{ staff_charge.id }}").datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
        $("#proposed__end__{{ staff_charge.id }}").datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
        </script>
	{% endif %}

	{% if area_access_record is not None %}
	<input type="hidden" name="area_access_record_id" value="{{ area_access_record.id }}" />
	<table class="table">
		<tr>
			<th>Area</th>
			<td>
				<select name="proposed__area__{{ area_access_record.id }}" id="proposed__area__{{ area_access_record.id }}" class="form-control">
				{% for a in areas %}
					<option value="{{ a.id }}" {% if a == area_access_record.area %}selected{% endif %}>{{ a }}</option>
				{% endfor %}
				</select>
				<input type="hidden" name="original__area__{{ area_access_record.id }}" id="proposed__area__{{ area_access_record.id }}" value="{{ area_access_record.area.id }}" />
			</td>
		</tr>
		<tr>
			<th>Staff Member</th>
			<td>{{ area_access_record.staff_charge.staff_member }}</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table">
					<thead>
					<tr>
						<th>Customer</th>
						<th>Project</th>
						<th>Percent</th>
					</tr>
					</thead>
					<tbody>
					{% for a in aarp %}
					<tr id="row_{{ a.id }}">
						<td>
							<input type="button" class="btn btn-default" value="{{ a.customer }}" name="button__chosen_user__{{ a.id }}" id="button__chosen_user__{{ a.id }}" onclick="change_customer({{ a.id }});" />
							<input type="hidden" value="{{ a.customer.id }}" name="original__chosen_user__{{ a.id }}" id="original__chosen_user__{{ a.id }}" />
							<input type="text" class="form-control" id="proposed__chosen_user__{{ a.id }}" name="proposed__chosen_user__{{ a.id }}" value="{{ a.customer.id }}" data-row="{{ a.id }}" style="display: none;" />
						</td>
						<td id="user_project__{{ a.id }}">
							{% if a.customer.active_project_count == 1 %}
								{{ a.project.application_identifier }}
								<input type="hidden" name="proposed__chosen_project__{{ a.id }}" value="{{ a.project.id }}" />
							{% else %}
							<select name="proposed__chosen_project__{{ a.id }}" id="proposed__chosen_project__{{ a.id }}" class="form-control">
								{% for p in a.customer.active_projects %}
								<option value="{{ p.id }}"{% if p == a.project %} selected{% endif %}>{{ p.application_identifier }} [{{ p }}]</option>
								{% endfor %}
							</select>
							{% endif %}
						</td>
						<td>
							<input type="text" class="form-control" name="proposed__project_percent__{{ a.id }}" id="proposed__project_percent__{{ a.id }}" value="{{ a.project_percent }}" />
							<input type="hidden" name="original__project_percent__{{ a.id }}" value="{{ a.project_percent }}" />
							<input type="hidden" name="original__chosen_project__{{ a.id }}" value="{{ a.project.id }}" />
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<th>Start</th>
			<td>
				<div class="datetimepicker-container">
					<input type="text" class="form-control" name="proposed__start__{{ area_access_record.id }}" id="proposed__start__{{ area_access_record.id }}" value="{{ area_access_record.start|date:'Y-m-d H:i:s' }}" />
				</div>
				<input type="hidden" name="original__start__{{ area_access_record.id }}" value="{{ area_access_record.start|date:'Y-m-d H:i:s' }}" />
			</td>
		</tr>
		<tr>
			<th>End</th>
			<td>
				<div class="datetimepicker-container">
					<input type="text" class="form-control" name="proposed__end__{{ area_access_record.id }}" id="proposed__end__{{ area_access_record.id }}" value="{{ area_access_record.end|date:'Y-m-d H:i:s' }}" />
				</div>
				<input type="hidden" name="original__end__{{ area_access_record.id }}" value="{{ area_access_record.end|date:'Y-m-d H:i:s' }}" />
			</td>
		</tr>
		<tr>
			<th>Duration</th>
			<td>{{ area_access_record.duration|smooth_timedelta }}</td>
		</tr>
	</table>
	<script type="text/javascript">
	$("#proposed__start__{{ area_access_record.id }}").datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
	$("#proposed__end__{{ area_access_record.id }}").datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
	</script>
	{% endif %}

	{% if consumable_withdraw is not None %}
	<input type="hidden" name="consumable_withdraw_id" value="{{ consumable_withdraw.id }}" />
	<table class="table">
		<tr>
			<th>Consumable</th>
			<td>
				<select name="proposed__consumable__{{ consumable_withdraw.id }}" id="proposed__consumable__{{ consumable_withdraw.id }}" class="form-control">
				{% for c in consumables %}
					<option value="{{ c.id }}" {% if c == consumable_withdraw.consumable %}selected{% endif %}>{{ c.name }}</option>
				{% endfor %}
				</select>
				<input type="hidden" name="original__consumable__{{ consumable_withdraw.id }}" id="original__consumable__{{ consumable_withdraw.id }}" value="{{ consumable_withdraw.consumable.id }}" />
			</td>
		</tr>
		<tr>
			<th>Quantity</th>
			<td>
				<input type="text" class="form-control" value="{{ consumable_withdraw.quantity }}" name="proposed__quantity__{{ consumable_withdraw.id }}" id="proposed__quantity__{{ consumable_withdraw.id }}" /> {% if consumable_withdraw.consumable.unit is not None %}{{ consumable_withdraw.consumable.unit }}{% endif %}
				<input type="hidden" value="{{ consumable_withdraw.quantity }}" name="original__quantity__{{ consumable_withdraw.id }}" id="original__quantity__{{ consumable_withdraw.id }}" />
			</td>
		</tr>
		<tr>
			<th>Staff member</th>
			<td>{{ consumable_withdraw.merchant }}</td>
		</tr>
		<tr>
			<th>Customer</th>
			<td>
				<input type="button" class="btn btn-default" value="{{ consumable_withdraw.customer }}" name="button__chosen_user__{{ consumable_withdraw.id }}" id="button__chosen_user__{{ consumable_withdraw.id }}" onclick="change_customer({{ consumable_withdraw.id }});" />
				<input type="hidden" value="{{ consumable_withdraw.customer.id }}" name="original__chosen_user__{{ consumable_withdraw.id }}" id="original__chosen_user__{{ consumable_withdraw.id }}" />
				<input type="text" class="form-control" id="proposed__chosen_user__{{ consumable_withdraw.id }}" name="proposed__chosen_user__{{ consumable_withdraw.id }}" value="{{ consumable_withdraw.customer.id }}" data-row="{{ consumable_withdraw.id }}" style="display: none;" />
				<input type="hidden" name="original__chosen_project__{{ consumable_withdraw.id }}" value="{{ consumable_withdraw.project.id }}" />
			</td>
		</tr>
		<tr>
			<th>Project</th>
			<td id="user_project__{{ consumable_withdraw.id }}">
				{% if consumable_withdraw.customer.active_project_count == 1 %}
					{{ consumable_withdraw.project.application_identifier }}
					<input type="hidden" name="proposed__chosen_project__{{ consumable_withdraw.id }}" value="{{ consumable_withdraw.project.id }}" />
				{% else %}
					<select name="proposed__chosen_project__{{ consumable_withdraw.id }}" id="proposed__chosen_project__{{ consumable_withdraw.id }}" class="form-control">
						{% for p in consumable_withdraw.customer.active_projects %}
						<option value="{{ p.id }}"{% if p == consumable_withdraw.project %} selected{% endif %}>{{ p.application_identifier }} [{{ p }}]</option>
						{% endfor %}
					</select>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>Percent</th>
			<td>
				<input type="hidden" name="original__project_percent__{{ consumable_withdraw.id }}" value="{{ consumable_withdraw.project_percent }}" />
				<input type="text" class="form-control" id="proposed__project_percent__{{ consumable_withdraw.id }}" name="proposed__project_percent__{{ consumable_withdraw.id }}" value="{{ consumable_withdraw.project_percent }}" />
			</td>
		</tr>
		<tr>
			<th>Withdraw date</th>
			<td>{{ consumable_withdraw.date }}</td>
		</tr>
	</table>
	{% endif %}

	<table class="table">
		<tr>
			<td>
				<label for="contest_reason">Contest Reason
				<select class="form-control" name="contest_reason" id="contest_reason">
					<option value="">Please select a contest reason</option>
					<option value="Equipment error">Equipment error</option>
					<option value="Sample rework">Sample rework</option>
					<option value="Forgot to log out">Forgot to log out</option>
					<option value="Erroneous percentage assignments">Erroneous percentage assignments</option>
					<option value="Incorrect project selection">Incorrect project selection</option>
					<option value="Other">Other</option>
				</select>
				</label>
				<input class="form-control" type="text" value="" placeholder="Enter an other reason for contest" name="other_reason" id="other_reason" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="contest_description">Contest Description
				<textarea class="form-control" rows="10" cols="100" name="contest_description" id="contest_description"></textarea>
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" class="btn btn-default" value="Contest {{ contest_type }}" />
			</td>
		</tr>
	</table>
	</form>

	<script type="text/javascript">
	function set_other(sel)
	{
		option = sel.options[sel.selectedIndex].value;
		if (option == "Other") {
			$("#other_reason").show();
		} else {
			$("#other_reason").hide();
		}
	}
	function on_submit()
	{
		if ($("#contest_reason").val() == "") {
			alert("Please select a reason for contesting this {{ contest_type }}.");
			$("#contest_reason").focus();
			return false;
		}
		/*if ($("#contest_reason").val() == "Other" && $("#other_reason").val() == "") {
			alert("Please enter your other reason for contesting this {{ contest_type }}.");
			$("#other_reason").focus();
			return false;
		}*/
		if ($("#contest_description").val() == "") {
			alert("Please enter a contest description.");
			$("#contest_description").focus();
			return false;
		}
		return true;
	}
	function change_customer(i)
	{
		
		// update textbox
		var selector = "#proposed__chosen_user__" + i;
		$(selector).val("");
		$(selector).show();
		// hide button
		selector = "#button__chosen_user__" + i;
		$(selector).hide();
		// clear projects
		selector = "#user_project__" + i;
		$(selector).html("");
		// clear percent value
		selector = "#proposed__project_percent__" + i;
		$(selector).val("");
	}
	function enable_autocompletion(i)
	{
		var selector = "#proposed__chosen_user__" + i;
		$(selector).autocomplete('user', on_autocomplete_selection, {{ users|json_search_base }});
	}
	function on_autocomplete_selection(jquery_event, search_selection, dataset_name)
	{
		$(this).typeahead('val', search_selection.id).hide();
		var row = $(this).data('row');
		var button_id = "#button__chosen_user__" + row;
		$(button_id).val(search_selection.name).show();
		if(dataset_name == "user")
			fetch_projects(row, search_selection.id);
	}
	function fetch_projects(row, user_id)
	{
		var parameters =
		{
			"source_template": "staff_charges",
			"user_id": user_id,
			"entry_number": row,
			"ad_hoc": true,
		};
		var target_element = "#user_project__" + row;
		var url = "{% url 'get_projects' %}?" + jQuery.param(parameters);
		var report_error = ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
		$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
			if(statusTxt != "success") {
				ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
			} else {
				// rename newly created project list
				var s = "#chosen_project__" + row;
				var n = "proposed__chosen_project__" + row;
				$(s).attr("name", n);
				$(s).attr("id", n);
			}
		});
	}
	function on_load()
	{
		$("#other_reason").hide();

		{% if usage_event is not None %}
			{% for u in uep %}
		enable_autocompletion({{ u.id }});
			{% endfor %}
		{% endif %}
		{% if staff_charge is not None %}
			{% for s in scp %}
		enable_autocompletion({{ s.id }});
			{% endfor %}
		{% endif %}
		{% if area_access_record is not None %}
			{% for a in aarp %}
		enable_autocompletion({{ a.id }});
			{% endfor %}
		{% endif %}
		{% if consumable_withdraw is not None %}
		enable_autocompletion({{ consumable_withdraw.id }});
		{% endif %}
	}
	$(on_load);
	</script>
{% endblock %}
