{% extends 'base.html' %}
{% load custom_tags_and_filters %}

{% block title %}Contest {{ contest_type }}{% endblock %}

{% block content %}
	<h1>Contest {{ contest_type }}</h1>

	<p>You have selected the {{ contest_type }} detailed below to contest.  Please select a general reason this item should be contested and enter a description of the specifics.  Once this form is submitted the {{ contest_type }} will be placed in contested status until an administrator can review the record and address it as needed.</p>

	<form name="contest" id="contest" action="{% url 'save_contest' %}" method="POST" onsubmit="return on_submit();">
	{% csrf_token %}
	<input type="hidden" name="contest_type" value="{{ contest_type }}" />
	{% if usage_event is not None %}
	<input type="hidden" name="usage_event_id" value="{{ usage_event.id }}" />
	<table class="table">
		<tr>
			<th>Tool</th>
			<td>{{ usage_event.tool }}</td>
		</tr>
		<tr>
			<th>Start</th>
			<td>{{ usage_event.start }}</td>
		</tr>
		<tr>
			<th>End</th>
			<td>{{ usage_event.end }}</td>
		</tr>
		<tr>
			<th>Operator</th>
			<td>{{ usage_event.operator }}</td>
		</tr>
		<tr>
			<th>Project(s)</th>
			<td>
			{% for p in usage_event.projects.all %}
				{{ p.application_identifier }}<br/>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Customer(s)</th>
			<td>
			{% for c in usage_event.customers.all %}
				{{ c.first_name }} {{ c.last_name }}<br/>
			{% endfor %}
			</td>
		</tr>
	</table>
	{% endif %}

	{% if staff_charge is not None %}
	<input type="hidden" name="staff_charge_id" value="{{ staff_charge.id }}" />
	<table class="table">
		<tr>
			<th>Staff Member</th>
			<td>{{ staff_charge.staff_member }}</td>
		</tr>
		<tr>
			<th>Start</th>
			<td>{{ staff_charge.start }}</td>
		</tr>
		<tr>
			<th>End</th>
			<td>{{ staff_charge.end }}</td>
		</tr>
		<tr>
			<th>Project(s)</th>
			<td>
			{% for p in staff_charge.projects.all %}
				{{ p.application_identifier }}<br/>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Customer(s)</th>
			<td>
			{% for c in staff_charge.customers.all %}
				{{ c.first_name }} {{ c.last_name }}<br/>
			{% endfor %}
			</td>
		</tr>
	</table>
	{% endif %}

	{% if area_access_record is not None %}
	<input type="hidden" name="area_access_record_id" value="{{ area_access_record.id }}" />
	<table class="table">
		<tr>
			<th>Area</th>
			<td>{{ area_access_record.area }}</td>
		</tr>
		<tr>
			<th>Staff Member</th>
			<td>{{ area_access_record.staff_charge.staff_member }}</td>
		</tr>
		<tr>
			<th>Customer</th>
			<td>
			{% for c in area_access_record.customers.all %}
				{{ c.first_name }} {{ c.last_name }}<br/>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Project</th>
			<td>
			{% for p in area_access_record.projects.all %}
				{{ p.application_identifier }}<br/>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Start - End</th>
			<td>{{ area_access_record.start }} - {{ area_access_record.end }}</td>
		</tr>
		<tr>
			<th>Duration</th>
			<td>{{ area_access_record.duration|smooth_timedelta }}</td>
		</tr>
	</table>
	{% endif %}

	{% if consumable_withdraw is not None %}
	<input type="hidden" name="consumable_withdraw_id" value="{{ consumable_withdraw.id }}" />
	<table class="table">
		<tr>
			<th>Consumable</th>
			<td>{{ consumable_withdraw.consumable }}</td>
		</tr>
		<tr>
			<th>Quantity</th>
			<td>{{ consumable_withdraw.quantity }} {% if consumable_withdraw.consumable.unit is not None %}{{ consumable_withdraw.consumable.unit }}{% endif %}</td>
		</tr>
		<tr>
			<th>Staff member</th>
			<td>{{ consumable_withdraw.merchant }}</td>
		</tr>
		<tr>
			<th>Customer</th>
			<td>{{ consumable_withdraw.customer }}</td>
		</tr>
		<tr>
			<th>Project</th>
			<td>{{ consumable_withdraw.project }}</td>
		</tr>
		<tr>
			<th>Withdraw date</th>
			<td>{{ consumable_withdraw.date }}</td>
		</tr>
	</table>
	{% endif %}

	<table class="table">
		<tr>
			<td>
				<label for="contest_reason">Contest Reason
				<select class="form-control" name="contest_reason" id="contest_reason">
					<option value="">Please select a contest reason</option>
					<option value="Equipment error">Equipment error</option>
					<option value="Sample rework">Sample rework</option>
					<option value="Forgot to log out">Forgot to log out</option>
					<option value="Erroneous percentage assignments">Erroneous percentage assignments</option>
					<option value="Incorrect project selection">Incorrect project selection</option>
					<option value="Other">Other</option>
				</select>
				</label>
				<input class="form-control" type="text" value="" placeholder="Enter an other reason for contest" name="other_reason" id="other_reason" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="contest_description">Contest Description
				<textarea class="form-control" rows="10" cols="100" name="contest_description" id="contest_description"></textarea>
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" class="btn btn-default" value="Contest {{ contest_type }}" />
			</td>
		</tr>
	</table>
	</form>

	<script type="text/javascript">
	function set_other(sel)
	{
		option = sel.options[sel.selectedIndex].value;
		if (option == "Other") {
			$("#other_reason").show();
		} else {
			$("#other_reason").hide();
		}
	}
	function on_submit()
	{
		if ($("#contest_reason").val() == "") {
			alert("Please select a reason for contesting this {{ contest_type }}.");
			$("#contest_reason").focus();
			return false;
		}
		/*if ($("#contest_reason").val() == "Other" && $("#other_reason").val() == "") {
			alert("Please enter your other reason for contesting this {{ contest_type }}.");
			$("#other_reason").focus();
			return false;
		}*/
		if ($("#contest_description").val() == "") {
			alert("Please enter a contest description.");
			$("#contest_description").focus();
			return false;
		}
		return true;
	}
	function on_load()
	{
		$("#other_reason").hide();
	}
	$(on_load);
	</script>
{% endblock %}
