{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Transaction Validation{% endblock %}
{% block content %}

<style>
p {
	font-weight: bold;
	background-color: #eeeeee;
}
</style>

<h1>Transaction validation</h1>
	<span style="background-color: #eeeeee;">
	<p>This page displays transactions conducted by and for users.  If you have the appropriate permissions you can filter by which staff member performed the work, and when, by using the dropdown boxes below.</p>

	<p>The table lists all the charges sorted by the most recent Start date.  You can filter the table using the search field input below.</p>

	<p>The table cells containing notes, for <span style="background-color: #ddffdd;">individual customers</span> or for <span style="background-color: #ddddff;">transactions generally</span>, are editable in this page.  Simply click on the desired cell and a pop up dialog will allow you to add or edit a comment.  Changes are saved immediately to the database.</p>

	<p>Each charge can be validated, which means that you have confirmed that the charge is legitimate and correct, and no adjustment needs to
	be made to it. Press the green 'Validate' button on an individual row to validate a charge. Charges that have already been validated are
	highlighted in <span class="success-highlight">green</span>.</p>

	<p>Each charge can also be contested, which means that an adjustment is needed.  Press the yellow 'Contest' button on an individual row to contest the charge.  Charges that are already being contested are highlighted in <span class="warning-highlight">yellow</span>.</p>
	</span>

	<form class="form-inline" role="form">
		<div class="form-group">
			<label class="control-label">View charges for
				{% if request.user.is_superuser or user_is_core_admin %}
				<select name="operator" class="form-control">
					<option {% if selected_staff == "all staff" %}selected{% endif %}>all staff</option>
					{% for s in staff_list %}
						<option value="{{ s.id }}" {% if s.id == selected_staff %}selected{% endif %}>{{ s.last_name }}, {{ s.first_name }} ({{ s.username }})</option>
					{% endfor %}
				</select>
				{% else %}
				<input type="hidden" name="operator" value="{{ request.user.id}}" />
				{{ request.user.first_name }} {{ request.user.last_name }}
				{% endif %}
			</label>
		</div>
		<div class="form-group" style="margin-right:20px">
			<label class="control-label">during
				<select name="date" class="form-control">
					{% for month in month_list %}
						<option {% if selected_month == month|date:"F, Y" %}selected{% endif %}>{{ month|date:"F, Y" }}</option>
					{% endfor %}
				</select>
			</label>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="Update">
		</div>
	</form>

<br/><br/>
<style>
td[rowspan] {
	vertical-align: top;
	text-align: left;
}
td {
	border: 1px solid grey;
	/*background-color: #fefefe;*/
	padding: 5px;
}
th {
	text-align: center;
}

.edit_note {
	background-color: #2222dd;
	color: #ffffff;
	font-weight: bold;
}
</style>

<div class="row">
	<div class="col-md-4">
		<input id="search" type="text" placeholder="Search for transactions" class="form-control" autofocus>
	</div>
</div>
<br/>

<table id="transactions" style="background-color: #fefefe;">
	<thead>
	<tr>
		<th style="width:40px;">Type</th>
		<td>
			<!--table>
			<tr>
			<th style="width:120px;" title="This column refers to the person who operated the tool, performed the staff work, or sold the consumable">Merchant</th>
			<th style="width:120px;">Start</th>
			<th style="width:120px;">End</th>
			<th style="width:70px;">Duration/Quantity</th>
			<th style="width:150px;">Tool/Item/Area</th>
			<th style="width:75px;" class="sort-validate">Validate</th>
			<th style="width:75px;" class="sort-contest">Contest</th>
			</tr>
			</table-->
		</td>
	</tr>
	<!--tr>
		<td>
			<table>
			<tr>
			<th style="width:100px;" class="sort-customer">Customer</th>
			<th style="width:200px;" class="sort-project">Project</th>
			<th style="width:70px;" class="sort-percent">Percent</th>
			<th style="width:70px;" class="sort-percent">Comment</th>
			</tr>
			</table>
		</td>
	</tr-->
	
	</thead>
	<tbody id="transaction_data">
{% for key, value in transactions.items %}
	<tr{% if value.class != '' %} class="{{ value.class }}"{% endif %} id="transaction_row_{{ forloop.counter }}" {% if forloop.counter|divisibleby:"2" %}style="background-color: #e0e0e0; border: 2px solid #c0c0c0;"{% else %}style="border: 2px solid #c0c0c0;"{% endif %}>
		<td rowspan="2" style="width:40px;" title="ID={{ value.id }}"><b>{% if value.ad_hoc_created %}Ad Hoc {% endif %}{{ value.type }}</b></td>
		<td style="padding: 20px;">
			<table style="border: 2px solid black; font-weight: bold;">
			<tr>
			<th style="width:120px;" title="This column refers to the person who operated the tool, performed the staff work, or sold the consumable">Merchant</th>
			<th style="width:120px;">Start</th>
			<th style="width:120px;">End</th>
			<th style="width:70px;">Duration/Quantity</th>
			<th style="width:150px;">Tool/Item/Area</th>
			<th style="width:75px;" class="sort-validate">Validate</th>
			<th style="width:75px;" class="sort-contest">Contest</th>
			</tr>
			<tr>
			<td style="width:120px;">{{ value.operator }}</td>
			<td style="width:120px;">{{ value.start|date:"m-d-Y g:i:s A" }}</td>
			<td style="width:120px;">{{ value.end|date:"m-d-Y g:i:s A" }}</td>
			<td style="width:120px;">{% if value.duration != '' %}{{ value.duration|smooth_timedelta }}{% else %}{{ value.quantity }}{% endif %}</td>
			<td style="width:150px;">{{ value.tool }}</td>
			<td style="width:50px; text-align:center;">
			{% if show_buttons %}
				{% if not value.validated %}
					{% if value.type == "Tool Use" %}
			<button {% if value.contested %}disabled{% endif %}  class="btn btn-success" onclick="validate_charge('{% url 'validate_usage_event' value.id %}', this, '#transaction_row_{{ forloop.counter }}')">Validate</button>
					{% endif %}
					{% if value.type == "Staff Charge" %}
			<button {% if value.contested %}disabled{% endif %}  class="btn btn-success" onclick="validate_charge('{% url 'validate_staff_charge' value.id %}', this, '#transaction_row_{{ forloop.counter }}')">Validate</button>
					{% endif %}
					{% if value.type == "Area Access" %}
			<button {% if value.contested %}disabled{% endif %}  class="btn btn-success" onclick="validate_charge('{% url 'validate_area_access_record' value.id %}', this, '#transaction_row_{{ forloop.counter }}')">Validate</button>
					{% endif %}
					{% if value.type == "Withdraw" %}
			<button {% if value.contested %}disabled{% endif %}  class="btn btn-success" onclick="validate_charge('{% url 'validate_consumable_withdraw' value.id %}', this, '#transaction_row_{{ forloop.counter }}')">Validate</button>
					{% endif %}
				{% endif %}
			{% endif %}
			</td>
			<td style="width:50px; text-align:center;">
			{% if show_buttons %}
				{% if not value.validated %}
					{% if value.type == "Tool Use" %}
			<form action="{% url 'contest_usage_event' value.id %}" method="POST">
			<input type="hidden" name="usage_event_id" value="{{ value.id }}" />
					{% endif %}
					{% if value.type == "Staff Charge" %}
			<form action="{% url 'contest_staff_charge' value.id %}" method="POST">
			<input type="hidden" name="staff_charge_id" value="{{ value.id }}" />
					{% endif %}
					{% if value.type == "Area Access" %}
			<form action="{% url 'contest_area_access_record' value.id %}" method="POST">
			<input type="hidden" name="area_access_record_id" value="{{ value.id }}" />
					{% endif %}
					{% if value.type == "Withdraw" %}
			<form action="{% url 'contest_consumable_withdraw' value.id %}" method="POST">
			<input type="hidden" name="consumable_withdraw_id" value="{{ value.id }}" />
					{% endif %}
			{% csrf_token %}
			<input {% if value.contested %}disabled{% endif %}  type="submit" class="btn btn-warning" value="Contest" />
			</form>
				{% endif %}
			{% endif %}
			</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr{% if value.class != '' %} class="{{ value.class }}"{% endif %} id="transaction_row_{{ forloop.counter }}_customers" {% if forloop.counter|divisibleby:"2" %}style="background-color: #e0e0e0; border: 2px solid #c0c0c0;"{% else %}style="border: 2px solid #c0c0c0;"{% endif %}>
		<td style="padding: 20px;">
			<table>
			<tr>
			<th style="width:100px;" class="sort-customer">Customer</th>
			<th style="width:200px;" class="sort-project">Project</th>
			<th style="width:70px;" class="sort-percent">Percent</th>
			{% if value.type != "Withdraw" %}
			<th style="width:70px;" class="sort-percent">Customer Comment</th>
			{% endif %}
			</tr>
			{% for k, v in value.customers.items %}
			<tr>
			<td style="width:100px;">{{ v.customer }}</td>
			<td style="width:200px;">{{ v.project }}</td>
			<td style="width:70px;">{{ v.percent }}</td>
			{% if value.type != "Withdraw" %}
			<td title="Click to edit this customer comment" style="width:70px; background-color: #ddffdd;" onclick="edit_comment({{ v.id }}, '{{ value.type }} customer', $('#cmt__{% if value.type == "Tool Use" %}tu{% endif %}{% if value.type == "Staff Charge" %}sc{% endif %}{% if value.type == "Area Access" %}aa{% endif %}{% if value.type == "Withdraw" %}wd{% endif %}__customer__{{ v.id }}').html())" onmouseover="$(this).css({ 'background-color':'#2222dd', 'font-weight':'bold', 'color':'#ffffff' });" onmouseout="$(this).css({ 'background-color':'#ddffdd', 'font-weight':'', 'color':'' });">
				<span style="width: 100%;" id="cmt__{% if value.type == "Tool Use" %}tu{% endif %}{% if value.type == "Staff Charge" %}sc{% endif %}{% if value.type == "Area Access" %}aa{% endif %}{% if value.type == "Withdraw" %}wd{% endif %}__customer__{{ v.id }}">{% if v.comment is not None %}{{ v.comment }}{% endif %}</span>
			</td>
			{% endif %}
			</tr>
			{% endfor %}
			<tr>
				<td style="background-color: #ddddff;" title="Click to edit this general comment" colspan="4" onclick="edit_comment({{ value.id }}, '{{ value.type }}', $('#cmt__{% if value.type == "Tool Use" %}tu{% endif %}{% if value.type == "Staff Charge" %}sc{% endif %}{% if value.type == "Area Access" %}aa{% endif %}{% if value.type == "Withdraw" %}wd{% endif %}__{{ value.id }}').html())" onmouseover="$(this).css({ 'background-color':'#2222dd', 'font-weight':'bold', 'color':'#ffffff' });" onmouseout="$(this).css({ 'background-color':'#ddddff', 'font-weight':'', 'color':'' });">
					<span style="font-weight: bold;">General Comment: </span>
					<span id="cmt__{% if value.type == "Tool Use" %}tu{% endif %}{% if value.type == "Staff Charge" %}sc{% endif %}{% if value.type == "Area Access" %}aa{% endif %}{% if value.type == "Withdraw" %}wd{% endif %}__{{ value.id }}">{% if value.comment is not None %}{{ value.comment }}{% endif %}</span>
				</td>
			</tr>
			{% if value.contest_rejection_reason != '' %}
			<tr>
				<td colspan="4">
					<span title="ID={{ value.contest_id }} DATE={{ value.contest_resolved_date }}" style="font-weight: bold; background-color: #eeeeff;">Contest rejected: </span>{{ value.contest_rejection_reason }}
				</td>
			</tr>
			{% endif %}
			</table>
		</td>
	</tr>
{% endfor %}
	</tbody>
	</table>

<script type="text/javascript">
/*
$(function() {
	$("#transactions").tablesorter({ 
		sortList: [[2,1], [0,0]],

		headers: {
			'.sort-customer, .sort-project, .sort-percent, .sort-validate, .sort-contest' : {
				sorter: false
			}
		}
	});
});
*/

$("#search").keyup(function () {
	//var data = this.value.split(" ");
	var data = this.value;

	//var tr = $("#transaction_data").find("tr");
	var tr = $("#transaction_data").children();

	if (this.value == "") {
		tr.show();
		return;
	}

	tr.hide();

	tr.filter(function(i, v) {
		var $t = $(this);

		// add more detailed filtering to collectively hide and show related rows
		var id = $t.prop("id");

		if (id.indexOf("_customers") > -1) {
			id_related = "#" + id.substr(0, id.length - 10);
		} else {
			id_related = "#" + id + "_customers";
		}

		var s = data.toUpperCase();
		if ($t.text().toUpperCase().indexOf(s) > -1 || $(id_related).text().toUpperCase().indexOf(s) > -1) {
			return true;
		}
	})
	.show();
});

function validate_charge(url, button, row)
{
	$(button).hide();
	$(button).parent().next().children().first().hide();
	$(row).addClass('success-highlight');
	customer = row + '_customers';
	$(customer).addClass('success-highlight');	
	var failure_dialog = ajax_failure_callback("Unable to validate charge");
	ajax_post(url, undefined, undefined, failure_dialog);
}

function contest_charge(url, button, row)
{
	var description = prompt("What is the reason you're contesting this charge?  Please enter your reason below and click OK, or click Cancel to cancel the contest.");
	if (description != null) {
		$(button).hide();
		$(button).parent().prev().children().first().prop("disabled", true);
		$(row).addClass('warning-highlight');
		customer = row + '_customers';
		$(customer).addClass('warning-highlight');
		var failure_dialog = ajax_failure_callback("Unable to contest charge");
		ajax_post(url, {"description": description}, undefined, failure_dialog);
	}
}

function edit_comment(id, type, comment)
{
	//var edited = prompt("Please make any desired changes to the comment for the " + type, comment);

	let url = "";
	let span_id = "#cmt__";
	switch (type) {
		case "Tool Use":
			url = "{% url 'save_operator_comment' %}";
			span_id += "tu__" + id;
			break;
		case "Tool Use customer":
			url = "{% url 'save_tool_comment' %}";
			span_id += "tu__customer__" + id;
			break;
		case "Withdraw":
			url = "{% url 'save_withdraw_notes' %}";
			span_id += "wd__" + id;
			break;
		case "Staff Charge":
			url = "{% url 'save_staff_comment' %}";
			span_id += "sc__" + id;
			break;
		case "Staff Charge customer":
			url = "{% url 'save_sc_customer_comment' %}";
			span_id += "sc__customer__" + id;
			break;
		case "Area Access":
			url = "{% url 'save_area_access_comment' %}";
			span_id += "aa__" + id;
			break;
		case "Area Access customer":
			url = "{% url 'save_aa_customer_comment' %}";
			span_id += "aa__customer__" + id;
			break;
	}

	let dialog_contents =
		"<div class='modal-header'>" +
		"<button type='button' class='close' data-dismiss='modal'>&times;</button>" +
		"<h4 class='modal-title'>Please update your comment</h4>" +
		"</div>" +
		"<div class='modal-body'>" +
		"<form action='" + url + "' id='comment_update'>" +
		"<textarea id='comment_text' cols=15 rows=5 class='form-control'>" + comment + "</textarea>" +
		"<input type='submit' value='Update Comment' class='btn btn-success' />" +
		"<button type='button' class='btn btn-danger' data-dismiss='modal'>Cancel</button>" +
		"</form>" +		
		"</div>";
	$("#dialog .modal-content").html(dialog_contents);
	$("#comment_update").submit(function( event ) {
		if ($("#comment_text").val() != comment) {
			//let url = "";
			let params = {};

			switch (type) {
				case "Tool Use":
					url = "{% url 'save_operator_comment' %}";
					params["usage_id"] = id;
					params["operator_comment"] = $("#comment_text").val();
					break;
				case "Tool Use customer":
					url = "{% url 'save_tool_comment' %}";
					params["uep_id"] = id;
					params["comment"] = $("#comment_text").val();
					break;
				case "Withdraw":
					url = "{% url 'save_withdraw_notes' %}";
					params["withdraw_id"] = id
					params["withdraw_comment"] = $("#comment_text").val();
					break;
				case "Staff Charge":
					url = "{% url 'save_staff_comment' %}";
					params["staff_charge_id"] = id
					params["staff_member_comment"] = $("#comment_text").val();
					break;
				case "Staff Charge customer":
					url = "{% url 'save_sc_customer_comment' %}";
					params["scp_id"] = id;
					params["comment"] = $("#comment_text").val();
					break;
				case "Area Access":
					url = "{% url 'save_area_access_comment' %}";
					params["area_access_id"] = id;
					params["area_access_comment"] = $("#comment_text").val();
					break;
				case "Area Access customer":
					url = "{% url 'save_aa_customer_comment' %}";
					params["aarp_id"] = id;
					params["comment"] = $("#comment_text").val();
					break;
				default:
					alert($("#comment_text").val());
					return false;
			}
					
			ajax_get(
				url,
				params,
				function() {
					$(span_id).html($("#comment_text").val());
					$("#dialog").modal('hide'); 
				},
				undefined
			);
		} else {
			alert("No changes were detected in the current comment text.  The update will be cancelled.");
			$("#dialog").modal('hide');
		}
		return false;
	});
	$("#dialog").modal('show');
}
</script>
{% endblock %}
