{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% load static %}

{% block title %}Contested Items Review{% endblock %}

{% block content %}
	{% if error is not None and error != '' %}
		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% endif %}
	<h1>Contested Items Review</h1>

	<p>This page displays items that have been contested by users prior to validation.  These items include staff charges and usage events.  To resolve an item, click on the link to display the item details along with options for how to resolve it.  Once an item is resolved, it will return once again to the user's queue for validation.</p>

	<h3>Staff Charge Contests</h3>

	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Staff Member</th>
			<th>Customer</th>
			<th>Project</th>
			<th>Start - End</th>
			<th>Duration</th>
			<th>Reason</th>
			<th>Resolve</th>
		</tr>
		</thead>
		<tbody>
		{% for c in staff_charges %}
		<tr>
			<td>{{ c.id }}</td>
			<td>{{ c.staff_member }}</td>
			<td>
				{% for s in c.customers.all %}
					{{ s.first_name }}&nbsp;{{ s.last_name }}<br/>
				{% endfor %}
			</td>
			<td>
				{% for p in c.projects.all %}
					{{ p }}<br/>
				{% endfor %}
			</td>
			<td>{{ c.start }} - {{ c.end }}</td>
			<td>{{ c.duration|smooth_timedelta }}</td>
			<td>{{ c.contest_description }}</td>
			<td>
				<form action="{% url 'resolve_staff_charge_contest' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="staff_charge_id" value="{{ c.id }}" />
					<input type="submit" class="btn btn-default" value="Resolve" />
				</form>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<br/><br/>

	<h3>Usage Event Contests</h3>

	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Operator</th>
			<th>Tool</th>
			<th>Customer</th>
			<th>Project</th>
			<th>Start - End</th>
			<th>Duration</th>
			<th>Reason</th>
			<th>Resolve</th>
		</tr>
		</thead>
		<tbody>
		{% for u in usage %}
		<tr>
			<td>{{ u.id }}</td>
			<td>{{ u.operator }}</td>
			<td>{{ u.tool }}</td>
			<td>
				{% if u.customers %}
					{% for c in u.customers.all %}
						{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
					{% endfor %}
				{% else %}
					{{ u.user }}
				{% endif %}
			</td>
			<td>
				{% if u.projects %}
					{% for p in u.projects.all %}
						{{ p }}<br/>
					{% endfor %}
				{% else %}
					{{ u.project }}
				{% endif %}
			</td>
			<td>{{ u.start }} - {{ u.end }}</td>
			<td>{{ u.duration|smooth_timedelta }}</td>
			<td>{{ u.contest_description }}</td>
			<td>
				<form action="{% url 'resolve_usage_event_contest' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="usage_event_id" value="{{ u.id }}" />
					<input type="submit" class="btn btn-default" value="Resolve" />
				</form>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<br/><br/>
	<h3>Consumable Withdraw Contests</h3>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Staff member</th>
				<th>Customer</th>
				<th>Project</th>
				<th>Consumable</th>
				<th>Quantity</th>
				<th>Withdraw date</th>
				<th>Reason</th>
				<th>Resolve</th>
			</tr>
		</thead>
		<tbody>
		{% for w in consumable_withdraws %}
			<tr>
				<td>{{ w.id }}</td>
				<td>{{ w.merchant }}</td>
				<td>{{ w.customer }}</td>
				<td>{{ w.project }}</td>
				<td>{{ w.consumable }}</td>
				<td>{{ w.quantity }} {% if w.consumable.unit is not None %}{{ w.consumable.unit }}{% endif %}</td>
				<td>{{ w.date }}</td>
				<td>{{ w.contest_description }}</td>
				<td>
				<form action="{% url 'resolve_consumable_withdraw_contest' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="consumable_withdraw_id" value="{{ w.id }}" />
					<input type="submit" class="btn btn-default" value="Resolve" />
				</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<br/><br/>
	<h3>Area Access Record Contests</h3>
	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Staff member</th>
			<th>Customer</th>
			<th>Project</th>
			<th>Start - End</th>
			<th>Duration</th>
			<th>Area</th>
			<th>Reason</th>
			<th>Resolve</th>
		</tr>
		</thead>
		<tbody>
		{% for a in area_access_records %}
		<tr>
			<td>{{ a.id }}</td>
			<td>{{ a.staff_charge.staff_member }}</td>
			<td>
			{% if a.customers %}
				{% for c in a.customers.all %}
					{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
				{% endfor %}
			{% else %}
				{{ u.user }}
			{% endif %}
			</td>
			<td>
			{% if a.projects %}
				{% for p in a.projects.all %}
					{{ p }}<br/>
				{% endfor %}
			{% else %}
				{{ a.project }}
			{% endif %}
			</td>
			<td>{{ a.start }} - {{ a.end }}</td>
			<td>{{ a.duration|smooth_timedelta }}</td>
			<td>{{ a.area }}</td>
			<td>{{ a.contest_description }}</td>
			<td>
			<form action="{% url 'resolve_area_access_record_contest' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="area_access_record_id" value="{{ a.id }}" />
				<input type="submit" class="btn btn-default" value="Resolve" />
			</form>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
