{% extends 'base.html' %}
{% load custom_tags_and_filters %}

{% block title %}{% if usage_event %}Usage Event{% endif %}{% if staff_charge %}Staff Charge{% endif %}{% if consumable_withdraw %}Consumable Withdraw{% endif %}{% if area_access_record %}Area Access Record{% endif %} Contest Resolution{% endblock %}

{% block content %}
	{% if usage_event %}
	<h1>Usage Event Contest Resolution</h1>

	<p>Use the form below to review the contested transaction.  Items to be deleted from the transaction have a <span style="background-color: #c0c0c0;">grey background</span>.  Items to be changed are shown in <span style="font-weight:bold; color:red;">red</span>.  Items to be added <span style="font-weight:bold; color:red;">show the whole row in red</span>.  After reviewing select the option to resolve this contest or reject the request.  A rejection will require an explanation.  If the approval is for a transaction being marked no charge, please ensure the checkbox at the bottom of the form is marked.</p>


	<form action="{% url 'save_contest_resolution' %}" method="POST" onsubmit="return on_submit()">
		{% csrf_token %}
		<input type="hidden" value="{{ usage_event.id }}" name="usage_event_id" />
		<input type="hidden" value="{{ contest_type }}" name="contest_type" />
		<input type="hidden" value="{{ contest_transaction.id ]}" name="contest_transaction_id" />

		{% if contest_transaction.no_charge_flag %}
		<input type="hidden" value="{{ contest_transaction.no_charge_flag }}" name="no_charge_flag" />
		<p style="border: 2px solid black; padding: 5px; background-color: #f2dede;">
			<b>No Charge Transaction Requested</b><br/>
			The requestor seeks to have this transaction marked as no charge for the reason listed in the Contest Description.  To approve this request select the Yes option below for the "Do you wish to confirm this contest?" question.  The "Mark this transaction as no charge" is automatically checked for no charge contests.  Selecting No for the confirmation will make the no charge option irrelevant, as the contest request will be sent back to the user for validation or a new contest.
		</p><br/>
		{% endif %}

		<table class="table">
			<tr>
				<th>Contest Description</th>
				<th colspan="2">
					<span style="width: 100%; height: 150px;">{{ contest_transaction.contest_description }}</span>
				</th>
			</tr>
			<tr>
				<th>Operator</th>
				<td>{{ usage_event.operator }}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Tool</th>
				<td>{{ usage_event.tool }}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Start</th>
				<td>{{ event_start_date }}</td>
				<td>
					{% if proposed_event_start_date is not None %}
					<span style="font-weight:bold; color:red;">{{ proposed_event_start_date }}</span>
					<input type="hidden" name="proposed__start__{{ usage_event_id }}" value="{{ proposed_event_start_date }}" />
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>End</th>
				<td>{{ event_end_date }}</td>
				<td>
					{% if proposed_event_end_date is not None %}
					<span style="font-weight:bold; color:red;">{{ proposed_event_end_date }}</span>
					<input type="hidden" name="proposed__end__{{ usage_event_id }}" value="{{ proposed_event_end_date }}" />
					{% endif %}
				</td>
			</tr>
			<tr>
			<td colspan="3">
			<table class="table">
			{% if project_data %}
			{% for key, value in project_data.items %}
				{% if value.delete_flag %}
					<input type="hidden" name="delete__usage_event_project_id__{{ key }}" value="{{ key }}" />
				{% endif %}
				<tr {% if value.delete_flag %}style="background-color: #c0c0c0;"{% endif %}>
					<th>Customer</th>
					<td>{{ value.original_customer }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_customer }}</span>
						<input type="hidden" name="proposed__chosen_user__{{ key }}" value="{{ value.proposed_customer_id }}" />
					</td>
					{% endif %}
				</tr>
				<tr {% if value.delete_flag %}style="background-color: #c0c0c0;"{% endif %}>
					<th>Project</th>
					<td>{{ value.original_project }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_project }}</span>
						<input type="hidden" name="proposed__chosen_project__{{ key }}" value="{{ value.proposed_project_id }}" />
					</td>
					{% endif %}
				</tr>
				<tr {% if value.delete_flag %}style="background-color: #c0c0c0;"{% endif %}>
					<th>Percent</th>
					<td>{{ value.project_percent }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_project_percent }}</span>
						<input type="hidden" name="proposed__project_percent__{{ uep.id }}" value="{{ ucp.proposed_value }}" />
					</td>
					{% endif %}
				</tr>
			{% endfor %}
			{% endif %}
			{% if newdata %}
			{% for fg, v in newdata.items %}
				<tr>
					<th><span style="font-weight:bold; color:red;">Customer</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "chosen_user" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__chosen_user__{{ fg }}" value="{{ value.id }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th><span style="font-weight:bold; color:red;">Project</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "chosen_project" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__chosen_project__{{ fg }}" value="{{ value.id }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th><span style="font-weight:bold; color:red;">Percent</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "project_percent" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__project_percent__{{ fg }}" value="{{ value }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
			{% endfor %}	
			{% endif %}
			</table>
			</td>
			</tr>
		</table>
		{% if usage_event.consumable_usage_event.all.count > 0 %}
		<h3>Related Consumable Withdraws</h3>
		<p>The following items were automatically created by the system via the use of a tool that is configured to use consumables as part of its run.  They are listed here in case changes might be needed based on the contest resolution for this usage event.</p>

		<table class="table">
			<thead>
			<tr>
				<th>Staff member</th>
				<th>Customer</th>
				<th>Consumable</th>
				<th>Quantity</th>
				<th>Project</th>
				<th>Percent</th>
				<th>Withdraw date</th>
			</tr>
			</thead>
			<tbody>
				{% for c in usage_event.consumable_usage_event.all %}
			<tr>
				<td>{{ c.merchant }}</td>
				<td>{{ c.customer }}</td>
				<td>{{ c.consumable }}</td>
				<td>{{ c.quantity }}</td>
				<td>{{ c.project }}</td>
				<td>{{ c.project_percent }}</td>
				<td>{{ c.date }}</td>
			</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	{% endif %}


	{% if staff_charge %}
	<h1>Staff Charge Contest Resolution</h1>

	<p>Use the form below to review the contested transaction.  Items to be deleted from the transaction have a <span style="background-color: #c0c0c0;">grey background</span>.  Items to be changed are shown in <span style="font-weight:bold; color:red;">red</span>.  Items to be added <span style="font-weight:bold; color:red;">show the whole row in red</span>.  After reviewing select the option to resolve this contest or reject the request.  A rejection will require an explanation.  If the approval is for a transaction being marked no charge, please ensure the checkbox at the bottom of the form is marked.</p>

	<form action="{% url 'save_contest_resolution' %}" method="POST" onsubmit="return on_submit()">
		{% csrf_token %}
		<input type="hidden" name="staff_charge_id" value="{{ staff_charge.id }}" />
		<input type="hidden" value="{{ contest_type }}" name="contest_type" />

		{% if contest_transaction.no_charge_flag %}
		<input type="hidden" value="{{ contest_transaction.no_charge_flag }}" name="no_charge_flag" />
		<p style="border: 2px solid black; padding: 5px; background-color: #f2dede;">
			<b>No Charge Transaction Requested</b><br/>
			The requestor seeks to have this transaction marked as no charge for the reason listed in the Contest Description.  To approve this request select the Yes option below for the "Do you wish to confirm this contest?" question.  The "Mark this transaction as no charge" is automatically checked for no charge contests.  Selecting No for the confirmation will make the no charge option irrelevant, as the contest request will be sent back to the user for validation or a new contest.
		</p><br/>
		{% endif %}


		<table class="table">
			<tr>
				<th>Contest Description</th>
				<td colspan="3">{{ contest_transaction.contest_description }}</td>
			</tr>
			<tr>
				<th>Staff Member</th>
				<td>{{ staff_charge.staff_member }}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Start</th>
				<td>{{ event_start_date }}</td>
				<td>
					{% if proposed_event_start_date is not None %}
					<span style="font-weight:bold; color:red;">{{ proposed_event_start_date }}</span>
					<input type="hidden" name="proposed__start__{{ staff_charge_id }}" value="{{ proposed_event_start_date }}" />
					{% endif %}
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>End</th>
				<td>{{ event_end_date }}</td>
				<td>
					{% if proposed_event_end_date is not None %}
					<span style="font-weight:bold; color:red;">{{ proposed_event_end_date }}</span>
					<input type="hidden" name="proposed__end__{{ staff_charge_id }}" value="{{ proposed_event_end_date }}" />
					{% endif %}
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
			<td colspan="4">
			<table class="table">
			{% if project_data %}
			{% for key, value in project_data.items %}
				{% if value.delete_flag %}
					<input type="hidden" name="delete__staff_charge_project_id__{{ key }}" value="{{ key }}" />
				{% endif %}
				<tr {% if value.delete_flag %}style="background-color:#c0c0c0;"{% endif %}>
					<th>Customer</th>
					<td>{{ value.original_customer }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_customer }}</span>
						<input type="hidden" name="proposed__chosen_user__{{ key }}" value="{{ value.proposed_customer_id }}" />
					</td>
					{% endif %}
				</tr>
				<tr {% if value.delete_flag %}style="background-color:#c0c0c0;"{% endif %}>
					<th>Project</th>
					<td>{{ value.original_project }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_project }}</span>
						<input type="hidden" name="proposed__chosen_project__{{ key }}" value="{{ value.proposed_project_id }}" />
					</td>
					{% endif %}
				</tr>
				<tr {% if value.delete_flag %}style="background-color:#c0c0c0;"{% endif %}>
					<th>Percent</th>
					<td>{{ value.project_percent }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_project_percent }}</span>
						<input type="hidden" name="proposed__project_percent__{{ key }}" value="{{ value.proposed_project_percent }}" />
					</td>
					{% endif %}
				</tr>
			{% endfor %}
			{% endif %}
			{% if newdata %}
			{% for fg, v in newdata.items %}
				<tr>
					<th><span style="font-weight:bold; color:red;">Customer</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "chosen_user" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__chosen_user__{{ fg }}" value="{{ value.id }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th><span style="font-weight:bold; color:red;">Project</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "chosen_project" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__chosen_project__{{ fg }}" value="{{ value.id }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th><span style="font-weight:bold; color:red;">Percent</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "project_percent" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__project_percent__{{ fg }}" value="{{ value }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
			{% endfor %}
			{% endif %}
			</table>
			</td>
			</tr>
		</table>
	{% endif %}

	{% if consumable_withdraw %}
	<h1>Consumable Withdraw Contest Resolution</h1>

	<p>Use the form below to review the contested transaction.  Items to be deleted from the transaction have a <span style="background-color: #c0c0c0;">grey background</span>.  Items to be changed are shown in <span style="font-weight:bold; color:red;">red</span>.  Items to be added <span style="font-weight:bold; color:red;">show the whole row in red</span>.  After reviewing select the option to resolve this contest or reject the request.  A rejection will require an explanation.  If the approval is for a transaction being marked no charge, please ensure the checkbox at the bottom of the form is marked.</p>

	<form action="{% url 'save_contest_resolution' %}" method="POST" onsubmit="return on_submit()">
		{% csrf_token %}
		<input type="hidden"  name="consumable_withdraw_id" value="{{ consumable_withdraw.id }}" />
		<input type="hidden" value="{{ contest_type }}" name="contest_type" />

		{% if contest_transaction.no_charge_flag %}
		<input type="hidden" value="{{ contest_transaction.no_charge_flag }}" name="no_charge_flag" />
		<p style="border: 2px solid black; padding: 5px; background-color: #f2dede;">
			<b>No Charge Transaction Requested</b><br/>
			The requestor seeks to have this transaction marked as no charge for the reason listed in the Contest Description.  To approve this request select the Yes option below for the "Do you wish to confirm this contest?" question.  The "Mark this transaction as no charge" is automatically checked for no charge contests.  Selecting No for the confirmation will make the no charge option irrelevant, as the contest request will be sent back to the user for validation or a new contest.
		</p><br/>
		{% endif %}


		<table class="table">
			<tr>
				<th>Contest Description</th>
				<td colspan="3">{{ contest_transaction.contest_description }}</td>
			</tr>
			<tr>
				<th>Staff Member</th>
				<td>{{ consumable_withdraw.merchant }}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Consumable</th>
				<td>{{ consumable_withdraw.consumable }}</td>
				{% if proposed_consumable %}
				<td>
					<span style="font-weight:bold; color:red;">{{ proposed_consumable }}</span>
					<input type="hidden" name="proposed__consumable__{{ consumable_withdraw.id }}" id="proposed__consumable__{{ consumable_withdraw.id }}" value="{{ proposed_consumable.id }}" />
				</td>
				<td>&nbsp;</td>
				{% else %}
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				{% endif %}
			</tr>
			<tr>
				<th>Quantity</th>
				<td>{{ consumable_withdraw.quantity }}</td>
				{% if proposed_quantity %}
				<td>
					<span style="font-weight:bold; color:red;">{{ proposed_quantity }}</span>
					<input type="hidden" name="proposed__quantity__{{ consumable_withdraw.id }}" id="proposed__quantity__{{ consumable_withdraw.id }}" value="{{ proposed_quantity }}" />
				</td>
				<td>&nbsp;</td>
				{% else %}
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				{% endif %}
			</tr>
			<tr>
				<th>Customer</th>
				<td>{{ consumable_withdraw.customer }}</td>
				{% if proposed_customer %}
				<td>
					<span style="font-weight:bold; color:red;">{{ proposed_customer }}</span>
					<input type="hidden" name="proposed__chosen_user__{{ consumable_withdraw.id }}" id="proposed__chosen_user__{{ consumable_withdraw.id }}" value="{{ proposed_customer.id }}" />
				</td>
				<td>&nbsp;</td>
				{% else %}
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				{% endif %}
			</tr>
			<tr>
				<th>Project</th>
				<td>{{ consumable_withdraw.project }}</td>
				{% if proposed_project %}
				<td>
					<span style="font-weight:bold; color:red;">{{ proposed_project }}</span>
					<input type="hidden" name="proposed__chosen_project__{{ consumable_withdraw.id }}" id="proposed__chosen_project__{{ consumable_withdraw.id }}" value="{{ proposed_project.id }}" />
				</td>
				<td>&nbsp;</td>
				{% else %}
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				{% endif %}
			</tr>
			<tr>
				<th>Percent</th>
				<td>{{ consumable_withdraw.project_percent }}</td>
				{% if proposed_percent %}
				<td>
					<span style="font-weight:bold; color:red;">{{ proposed_percent }}</span>
					<input type="hidden" name="proposed__project_percent__{{ consumable_withdraw.id }}" id="proposed__project_percent__{{ consumable_withdraw.id }}" value="{{ proposed_percent }}" />
				</td>
				<td>&nbsp;</td>
				{% else %}
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				{% endif %}
			</tr>
			<tr>
				<th>Withdraw date</th>
				<td>{{ consumable_withdraw.date }}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	{% endif %}


	{% if area_access_record %}
	<h1>Area Access Record Contest Resolution</h1>

<p>Use the form below to review the contested transaction.  Items to be deleted from the transaction have a <span style="background-color: #c0c0c0;">grey background</span>.  Items to be changed are shown in <span style="font-weight:bold; color:red;">red</span>.  Items to be added <span style="font-weight:bold; color:red;">show the whole row in red</span>.  After reviewing select the option to resolve this contest or reject the request.  A rejection will require an explanation.  If the approval is for a transaction being marked no charge, please ensure the checkbox at the bottom of the form is marked.</p>

	<form action="{% url 'save_contest_resolution' %}" method="POST" onsubmit="return on_submit()">
		{% csrf_token %}
		<input type="hidden" name="area_access_record_id" value="{{ area_access_record.id }}" />
		<input type="hidden" value="{{ contest_type }}" name="contest_type" />

		{% if contest_transaction.no_charge_flag %}
		<input type="hidden" value="{{ contest_transaction.no_charge_flag }}" name="no_charge_flag" />
		<p style="border: 2px solid black; padding: 5px; background-color: #f2dede;">
			<b>No Charge Transaction Requested</b><br/>
			The requestor seeks to have this transaction marked as no charge for the reason listed in the Contest Description.  To approve this request select the Yes option below for the "Do you wish to confirm this contest?" question.  The "Mark this transaction as no charge" is automatically checked for no charge contests.  Selecting No for the confirmation will make the no charge option irrelevant, as the contest request will be sent back to the user for validation or a new contest.
		</p><br/>
		{% endif %}

		<table class="table">
			<tr>
				<th>Contest Description</th>
				<td colspan="2">{{ contest_transaction.contest_description }}</td>
			</tr>
			<tr>
				<th>Area</th>
				<td>{{ area_access_record.area }}</td>
				{% if proposed_area %}
				<td>
					<span style="font-weight:bold; color:red;">{{ proposed_area }}</span>
					<input type="hidden" name="proposed__area__{{ area_access_record.id }}" id="proposed__area__{{ area_access_record.id }}" value="{{ proposed_area.id }}" />
				</td>
				{% else %}
				<td>&nbsp;</td>
				{% endif %}
			</tr>
			{% if area_access_record.staff_charge %}
			<tr>
				<th>Staff Member</th>
				<td>{{ area_access_record.staff_charge.staff_member }}</td>
				<td>&nbsp;</td>
			</tr>
			{% endif %}
			
			<tr>
				<th>Start</th>
				<td>{{ event_start_date }}</td>
				<td>
					{% if proposed_event_start_date is not None %}
					<span style="font-weight:bold; color:red;">{{ proposed_event_start_date }}</span>
					<input type="hidden" name="proposed__start__{{ area_access_record.id }}" value="{{ proposed_event_start_date }}" />
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>End</th>
				<td>{{ event_end_date }}</td>
				<td>
					{% if proposed_event_end_date is not None %}
					<span style="font-weight:bold; color:red;">{{ proposed_event_end_date }}</span>
					<input type="hidden" name="proposed__end__{{ area_access_record.id }}" value="{{ proposed_event_end_date }}" />
					{% endif %}
				</td>
			</tr>
			<tr>
			<td colspan="3">
			<table class="table">
			{% if project_data %}
			{% for key, value in project_data.items %}
				{% if value.delete_flag %}
					<input type="hidden" name="delete__area_access_record_project_id__{{ key }}" value="{{ key }}" />
				{% endif %}
				<tr {% if value.delete_flag %}style="background-color: #c0c0c0;"{% endif %}>
					<th>Customer</th>
					<td>{{ value.original_customer }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_customer }}</span>
						<input type="hidden" name="proposed__chosen_user__{{ key }}" value="{{ value.proposed_customer_id }}" />
					</td>
					{% endif %}
				</tr>
				<tr {% if value.delete_flag %}style="background-color: #c0c0c0;"{% endif %}>
					<th>Project</th>
					<td>{{ value.original_project }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_project }}</span>
						<input type="hidden" name="proposed__chosen_project__{{ key }}" value="{{ value.proposed_project_id }}" />
					</td>
					{% endif %}
				</tr>
				<tr {% if value.delete_flag %}style="background-color: #c0c0c0;"{% endif %}>
					<th>Percent</th>
					<td>{{ value.project_percent }}</td>
					{% if value.delete_flag %}
					<td>&nbsp;</td>
					{% else %}
					<td>
						<span style="font-weight:bold; color:red;">{{ value.proposed_project_percent }}</span>
						<input type="hidden" name="proposed__project_percent__{{ key }}" value="{{ value.proposed_project_percent }}" />
					</td>
					{% endif %}
				</tr>
			{% endfor %}
			{% endif %}
			{% if newdata %}
			{% for fg, v in newdata.items %}
				<tr>
					<th><span style="font-weight:bold; color:red;">Customer</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "chosen_user" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__chosen_user__{{ fg }}" value="{{ value.id }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th><span style="font-weight:bold; color:red;">Project</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "chosen_project" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__chosen_project__{{ fg }}" value="{{ value.id }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th><span style="font-weight:bold; color:red;">Percent</span></th>
					<td>
						{% for key, value in v.items %}
							{% if key == "project_percent" %}
						<span style="font-weight:bold; color:red;">{{ value }}</span>
						<input type="hidden" name="proposed__project_percent__{{ fg }}" value="{{ value }}" />
							{% endif %}
						{% endfor %}
					</td>
					<td>&nbsp;</td>
				</tr>
			{% endfor %}
			{% endif %}
			</table>	
			</td>
			</tr>
		</table>
	{% endif %}
	


	<p>Do you wish to confirm this contest?
	<input type="radio" name="resolve_contest" id="resolve_contest" value="0" />No
	<input type="radio" name="resolve_contest" id="resolve_contest" value="1" />Yes
	</p>
	<p>
	If you choose not to accept the contest, please explain briefly why it's being rejected<br/>
	<textarea name="reject_contest_reason" id="reject_contest_reason" rows="10" cols="60"></textarea>
	</p>
	<p>
	Mark this transaction as no charge <input type="checkbox" name="no_charge_transaction" id="no_charge_transaction" value="1" {% if contest_transaction.no_charge_flag %}checked{% endif %} /><br/>
	Note that selecting this option will only work if the "Yes" option above is chosen.  
	</p>

	<input type="submit" value="Save Resolution" class="btn btn-success" />
	<input type="button" value="Cancel Resolution" class="btn btn-warning" onclick="location.href='{% url 'review_contested_items' %}';" />


	<script type="text/javascript">
	function on_submit()
	{
		var radNo = $("#resolve_contest[value='0']");
		var radYes = $("#resolve_contest[value='1']");
		if (!radNo.prop("checked") && !radYes.prop("checked"))
		{
			alert("Please select either 'Yes' or 'No' to resolve this contest");
			radNo.focus();
			return false;
		}

		if (radNo.prop("checked") && $("#reject_contest_reason").val() == "") {
			alert("Please provide a reason to reject the proposed resolution to this contest.");
			$("#reject_contest_reason").focus();
			return false;
		}

		return true;
	}
	</script>
	</form>	
{% endblock %}
