{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Manage Sample{% endblock %}
{% block content %}

<h1>Modify Sample: {% if form.instance.identifier is not None %}{{ form.instance.identifier }}{% else %}New Sample{% endif %}</h1>
<br/>
<form action="{% url 'create_or_modify_sample' sample_id %}" method="post">
	{% csrf_token %}
	<table class="table">
	{{ form.as_table }}
	</table>
	<input type="submit" value="Submit" class="btn btn-success" />

	<br/><br/>
</form>
<select id="search_holder" style="display: none;" name="search_holder">

</select>
<script type="text/javascript">
function clear_user()
{
	var project_options = $("#id_project option");

	$(project_options).each(function() {
		$(this).show();
	});

	$("#search").val("");
}
function select_user(jquery_event, search_selection, dataset_name)
{
	var project_options = $("#id_project option");

	$(project_options).each(function() {
		$(this).hide();
	});

	var user_id = search_selection.id;

	var parameters = 
	{
		"source_template": "ad_hoc_area",
		"user_id": user_id,
		"entry_number": 0,
		"ad_hoc": false,
	};

	var target_element = "#search_holder";
	var target_results = target_element + " option";
	var url = "{% url 'get_projects' %}?" + jQuery.param(parameters);

	$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
		if(statusTxt == "success") {
			$(project_options).each(function() {
				var inc = false;
				var el = $(this);

				$(target_results).each(function() {
					inc = $(el).val() == $(this).val();
					if (inc) return false;
				});

				if (inc) $(el).show();
			});
		}
	});
}

function on_load()
{
	var search_field = "<input type=\"text\" class=\"form-control\" name=\"search\" id=\"search\" placeholder=\"filter projects by user\" style=\"width:25%; display: inline\" />";
	var clear_btn = "<input type=\"button\" value=\"Clear Search\" class=\"btn btn-danger\" onclick=\"clear_user();\" style=\"display:inline;\" />";

	$("input").each(function() {
		if ($(this).prop("type") == "text") {
			if ($(this).prop("class") == "") {
				$(this).prop("class","form-control");
			}
		}
	});

	$("select").each(function() {
		if ($(this).prop("class") == "") {
			$(this).prop("class","form-control");
		}
	});

	$("textarea").each(function() {
		if ($(this).prop("class") == "") {
			$(this).prop("class","form-control");
		}
	});


	{% if request.user.is_staff %}
	$("#id_project").before(search_field);

	$('#search').autocomplete('users', select_user, {{ users|json_search_base }}).focus();

	$("#search").after(clear_btn);
	{% endif %}

	var parent_sample_search = "<input type=\"text\" value=\"\" class=\"form-control\" style=\"display:block; width:25%;\" name=\"parent_sample_search\" id=\"parent_sample_search\" placeholder=\"filter parent sample options\" />";

	$("#id_parent_sample").before(parent_sample_search).prop("multiple","multiple");
	$("#id_parent_sample option:selected").remove();
	$("#parent_sample_search").keyup(function() {
		var options = $("#id_parent_sample option");

		var data = this.value;

		if (data.length < 3) {
			options.show();
			return;
		}

		options.hide();

		options.filter(function(i,v) {
			var $t = $(this);

			var s = data.toUpperCase();

			if ($t.text().toUpperCase().indexOf(s) > -1) {
				return true;
			}
		}).show();
	});
	$("#id_parent_sample option").click(function() {
		if ($(this).prop("selected")) {
			var opt = $(this);
			$("#id_parent_sample option:selected").each(function() {
				if ($(this).val() != opt.val()) $(this).removeAttr("selected");
			});
		}
	});

	{% if new_sample %}
	var identifier_span = "<span id=\"identifier_span\" style=\"width:30%;\"></span>";
	$("#id_identifier").prop("placeholder","user defined identifier - limit to letters, numbers, dashes and underscores").css("display","inline").css("width","80%").before(identifier_span);

	var current_date = new Date();
	var YYYY = current_date.getFullYear();

	var MM = parseInt(current_date.getMonth()) + 1;
	if (MM < 10) MM = "0" + MM.toString();

	var DD = parseInt(current_date.getDate());
	if (DD < 10) DD = "0" + DD.toString();

	var HH = parseInt(current_date.getHours());
	if (HH < 10) HH = "0" + HH.toString();

	var mins = parseInt(current_date.getMinutes());
	if (mins < 10) mins = "0" + mins.toString();

	var ss = parseInt(current_date.getSeconds());
	if (ss < 10) ss = "0" + ss.toString();

	$("#identifier_span").html(YYYY + MM + DD + HH + mins + ss + "   -   ");

/*	$("#id_identifier").keypress(function(e) {
		var char = String.fromCharCode(e.which);
		var accepted = "01234567890_abcdefghijklmnopqrstuvwxyz-ABCDEFGHIJKLMNOPQRSTUVWXYZ";
		if (accepted.indexOf(char) == -1) {
			e.preventDefault();
		}
	});*/
	$("#id_identifier").limitInputCharacters(LETTERS_AND_NUMBERS + "-_");
	{% else %}
	$("#id_identifier").prop("disabled","true");
	{% endif %}

	$("form").on('submit', function() {
		{% if new_sample %}
		var userval = $("#id_identifier").val();
		var timeval = $("#identifier_span").html();

		$("#id_identifier").val(timeval + userval);
		{% else %}
		$("#id_identifier").removeAttr("disabled");
		{% endif %}
		$("#id_parent_sample").removeAttr("multiple");
	});
}
$(on_load);
</script>

{% endblock %}


