{% if samples is None %}
	<span class="danger-highlight">No samples associated with the project</span>
{% else %}
	{% if entry_number == '0' %}
	<select name="sample_id" class="form-control" id="sample_id"  multiple size="4" style="width:fit-content;">
	{% else %}
	<select name="chosen_sample__{{ entry_number }}" class="form-control" id="chosen_sample__{{ entry_number }}" multiple size="4" style="width:fit-content;">
	{% endif %}
		{% for s in samples %}
			<option value="{{ s.id }}">{{ s }}</option>
		{% endfor %}
	</select>
{% endif %}
<br/>
{% if user.is_staff %}
<input type="button" value="Add Sample" class="btn btn-success" onclick="add_sample({{ project.id }},{{ entry_number }});" />
{% endif %}
<br/>
