{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Sample History{% endblock %}
{% block content %}

{% if current_sample is None %}
<h1>Sample History for {{ request.user }}</h1>
<p>The table displays the history of all sample transactions for {{ request.user }}.</p>
{% else %}
<h1>Sample History for {{ current_sample}}</h1>
<p>The table displays the transaction history for the sample {{ current_sample }}.</p>
{% endif %}

<div class="row">
	<div class="col-md-4">
		<input id="search" type="text" placeholder="Search for a sample" class="form-control" autofocus>
	</div>
</div>

<script>
$("#search").keyup(function () {
	var data = this.value; //.split(" ");
	var tr = $("#sample_data").find("tr");
	if (this.value == "") {
		tr.show();
		return;
	}
	tr.hide();
	tr.filter(function(i, v) {
		var $t = $(this);
		//for (var d = 0; d < data.length; ++d) {
			var s = data[d].toUpperCase();
			if ($t.text().toUpperCase().indexOf(s) > -1) {
				return true;
			}
		//}
	})
	.show();
});
</script>

<table class="table">
<thead>
	<tr>
	<th>Transaction Type</th>
	<th>Identifier</th>
	<th>Project Number</th>
	<th>Username</th>
	<th>Tool/Customer/Area</th>
	<th>Start</th>
	<th>End</th>
	<th>Notes</th>
	</tr>
</thead>
<tbody id="sample_data">
	{% for sh in sample_history %}
	<tr>
		{% for i in sh %}
		<td>{% if i is not None %}{{ i }}{% endif %}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
