{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Create Work Order{% endblock %}

{% block content %}

<h1>Create Work Order</h1>

<p>Use this form to create a new Work Order for a chosen customer.  Once created you can add transactions.</p>

<div style="display:none;">
error_msg = {{ error_msg }}<br/>
work_order_type = {{ work_order_type }}<br/>
customer_id = {{ customer_id }}<br/>
work_order_number = {{ work_order_number }}<br/>
notes = {{ notes }}
</div>

{% if error_msg %}
<div class="alert alert-danger">{{ error_msg }}</div>
{% endif %}


<form id="create_work_order" onsubmit="return on_submit()" method="POST" action="{% url 'save_work_order' %}">
	{% csrf_token %}
	<table class="table">
		<tr>
			<th>Work Order Number</th>
			<td><input type=text class="form-control" name="work_order_number" value="{% if work_order_number %}{{ work_order_number }}{% endif %}" id="work_order_number" maxlength="500"/></td>
		</tr>
		<tr>
			<th>Customer</th>
			<td>
				<input type="text" class="form-control" id="customer" name="customer" />
				<input type="button" class="btn btn-default" style="display:none" id="customer_button" onclick="purge_customer();" />
			</td>
		</tr>
		<tr>
			<th>Charge Type</th>
			<td>
				<input type="radio" value="1" name="work_order_type" {% if work_order_type is None or work_order_type == 1 %}checked{% endif %} />Standard<br/>
				<input type="radio" value="2" name="work_order_type" {% if work_order_type == 2 %}checked{% endif %} />Cost per sample
			</td>
		</tr>
		<tr>
			<th>Notes</th>
			<td><textarea class="form-control" name="notes" id="notes" cols=60 rows=10>{% if notes %}{{ notes }}{% endif %}</textarea></td>
		</tr>
	</table>

	<input type="submit" value="Create Work Order" class="btn btn-success" />
</form>

<script type="text/javascript">
var sourceData = {{ customers|json_search_base }};
$("#work_order_number").limitInputCharacters(LETTERS_AND_NUMBERS + "-_");
function enable_customer()
{
	var id = "#customer";
	$(id).autocomplete('customer', on_customer_selection, sourceData).focus();
}
enable_customer();

{% if customer_id %}
var selectedItem = sourceData.find(item => item.id === {{ customer_id }});
$("#customer").typeahead('val', selectedItem.id).hide();
$("#customer_button").val(selectedItem.name).show();
{% endif %}



function on_customer_selection(jquery_event, search_selection, dataset_name)
{
	$(this).typeahead('val', search_selection.id).hide();
	var button_id = "#customer_button";
	$(button_id).val(search_selection.name).show();
}

function purge_customer()
{
	$("#customer_button").hide();
	$("#customer").typeahead('val', '').css("display","inline").focus();
}

function on_submit()
{
	var work_order_number = $("#work_order_number").val();
	var customer = $("#customer").val();

	if (work_order_number == "") {
		alert("Please enter a value for the Work Order Number");
		$("#work_order_number").focus();
		return false;
	}

	if (customer == "") {
		alert("Please select a customer");
		$("#customer").focus();
		return false;
	}

	return true;
}
</script>


{% endblock %}
