{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Users{% endblock %}
{% block content %}
	<h1>
		Users
	</h1>
	<p>
	Users displayed with a <span style="background-color: #d0d0d0;">grey background</span> are inactive.
	</p>
	<div class="row">
		<div class="col-md-4">
			<input id="search" type="text" placeholder="Search for a user" class="form-control" autofocus>
		</div>
	</div>
	<script>
	$("#search").keyup(function () {
		var data = this.value.split(" ");

		var tr = $("#user_data").find("tr");
		if (this.value == "") {
			tr.show();
			return;
		}

		tr.hide();

		tr.filter(function(i, v) {
			var $t = $(this);
			for (var d = 0; d < data.length; ++d) {
				var s = data[d].toUpperCase();
				if ($t.text().toUpperCase().indexOf(s) > -1) {
					return true;
				}
			}
		})
		.show();
	});
	</script>

	<table class="table">
		<thead>
		<tr>
			<th>Last</th>
			<th>First</th>
			<th>Username</th>
			<th>Core</th>
			<th>Roles</th>
			<th>Staff?</th>
		</tr>
		</thead>
		<tbody id="user_data">
	{% for u in users %}
		<tr {% if not u.is_active %}style="background-color: #d0d0d0;"{% endif %}>
			<td>{{ u.last_name }}</td>
			<td>{{ u.first_name }}</td>
			<td><a href="{% url 'create_or_modify_user' u.id %}">{{ u.username }}</a></td>
			<td>
			{% for c in u.core_ids.all %}
			{{ c.name }} <br/>
			{% endfor %}
			</td>
			<td>
			{% for g in u.groups.all %}
			{{ g.name }} <br/>
			{% endfor %}
			</td>
			<td>{{ u.is_staff }}</td>
		</tr>
	{% endfor %}
		</tbody>
	</table>
{% endblock %}
