{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Users{% endblock %}
{% block content %}
	<h1>
		Users
	</h1>
	<p>
	<b>Users displayed with a <span style="background-color: #d0d0d0;">grey background</span> are inactive.</b>  Use the field below to search for users.  You may search by first, last or user name or email address.  Once your search is completed the displayed results can be filtered by the filter field. To search for new results enter a new value in the Search for users field and click the Search button.
	</p>

	<div>
	<table width="100%">
	<tr>
	<td>
	<form name="search_form" method="post">
		{% csrf_token %}

		<input id="search" name="search" type="text" placeholder="Search for users" class="form-control" style="display: inline-flex; width: 50%;" autofocus></input>


		<input type="submit" value="Search" class="btn btn-success" style="display: inline!important;"></input>

	</form>
	</td>
	<td>
		{% if not use_form %}
		<input id="filter" name="filter" type="text" placeholder="Filter users" class="form-control" style="display: inline!important;" autofocus></input>
		{% endif %}
	</td>
	</tr>
	</table>
	</div>

	{% if not use_form %}
	<script>
	$("#filter").keyup(function () {
		var data = this.value.split(" ");

		var tr = $("#user_data").find("tr");
		if (this.value == "") {
			tr.show();
			return;
		}

		tr.hide();

		tr.filter(function(i, v) {
			var $t = $(this);
			for (var d = 0; d < data.length; ++d) {
				var s = data[d].toUpperCase();
				if ($t.text().toUpperCase().indexOf(s) > -1) {
					return true;
				}
			}
		})
		.show();
	});
	</script>
	{% endif %}

{% if 1 == 0 %}
<div class="pagination">
	<span class="step-links">
	{% if users.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ users.previous_page_number }}">previous</a>
	{% endif %}

	<span class="current">
		Page {{ users.number }} of {{ users.paginator.num_pages }}
	</span>

		{% if users.has_next %}
			<a href="?page={{ users.next_page_number }}">next</a>
			<a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	</span>

	<span class="step-links">
		Go to page
		<select class="form-control" name="page_selector" id="page_selector_bottom" onchange="open_page('bottom');" style="display:inline!important;">
			<option value="0">Please select a page</option>

		</select>
	</span>
</div>
{% endif %}

{% if search_string is not None %}
<div>
<br/><br/>
The results of your search for "{{ search_string }}" are:
<br/>
</div>
{% endif %}

{% if not use_form %}
	<table class="table">
		<thead>
		<tr>
			<th>Last</th>
			<th>First</th>
			<th>Username</th>
			<th>Email</th>
			<th>Core</th>
			<th>Roles</th>
			<th>Staff?</th>
			{% if request.user.is_superuser %}
			<th>Profile</th>
			{% endif %}
		</tr>
		</thead>
		<tbody id="user_data">
	{% for u in users %}
		<tr {% if not u.is_active %}style="background-color: #d0d0d0;"{% endif %}>
			<td>{{ u.last_name }}</td>
			<td>{{ u.first_name }}</td>
			<td><a href="{% url 'create_or_modify_user' u.id %}">{{ u.username }}</a></td>
			<td>{{ u.email }}</td>
			<td>
			{% for c in u.core_ids.all %}
			{{ c.name }} <br/>
			{% endfor %}
			</td>
			<td>
			{% for g in u.groups.all %}
			{{ g.name }} <br/>
			{% endfor %}
			</td>
			<td>{{ u.is_staff }}</td>
			{% if request.user.is_superuser %}
			<td><a href="{% url 'user_profile' u.id %}">{{ u.username }} profile</a></td>
			{% endif %}
		</tr>
	{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if 1 == 0 %}
<div class="pagination">
	<span class="step-links">
	{% if users.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ users.previous_page_number }}">previous</a>
	{% endif %}

	<span class="current">
		Page {{ users.number }} of {{ users.paginator.num_pages }}
	</span>

		{% if users.has_next %}
			<a href="?page={{ users.next_page_number }}">next</a>
			<a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	</span>

	<span class="step-links">
		Go to page
		<select class="form-control" name="page_selector" id="page_selector_bottom" onchange="open_page('bottom');" style="display:inline!important;">
			<option value="0">Please select a page</option>

		</select>
	</span>
</div>

<script type="text/javascript">
function on_load() {
	var page_count = {{ page_count }};
	var list = $("select[name='page_selector']");

	$(list).each(function() {
		for (i=1; i<=page_count; i++) {
			var op = "<option value=" + i + ">" + i + "</option>";
			$(this).append(op);
		}
	});

}

function open_page(sloc) {
	var s = "#page_selector_" + sloc + " option:selected";
	var page = $(s).val();
	var loc = "?page=" + page;
	location.href = loc;
}

$(on_load);
</script>
{% endif %}
{% endblock %}
