{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Your Requirements{% endblock %}
{% block extrahead %}
	{% load static %}
	<style>
		button[aria-expanded="true"] .toggle-icon::before {	content: "-"; }
		button[aria-expanded="false"] .toggle-icon::before { content: "+"; }

		button .toggle-icon::before {
			font-weight: 700;
			font-size: 1.1em;
			line-height: 1;
		}

	</style>
{% endblock %}
{% block content %}
<h2>Your Requirements</h2>
{% if request.GET.first == '1' %}
<div class="alert alert-info" role="alert">
	Welcome to LEO! We've set up your initial requirements. Please review them below.  You can also find information on how to get started in the Things To Do section.
</div>
{% endif %}
<!--<div id="things_to_do" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Things To Do
			<button type="button" class="close" data-toggle="collapse" data-target="#things_to_do_body" aria-expanded="true" aria-controls="things_to_do_body">
				<span class="toggle-icon" aria-hidden="true"></span>
			</button>
		</h3>
	</div>
	<div id="things_to_do_body" class="panel-collapse collapse in">
		<div class="panel-body">
			<p>
			There are tasks that occur when using LEO that are detailed elsewhere but a quick reference is provided here.
			</p>
			<ul>
				<li>To request training or service for the Materials Characterization Lab (MCL) use the <a href="https://pmd.mri.psu.edu/MRIIntake/" target="_blank">MCL intake form</a>.</li>
				<li>To request service for the Nanofab use the <a href="https://pmd.mri.psu.edu/MRIIntake/Nanofab" target="_blank">Nanofab intake form</a>.</li>
				<li>To request training for the Nanofab please refer to their <a href="https://pennstateoffice365.sharepoint.com/sites/MRI-NanofabEPKB" target="_blank">sharepoint page</a> and use the Become a User - Requirements and Training link to find the steps to get training.</li>
			</ul>
		</div>
	</div>
</div>-->
<table class="table">
    <thead>
        <tr>
            <th>Requirement</th>
            <th>Status</th>
            <th>Expected completion time</th>
            <th>Resources</th>
        </tr>
    </thead>
    <tbody>
        {% for req in requirements %}
        <tr>
            <td><span title="{{ req.description }}">{{ req.name }}</span></td>
            <td>{{ req.get_status_display }}</td>
            <td>{{ req.expected_completion_time }}</td>
            <td>
                {% if req.resource_link %}
                    <a href="{{ req.resource_link }}" target="_blank">{{ req.resource_link }}</a>
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}