{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Accounts and projects{% endblock %}
{% block content %}
	<h1>
		Accounts and projects
	</h1>
	<div class="row">
		<div class="col-md-4" id="search_container">
			<input id="search" type="text" placeholder="Search for an account or project" class="form-control" autofocus>
		</div>
	</div>


	<table class="table">
		<thead>
		<tr>
			<th>Account Info</th>
			<th>Users</th>
			<th>Add user</th>
		</tr>
		</thead>
		<tbody id="project_data">

	{% for p in projects %}
		<tr>
			<td>
				<b>Account:</b> {{ p.account }}<br/>
				<b>Account Owner:</b> {{ p.account.owner }}<br/>
				<b>Project: {{ p }}</b><br/>
				<b>Project Owner:</b> {{ p.owner }}<br/>
				<b>End Date:</b> {{ p.end_date }}
			</td>
			<td>
				<table class="table" id="project_{{ p.id }}">
			{% if p.user_set.all|length > 0 %}
				{% for u in p.user_set.all %}
				<tr id="user_{{ u.id }}">

					<td width="85%">{{ u }}</td>
					<td>
						<button type="button" class="btn btn-danger" onclick="remove_user_from_project({{ u.id}},{{ p.id }});">Remove</button>
					</td>
				</tr>
				{% endfor %}
			{% else %}
				<tr id="no_user_{{ p.id }}">
					<td>No users assigned</td>
				</tr>
			{% endif %}
				</table>
			</td>
			<td>
				<input id="search_{{ p.id }}" type="text" placeholder="Add a user" class="form-control user_search" autofocus>

				<span id="selection_{{ p.id }}" style="display:inline" class="form-control user_search_span"></span>
				<button id="add_{{ p.id }}" type="button" style="display:none" class="btn btn-success user_add">Add </button>
				<button id="cancel_{{ p.id }}" type="button" style="display:none" class="btn btn-danger user_cancel">Cancel</button>
			</td>

	{% endfor %}

		</tbody>
	</table>

	<script>
		function get_account(jquery_event, search_selection, dataset_name)
		{
			if(search_selection.type == 'project')
				window.location.href = '/project/' + search_selection.id + '/';
			else if(search_selection.type == 'account')
				window.location.href = '/account/' + search_selection.id + '/';
		}
		function add_user_to_project()
		{
			//var project_id = $(this).data('project-id');
			var id = $(this).attr("id");
			var project_id = id.split("_")[1];
			id = "#search_" + project_id;
			var user_id = $(id).val();

			// $(this).typeahead('val', '').focus();
			var url = "/add_user/" + user_id + "/to_project/" + project_id + "/";
			var complete_callback = ajax_complete_callback('Unable to modify project');
			//$("#project_" + project_id + "_users").load(url, {'csrfmiddlewaretoken': '{{ csrf_token }}'}, complete_callback);

			var adr = function(data) {
				var project_id = data.project_id;

				// if there are currently no users
				var no_user_id = "#no_del_" + project_id;
				$(no_user_id).remove();

				// add new user to existing users table
				var tbl_id = "#project_" + project_id;
				var $tbl = $(tbl_id);
				var $tr = $('<tr></tr>');
				$tr.attr("id", "user_"+data.user_id);
				var $td1 = $('<td></td>');
				$td1.text(data.user_last + ', ' + data.user_first + ' (' + data.user_username + ')');
				var $td2 = $('<td></td>');
				var $btn = $('<button></button>');
				$btn.text('Remove');
				$btn.attr('class','btn btn-danger').attr('type','button').attr('id', 'del_'+ data.user_id);
				$btn.bind('click',function() { remove_user_from_project(project_id,data.user_id); });
				$td2.append($btn);
				$tr.append($td1);
				$tr.append($td2);
				$tbl.append($tr);

				// hide buttons and show search field
				var add = "#add_" + project_id;
				var cancel = "#cancel_" + project_id;
				var selection = "#selection_" + project_id;
				var search = "#search_" + project_id;
	
				$(cancel).hide();
				$(add).hide();
				$(selection).hide();
				$(search).typeahead('val', '').show();
			}
			var data = {};

			ajax_post(url, data, adr, complete_callback);
		}
		function remove_user_from_project(user_id, project_id)
		{
			var complete_callback = ajax_complete_callback('Unable to remove user from project');
			var url = '/remove_user/' + user_id + '/from_project/' + project_id + '/';

			var ddr = function() {
				var id = "#project_" + project_id;
				var id_tbody = id + " > tbody";
				var el = "#user_" + user_id;
				$(el).remove();
				if ($(id_tbody).children().length == 0) {
					var $tr = $("<tr></tr>");
					var $td = $("<td></td>");
					var no_user = "no_user_" + project_id;
					$tr.attr("id", no_user);
					$td.text("No users assigned");
					$tr.append($td);
					$(id).append($tr);
				}
			}
			var data = {};
			ajax_post(url, data, ddr, complete_callback);


			//$("#project_" + project_id + "_users").load('/remove_user/' + user_id + '/from_project/' + project_id + '/', {'csrfmiddlewaretoken': '{{ csrf_token }}'}, complete_callback);
		}
		function cancel_user()
		{
			var id = $(this).attr("id");
			var project_id = id.split("_")[1];
			var add = "#add_" + project_id;
			var cancel = "#cancel_" + project_id;
			var selection = "#selection_" + project_id;
			var search = "#search_" + project_id;

			$(cancel).hide();
			$(add).hide();
			$(selection).hide();
			$(search).typeahead('val', '').show();
		}
		function on_autocomplete_selection(jquery_event, search_selection)
		{
			var id = $(this).attr("id");
			var project_id = id.split("_")[1];
			var add = "#add_" + project_id;
			var cancel = "#cancel_" + project_id;
			var selection = "#selection_" + project_id;

			$(this).typeahead('val', search_selection.id).hide();
			$(selection).html(search_selection.name).show();
			$(add).show();
			$(cancel).show();
		}
		function enable_autocompletion(project_id)
		{
			var id = "#search_" + project_id;
			$(id).autocomplete('user', on_autocomplete_selection, {{ users|json_search_base }});
			id = "#add_" + project_id;
			$(id).click(add_user_to_project);
			id = "#cancel_" + project_id;
			$(id).click(cancel_user);
		}
		function on_load()
		{
			//$('#search').autocomplete('accounts_and_projects', get_account, {% json_search_base_with_extra_fields accounts_and_projects 'application_identifier' %});
			$("#search").keyup(function () {
				var data = this.value.split(" ");
				var tr = $("#project_data").children();

				if (this.value == "") {
					tr.show();
					return;
				}

				tr.hide();

				tr.filter(function(i, v) {
					var $t = $(this);
					for (var d = 0; d < data.length; ++d) {
						var s = data[d].toUpperCase();
						if ($t.text().toUpperCase().indexOf(s) > -1) {
							return true;
						}
					}
				})
				.show();
			});

			{% for p in projects %}
			id = "#selection_" + '{{ p.id }}';
			$(id).hide();
			enable_autocompletion({{ p.id }});
			{% endfor %}

			//$('.user_search').autocomplete('users', on_autocomplete_selection, {{ users|json_search_base }});
			//$('.user_search_span').hide();
			//$('.user_add').click(add_user_to_project);
			//$('.user_cancel').click(cancel_user);
		}
		$(on_load);
	</script>
	<style>
		#search_container .tt-dropdown-menu
		{
			min-width: 400px;
			max-height: 600px;
		}
	</style>
{% endblock %}
