{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Compose email{% endblock %}
{% block extrahead %}
	{% load static %}
{% endblock %}

{% block content %}
	<h1>Compose an email</h1>
	{% if generic_email_sample %}
		<div class="row">
			<form action="{% url 'send_broadcast_email' %}" method="post" id="compose_email" onsubmit="return on_submit();">
				{% csrf_token %}
				<div class="col-sm-6">
					<h3>Recipients</h3>
					Active LEO users are listed below in black. Inactive users are <span style="color:lightgrey">gray</span>.
					<div class="checkbox">
						<label><input type="checkbox" name="only_active_users" checked> Only send this email to active users</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="copy_me" checked> Send a copy of this email to myself</label>
					</div>
					<span id="recipients">
					{% if audience == "active_users" %}
					<b>All active users selected</b>
					{% endif %}
					{% if audience == "active_users_date" %}
					<b>All users active from {{ start }} to {{ end }} selected</b>
					{% endif %}
					{% for u in users %}
						{% if audience != "active_users" and audience != "active_users_date" %}
						<span id="rec_{{ u.id }}">
						<span class="glyphicon glyphicon-remove-circle grey pointer" onclick="remove_recipient({{ u.id }});"></span>
						<span {% if not u.is_active %}style="color:lightgrey"{% endif %}>{{ u }} - {{ u.email }}</span>
						{% endif %}
						<input type="hidden" name="recipient" value="{{ u.id }}" />
						{% if audience != "active_users" and audience != "active_users_date" %}</span><br/>{% endif %}
					{% endfor %}
					</span>
					<br/><br/>
					{% if audience != "active_users" and audience != "active_users_date" %}
					<div class="row">
					To add additional recipients to this email, please select from the user search field:<br/>
					<input class="form-control" id="search" placeholder="Please search for additional recipients" />
					</div>
					{% endif %}
				</div>


				<div class="col-sm-6">
					<p>This page was loaded {{ current_time }}</p>
					<h3>Email content</h3>
					<input type="hidden" name="audience" value="{{ audience }}">
					<input type="hidden" name="selection" value="{% if selection %}{{ selection }}{% else %}0{% endif %}">
					<div class="form-group">
						<input type="text" id="subject" name="subject" class="form-control" placeholder="Subject line" autofocus>
					</div>
					<div class="form-group">
						Title background color:
						<div class="radio" style="background-color:#5bc0de; padding:5px">
							<label>
								<input type="radio" name="color" value="#5bc0de" checked>
								Blue, for conveying information
							</label>
						</div>
						<div class="radio" style="background-color:#5cb85c; padding:5px">
							<label>
								<input type="radio" name="color" value="#5cb85c">
								Green, for conveying success
							</label>
						</div>
						<div class="radio" style="background-color:#f0ad4e; padding:5px">
							<label>
								<input type="radio" name="color" value="#f0ad4e">
								Orange, for conveying a warning
							</label>
						</div>
						<div class="radio" style="background-color:#d9534f; padding:5px">
							<label>
								<input type="radio" name="color" value="#d9534f">
								Red, for conveying danger
							</label>
						</div>
					</div>
					<div class="form-group">
						<input type="text" id="title" name="title" class="form-control" style="text-transform:uppercase" placeholder="Title (always uppercase)">
					</div>
					<div class="form-group">
						<input type="text" id="greeting" name="greeting" class="form-control" placeholder="Greeting">
					</div>
					<div class="form-group">
						<textarea class="form-control" id="contents" name="contents" rows="6" placeholder="What would you like to say?"></textarea>
					</div>
					<input type="submit" class="btn btn-success" value="Send">
					<div style="height:50px"></div>
					<h3>Your email will look like this...</h3>
					<table width="100%" border="1">
						<tr>
							<td>{{ generic_email_sample|safe }}</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		<script type="text/javascript">
		$('#search').autocomplete('search_base', set_selection, {% json_search_base_with_extra_fields cc_users 'email' %});
		function set_selection(jquery_event, search_selection, dataset_name)
		{
			s_append = '<span id="rec_' + search_selection.id + '">';
			s_append += '<span class="glyphicon glyphicon-remove-circle grey pointer" onclick="remove_recipient(' + search_selection.id + ');"></span>';
			s_append += '<span> ' + search_selection.name + ' - ' + search_selection.email + '</span>';
			s_append += '<input type="hidden" name="recipient" value="' + search_selection.id + '" />';
			s_append += '</span><br/>';

			$("#recipients").append(s_append);
			//$("#compose_email").append("<input type='hidden' name='recipient' id='recipient' value='" + search_selection.id + "' />");
			$('#search').val("");
		}
		function remove_recipient(id)
		{
			var s = "#rec_" + id;
			$(s).next().remove();
			$(s).remove();
		}
		function on_submit() 
		{
			if ($("#contents").val() == '') {
				alert("Please include a message");
				$("#contents").focus();
				return false;
			}

			return true;
		}
		</script>
	{% else %}
		A generic email format has not been customized for your organization yet. You'll need to create one before you can send email broadcasts from within LEO. Please visit the <a href="{% url 'customization' %}">customizations page</a> to upload a template.
	{% endif %}
{% endblock %}
