{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Email broadcast{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}"/>
{% endblock %}

{% block content %}
	<h1>Email broadcast</h1>

	{% if error %}
		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% endif %}

	<p>
	Compose an email to all users who...
	<ul>
		<li><a href="{% url 'email_broadcast' 'tool' %}">are qualified for a tool</a> or <a href="{% url 'email_broadcast' 'tool_date' %}">used a tool during a specific date range</a></li>
		<li><a href="{% url 'email_broadcast' 'project' %}">are working on a project</a> or <a href="{% url 'email_broadcast' 'project_date' %}">charged to a project during a specific date range</a></li>
		<li><a href="{% url 'email_broadcast' 'group' %}">are members of a group</a></li>
	</ul>
	</p>
	<p>
	or 
	<ul>
		<li><a href="{% url 'email_broadcast' 'user' %}">email a user</a></li>
		<li><a href="{% url 'email_broadcast' 'active_users' %}">email all users</a></li>
		<li><a href="{% url 'email_broadcast' 'active_users_date' %}">email all users who were active during a date range</a></li>
	</ul>
	</p>

	{% if search_base %}

		{% if audience != 'active_users_date' %}
		<div class="row">
			<div class="col-sm-4">
				<input id="search" class="form-control" placeholder="Which {% if audience == 'tool_date' %}tool{% elif audience == 'project_date' %}project{% else %}{{ audience }}{% endif %}?" autofocus />
			</div>
		</div>
		{% endif %}

		{% if date_range %}
		<br/><br/>
		<div class="row">
			<label for="start_select">Start
			<div class="datetimepicker-container">
				<input type="text" name="start_select" id="start_select" />
			</div>
			</label>
			<label for="end_select">End
			<div class="datetimepicker-container">
				<input type="text" name="end_select" id="end_select" />
			</div>
			</label>
		</div>
		{% endif %}

		<form id="email" method="get" action="{% url 'compose_email' %}">
			<input type="hidden" name="audience" value="{{ audience }}">
			<input type="hidden" id="selection" name="selection">
			{% if date_range %}
			<input type="hidden" name="date_range" id="date_range" value="true" />
			<input type="hidden" name="start" id="start" />
			<input type="hidden" name="end" id="end" />
			{% endif %}
			{% if audience == 'tool' or date_range %}
			<br/><input type="submit" id="submit" value="Compose Email" style="display: none;" class="btn btn-default" />
			<br/><br/><span id="tools"></span>
			{% endif %}
		</form>

		<script type="text/javascript">
			$('#search').autocomplete('search_base', set_selection, {{ search_base|json_search_base }});
		{% if date_range %}
			$("#start_select").datetimepicker({format: 'YYYY-MM-DD hh:mm A'})
				.on('dp.change', function() {
					$("#start").val(convert_12_to_24($(this).val()));
					check_complete();
				}
			);
			$("#end_select").datetimepicker({format: 'YYYY-MM-DD hh:mm A'})
				.on('dp.change', function() {
					$("#end").val(convert_12_to_24($(this).val()));
					check_complete();
				}
			);
			function check_complete()
			{
				if ($('#start').val() != "" && $('#end').val() != "") {
					$("#submit").show();
				} else {
					$("#submit").hide();
				}
			}
		{% endif %}
			function set_selection(jquery_event, search_selection, dataset_name)
			{
				$('#selection').val(search_selection.id);
				{% if audience == 'tool' or date_range %}
					{% if date_range %}
					if ($('#start').val() != "" && $('#end').val() != "") {
						$("#submit").show();
					} else {
						$("#submit").hide();
					}
					{% else %}
						$("#submit").show();
					{% endif %}
					s_append = '<span id="tool_' + search_selection.id + '">';
					s_append += '<span class="glyphicon glyphicon-remove-circle grey pointer" onclick="remove_tool(' + search_selection.id + ');"></span>';
					s_append += '<span> ' + search_selection.name + '</span>';
					s_append += '<input type="hidden" name="tool" value="' + search_selection.id + '" />';
					s_append += '</span><br/>';

					$("#tools").append(s_append);
					$('#search').val("");
				{% else %}
					$('#email').submit();
				{% endif %}
			}
			function remove_tool(id)
			{
				var s = "#tool_" + id;
				$(s).next().remove();
				$(s).remove();
			}
		</script>
	{% endif %}
{% endblock %}
