{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Email broadcast{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}"/>
{% endblock %}

{% block content %}
	<h1>Email broadcast</h1>

	{% if error %}
		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% endif %}

	<p>
	Compose an email to all users who...
	<ul>
		<li><a href="{% url 'email_broadcast' 'tool' %}">are qualified for a tool</a> or <a href="{% url 'email_broadcast' 'tool_date' %}">used a tool during a specific date range</a></li>
		<li><a href="{% url 'email_broadcast' 'project' %}">are working on a project</a> or <a href="{% url 'email_broadcast' 'project_date' %}">charged to a project during a specific date range</a></li>
		<li><a href="{% url 'email_broadcast' 'group' %}">are members of a group</a></li>
	</ul>
	</p>
	<p>
	or 
	<ul>
		<li><a href="{% url 'email_broadcast' 'user' %}">email a user</a></li>
		<li><a href="{% url 'email_broadcast' 'active_users' %}">email all users</a></li>
		<li><a href="{% url 'email_broadcast' 'active_users_date' %}">email all users who were active during a date range</a></li>
	</ul>
	</p>

	<table class="table">
	<tr>
	<td style="width: 50%;">
	<input type="text" name="search_users" id="search_users" value="" placeholder="Enter the name or username for a user" class="form-control" style="width: 90%; display: inline;"/>
	<input type="button" class="btn" value="X" style="width: 7%; display: inline;" onclick="$(this).prev().val('').keyup();" />
	<select multiple name="users" id="users" size="8" class="form-control" style="width: 100%;">
	{% for u in user_list %}
		<option value="{{ u.id }}">{{ u.last_name }}, {{ u.first_name }} ({{ u.username }})</option>
	{% endfor %}
	</select>
	</td>
	<td style="width: 50%;">
	<select multiple name="users_selected" id="users_selected" size="10" class="form-control" style="width: 100%;">
	</select>
	</td>
	</tr>
	<tr>
	<td style="width: 50%;">
	<input type="text" name="search_tools" id="search_tools" value="" placeholder="Enter the name of a tool" class="form-control" style="width: 90%; display: inline;"/>
	<input type="button" class="btn" value="X" style="width: 7%; display: inline;" onclick="$(this).prev().val('').keyup();" />
	<select multiple name="tools" id="tools" size=8" class="form-control" style="width: 100%;">
	{% for t in tool_list %}
		<option value="{{ t.id }}">{{ t.name }}</option>
	{% endfor %}
	</select>
	</td>
	<td style="width: 50%;">
	<select multiple name="tools_selected" id="tools_selected" size="10" class="form-control" style="width: 100%;">
	</select>
	</td>
	</tr>
	<tr>
	<td style="width: 50%;">
	<input type="text" name="search_projects" id="search_projects" value="" placeholder="Enter a project number or description" class="form-control" style="width: 90%; display: inline;"/>
	<input type="button" class="btn" value="X" style="width: 7%; display: inline;" onclick="$(this).prev().val('').keyup();" />
	<select multiple name="projects" id="projects" size="8" class="form-control" style="width: 100%;">
	{% for p in project_list %}
		<option value="{{ p.id }}">{{ p }}</option>
	{% endfor %}
	</select>
	</td>
	<td style="width: 50%;">
	<select multiple name="projects_selected" id="projects_selected" size="10" class="form-control" style="width: 100%;">
	</select>
	</td>
	</tr>
	</table>

	{% if search_base %}

		{% if audience != 'active_users_date' %}
		<div class="row">
			<div class="col-sm-4">
				<input id="search" class="form-control" placeholder="Which {% if audience == 'tool_date' %}tool{% elif audience == 'project_date' %}project{% else %}{{ audience }}{% endif %}?" autofocus />
			</div>
		</div>
		{% endif %}

		{% if date_range %}
		<br/><br/>
		<div class="row">
			<label for="start_select">Start
			<div class="datetimepicker-container">
				<input type="text" name="start_select" id="start_select" />
			</div>
			</label>
			<label for="end_select">End
			<div class="datetimepicker-container">
				<input type="text" name="end_select" id="end_select" />
			</div>
			</label>
		</div>
		{% endif %}

		<form id="email" method="get" action="{% url 'compose_email' %}">
			<input type="hidden" name="audience" value="{{ audience }}">
			<input type="hidden" id="selection" name="selection">
			{% if date_range %}
			<input type="hidden" name="date_range" id="date_range" value="true" />
			<input type="hidden" name="start" id="start" />
			<input type="hidden" name="end" id="end" />
			{% endif %}
			{% if audience == 'tool' or date_range %}
			<br/><input type="submit" id="submit" value="Compose Email" style="display: none;" class="btn btn-default" />
			<br/><br/><span id="tools"></span>
			{% endif %}
		</form>

		<script type="text/javascript">
			$('#search').autocomplete('search_base', set_selection, {{ search_base|json_search_base }});
		{% if date_range %}
			$("#start_select").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A'})
				.on('dp.change', function() {
					$("#start").val(convert_12_to_24($(this).val()));
					check_complete();
				}
			);
			$("#end_select").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A'})
				.on('dp.change', function() {
					$("#end").val(convert_12_to_24($(this).val()));
					check_complete();
				}
			);
			function check_complete()
			{
				if ($('#start').val() != "" && $('#end').val() != "") {
					$("#submit").show();
				} else {
					$("#submit").hide();
				}
			}
		{% endif %}
			function set_selection(jquery_event, search_selection, dataset_name)
			{
				$('#selection').val(search_selection.id);
				{% if audience == 'tool' or date_range %}
					{% if date_range %}
					if ($('#start').val() != "" && $('#end').val() != "") {
						$("#submit").show();
					} else {
						$("#submit").hide();
					}
					{% else %}
						$("#submit").show();
					{% endif %}
					s_append = '<span id="tool_' + search_selection.id + '">';
					s_append += '<span class="glyphicon glyphicon-remove-circle grey pointer" onclick="remove_tool(' + search_selection.id + ');"></span>';
					s_append += '<span> ' + search_selection.name + '</span>';
					s_append += '<input type="hidden" name="tool" value="' + search_selection.id + '" />';
					s_append += '</span><br/>';

					$("#tools").append(s_append);
					$('#search').val("");
				{% else %}
					$('#email').submit();
				{% endif %}
			}
			function remove_tool(id)
			{
				var s = "#tool_" + id;
				$(s).next().remove();
				$(s).remove();
			}
		</script>
	{% endif %}
		<script type="text/javascript">
		function pair_selects(s1, s2)
		{
			// $('#selectID').append($("<option></option>").attr("value","SomeVal").text("SomeText"));
			// a function to link two multiselect list to transfer their options back and forth
			s1_id = $(s1).prop("id");
			s2_id = $(s2).prop("id");

			s1_options_tag = "#" + s1_id + " > option";
			s2_options_tag = "#" + s2_id + " > option";

			s1_options = $(s1_options_tag);
			s2_options = $(s2_options_tag);

			s1_selected = "#" + s1_id + " > option:selected";
			s2_selected = "#" + s2_id + " > option:selected";

			s1.on("click", function () {
				$("option:selected", this).each(function () {
					$(s2).append($("<option></option>").attr("value",$(this).prop("value")).text($(this).text()));
					$(this).remove();
				});
				sort_options(this);
				sort_options(s2);
			});

			s2.on("click", function () {
				$("option:selected", this).each(function () {
					$(s1).append($("<option></option>").attr("value",$(this).prop("value")).text($(this).text()));
					$(this).remove();
				});
				sort_options(this);
				sort_options(s1);
			});
		}

		function sort_options(sel)
		{
			var options = $("option", sel);
			var arr = options.map(function(_, o) { return { t: $(o).text(), v: o.value }; }).get();
			arr.sort(function(o1, o2) { return o1.t.toLowerCase() > o2.t.toLowerCase() ? 1 : o1.t.toLowerCase() < o2.t.toLowerCase() ? -1 : 0; });
			options.each(function(i, o) {
				o.value = arr[i].v;
				$(o).text(arr[i].t);
			});
		}
		pair_selects($("#users"),$("#users_selected"));
		pair_selects($("#tools"),$("#tools_selected"));
		pair_selects($("#projects"),$("#projects_selected"));

		$("#search_users").keyup(function() {
			var data = this.value.split(" ");

			var options = $("#users option");
			if (this.value.length < 3) {
				options.show();
				return;
			}

			options.hide();

			options.filter(function(i,v) {
				var $t = $(this);
				for (var d = 0; d < data.length; ++d) {
					var s = data[d].toUpperCase();
					if ($t.text().toUpperCase().indexOf(s) > -1) {
						return true;
					}
				}
			}).show();
		});

		$("#search_tools").keyup(function() {
                        var data = this.value.split(" ");

                        var options = $("#tools option");
                        if (this.value.length < 3) {
                                options.show();
                                return;
                        }

                        options.hide();

                        options.filter(function(i,v) {
                                var $t = $(this);
                                for (var d = 0; d < data.length; ++d) {
                                        var s = data[d].toUpperCase();
                                        if ($t.text().toUpperCase().indexOf(s) > -1) {
                                                return true;
                                        }
                                }
                        }).show();
                });

		$("#search_projects").keyup(function() {
                        var data = this.value.split(" ");

                        var options = $("#projects option");
                        if (this.value.length < 3) {
                                options.show();
                                return;
                        }

                        options.hide();

                        options.filter(function(i,v) {
                                var $t = $(this);
                                for (var d = 0; d < data.length; ++d) {
                                        var s = data[d].toUpperCase();
                                        if ($t.text().toUpperCase().indexOf(s) > -1) {
                                                return true;
                                        }
                                }
                        }).show();
                });
		</script>
{% endblock %}
