{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Email broadcast{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}"/>
	<script type="text/javascript">
	function move_all(sel)
	{
		var id_tag = "#" + sel;

		$("option", id_tag).each(function() {
			if ($(this).css("display") != "none") {
				$(this).prop("selected", true);
			}
		});

		$(id_tag).click();

		var search_tag = "#search_";

		if (sel.indexOf("_") == -1) {
			search_tag += sel;
		} else {
			search_tag += sel.substring(0,sel.indexOf("_"));
		}

		$(search_tag).keyup();
	}

	function change_status(bChecked, sSection)
	{
		sel1 = "#" + sSection;
		sel2 = "#" + sSection + "_selected";
		search = "#search_" + sSection;
		choose = "#choose_" + sSection;
		remove = "#remove_" + sSection;
		header = "#" + sSection + "_header";

		$(sel1).prop("disabled",!bChecked);
		$(sel2).prop("disabled",!bChecked);
		$(search).prop("disabled",!bChecked);
		if (!bChecked) {
			$(choose).hide();
			$(remove).hide();
			$(header).css("color","grey");
		} else {
			$(choose).show();
			$(remove).show();
			$(header).css("color","black");
		}
	}
	</script>

{% endblock %}

{% block content %}
	<h1>Email broadcast</h1>

	{% if error %}

		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% endif %}
	<p>Use the form below to choose the users to email.  Selecting nothing for a given section means nothing will be included in filtering the email recipients list.</p>
	<p>Users are straightforward selections which include all the selected users.</p>
	<p>Areas, Tools and Projects can be influenced by the inclusion of a date range.  They function similarly, although with a bit of variation, depending on whether or not a date range is included in the filter.
	<ul>
		<li>If an Area is selected without a date range, then all users with access to the area (active and inactive)  will be included in the recipient list.  If a date range is included then the filter will be based on all users who accessed the chosen area within the selected date range.</li>
		<li>If a Tool is selected without a date range, then all qualified users (active and inactive) will be included in the recipient list.  If a date range is included then the filter will be based on all users who used the chosen tool within the selected date range.</li>
		<li>If a Project is selected without a date range, then all users with project permissions (active and inactive) will be included in the recipient list.  If a date range is included then the filter will be based on all users who charged to the selected project within the selected date range.</li>
	</ul>
	</p>
	<p>Core Members will select the technical staff who are associated with the chosen core(s)</p>
	<p>Core Users will select all the individuals who have conducted transactions within a core (tool use, staff charges, area access or consumable withdraws), and can be limited by a date range</p>
	<p>Core PIs will select the principle investigators who own the projects against which charges have been made within the core(s), and can be limited by a date range</p>
	<p>Lastly, using a date range without selecting any other options will filter the recipient list to be all users who created any transactions in the system within the specified period.</p>


<form action="{% url 'compose_email' %}" method="POST" onsubmit="return on_submit();">
	{% csrf_token %}
	<table class="table">

	<tr>
		<td colspan="2">
			<h2>Dates</h2>
		</td>
	</tr>

	<tr>
		<td colspan="2">
		<div class="row">
			<label for="start_select">Start
			<div class="datetimepicker-container">
				<input type="text" name="start_select" id="start_select" class="form-control" />
			</div>
			</label>
			<label for="end_select">End
			<div class="datetimepicker-container">
				<input type="text" name="end_select" id="end_select" class="form-control" />
			</div>
			</label>
		</div>
		</td>

	</tr>

	<tr>
		<td colspan="2">
			<label for="use_groups"><h2 id="groups_header">Groups</h2></label>
		</td>
	</tr>

	<tr>
		<td style="width: 50%;">
			<select multiple name="groups" id="groups" size="5" class="form-control" style="width: 100%;">
			{% for g in group_list %}
				<option value="{{ g.id }}">{{ g.name }}</option>
			{% endfor %}
			</select>
			<a href="javascript:move_all('groups');" class="selector-chooseall active" id="choose_groups">Choose all</a>
		</td>

		<td style="width: 50%;">
			<select multiple name="groups_selected" id="groups_selected" size="5" class="form-control" style="width: 100%;">
			</select>
			<a href="javascript:move_all('groups_selected');" class="selector-remove active" id="remove_groups">Remove all</a>
		</td>

	</tr>


	<tr>
		<td colspan="2">
			<label for="use_users"><h2 id="users_header">Users</h2></label>
		</td>
	</tr>

	<tr>
		<td style="width: 50%;">
			<input type="text" name="search_users" id="search_users" value="" placeholder="Enter the name or username for a user" class="form-control" style="width: 92%; display: inline;"/>
			<input type="button" class="btn" value="X" style="width: 7%; display: inline;" onclick="$(this).prev().val('').keyup();" />
			<select multiple name="users" id="users" size="8" class="form-control" style="width: 100%;">
			{% for u in user_list %}
				<option value="{{ u.id }}">{{ u.last_name }}, {{ u.first_name }} ({{ u.username }}){% if not u.is_active %} - [INACTIVE]{% endif %}</option>
			{% endfor %}
			</select>
			<a href="javascript:move_all('users');" class="selector-chooseall active" id="choose_users">Choose all</a>
		</td>

		<td style="width: 50%;">
			<select multiple name="users_selected" id="users_selected" size="10" class="form-control" style="width: 100%;">
			</select>
			<a href="javascript:move_all('users_selected');" class="selector-remove active" id="remove_users">Remove all</a>
		</td>
	</tr>


	<tr>
		<td colspan="2">
			<label for="use_projects"><h2 id="projects_header">Projects</h2></label>
		</td>
	</tr>

	<tr>

		<td style="width: 50%;">
			<input type="text" name="search_projects" id="search_projects" value="" placeholder="Enter a project number or description" class="form-control" style="width: 92%; display: inline;"/>
			<input type="button" class="btn" value="X" style="width: 7%; display: inline;" onclick="$(this).prev().val('').keyup();" />
			<select multiple name="projects" id="projects" size="8" class="form-control" style="width: 100%;">
			{% for p in project_list %}
				<option value="{{ p.id }}">{{ p }}{% if not p.active %} - [INACTIVE]{% endif %}</option>
			{% endfor %}
			</select>
			<a href="javascript:move_all('projects');" class="selector-chooseall active" id="choose_projects">Choose all</a>
		</td>

		<td style="width: 50%;">
			<select multiple name="projects_selected" id="projects_selected" size="10" class="form-control" style="width: 100%;">
			</select>
			<a href="javascript:move_all('projects_selected');" class="selector-remove active" id="remove_projects">Remove all</a>
		</td>
	</tr>


	<tr>
		<td colspan="2">
			<label for="use_tools"><h2 id="tools_header">Tools</h2></label>
		</td>
	</tr>

	<tr>

		<td style="width: 50%;">
			<input type="text" name="search_tools" id="search_tools" value="" placeholder="Enter the name of a tool" class="form-control" style="width: 92%; display: inline;"/>
			<input type="button" class="btn" value="X" style="width: 7%; display: inline;" onclick="$(this).prev().val('').keyup();" />
			<select multiple name="tools" id="tools" size=8" class="form-control" style="width: 100%;">
			{% for t in tool_list %}
				<option value="{{ t.id }}">{{ t.name }}{% if not t.operational and not t.visible %} - [INACTIVE]{% endif %}</option>
			{% endfor %}
			</select>
			<a href="javascript:move_all('tools');" class="selector-chooseall active" id="choose_tools">Choose all</a>
		</td>

		<td style="width: 50%;">
			<select multiple name="tools_selected" id="tools_selected" size="10" class="form-control" style="width: 100%;">
			</select>
			<a href="javascript:move_all('tools_selected');" class="selector-remove active" id="remove_tools">Remove all</a>
		</td>
	</tr>


	<tr>
		<td colspan="2">
			<label for="use_areas"><h2 id="areas_header">Areas</h2></label>
		</td>
	</tr>

	<tr>
		<td style="width: 50%;">
			<select multiple name="areas" id="areas" size="5" class="form-control" style="width: 100%;">
			{% for a in area_list %}
				<option value="{{ a.id }}">{{ a.name }}</option>
			{% endfor %}
			</select>
			<a href="javascript:move_all('areas');" class="selector-chooseall active" id="choose_areas">Choose all</a>
		</td>

		<td style="width: 50%;">
			<select multiple name="areas_selected" id="areas_selected" size="5" class="form-control" style="width: 100%;">
			</select>
			<a href="javascript:move_all('areas_selected');" class="selector-remove active" id="remove_areas">Remove all</a>
		</td>

	</tr>


	<tr>
		<td colspan="2">
			<label for="use_cores"><h2 id="cores_header">Core Members</h2></label>
		</td>
	</tr>

	<tr>
		<td style="width: 50%;">
			<select multiple name="cores" id="cores" size="5" class="form-control" style="width: 100%;">
			{% for c in core_list %}
				<option value="{{ c.id }}">{{ c.name }}</option>
			{% endfor %}
			</select>
			<a href="javascript:move_all('cores');" class="selector-chooseall active" id="choose_cores">Choose all</a>
		</td>

		<td style="width: 50%;">
			<select multiple name="cores_selected" id="cores_selected" size="5" class="form-control" style="width: 100%;">
			</select>
			<a href="javascript:move_all('cores_selected');" class="selector-remove active" id="remove_cores">Remove all</a>
		</td>
	</tr>

	


	<tr>
		<td>
			<input type="submit" value="Submit" class="btn btn-success" />
		</td>

		<td>
			&nbsp;
		</td>
	</tr>

	</table>
	<input type="hidden" name="start" id="start" />
	<input type="hidden" name="end" id="end" />
</form>
	{% if search_base %}

		{% if audience != 'active_users_date' %}
		<div class="row">
			<div class="col-sm-4">
				<input id="search" class="form-control" placeholder="Which {% if audience == 'tool_date' %}tool{% elif audience == 'project_date' %}project{% else %}{{ audience }}{% endif %}?" autofocus />
			</div>
		</div>
		{% endif %}

		{% if date_range %}
		<br/><br/>
		<div class="row">
			<label for="start_select">Start
			<div class="datetimepicker-container">
				<input type="text" name="start_select" id="start_select" />
			</div>
			</label>
			<label for="end_select">End
			<div class="datetimepicker-container">
				<input type="text" name="end_select" id="end_select" />
			</div>
			</label>
		</div>
		{% endif %}

		<form id="email" method="get" action="{% url 'compose_email' %}">
			<input type="hidden" name="audience" value="{{ audience }}">
			<input type="hidden" id="selection" name="selection">
			{% if date_range %}
			<input type="hidden" name="date_range" id="date_range" value="true" />
			<input type="hidden" name="start" id="start" />
			<input type="hidden" name="end" id="end" />
			{% endif %}
			{% if audience == 'tool' or date_range %}
			<br/><input type="submit" id="submit" value="Compose Email" style="display: none;" class="btn btn-default" />
			<br/><br/><span id="tools"></span>
			{% endif %}
		</form>
	{% endif %}
		<script type="text/javascript">
			$("#start_select").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A'})
				.on('dp.change', function() {
					$("#start").val(convert_12_to_24($(this).val()));
				}
			);
			$("#end_select").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A'})
				.on('dp.change', function() {
					$("#end").val(convert_12_to_24($(this).val()));
				}
			);
			function check_complete()
			{
				if ($('#start').val() != "" && $('#end').val() != "") {
					$("#submit").show();
				} else {
					$("#submit").hide();
				}
			}
			function set_selection(jquery_event, search_selection, dataset_name)
			{
				$('#selection').val(search_selection.id);
				{% if audience == 'tool' or date_range %}
					{% if date_range %}
					if ($('#start').val() != "" && $('#end').val() != "") {
						$("#submit").show();
					} else {
						$("#submit").hide();
					}
					{% else %}
						$("#submit").show();
					{% endif %}
					s_append = '<span id="tool_' + search_selection.id + '">';
					s_append += '<span class="glyphicon glyphicon-remove-circle grey pointer" onclick="remove_tool(' + search_selection.id + ');"></span>';
					s_append += '<span> ' + search_selection.name + '</span>';
					s_append += '<input type="hidden" name="tool" value="' + search_selection.id + '" />';
					s_append += '</span><br/>';

					$("#tools").append(s_append);
					$('#search').val("");
				{% else %}
					$('#email').submit();
				{% endif %}
			}
			function remove_tool(id)
			{
				var s = "#tool_" + id;
				$(s).next().remove();
				$(s).remove();
			}
		</script>
		<script type="text/javascript">
		function pair_selects(s1, s2)
		{
			// $('#selectID').append($("<option></option>").attr("value","SomeVal").text("SomeText"));
			// a function to link two multiselect list to transfer their options back and forth
			s1_id = $(s1).prop("id");
			s2_id = $(s2).prop("id");

			s1_options_tag = "#" + s1_id + " > option";
			s2_options_tag = "#" + s2_id + " > option";

			s1_options = $(s1_options_tag);
			s2_options = $(s2_options_tag);

			s1_selected = "#" + s1_id + " > option:selected";
			s2_selected = "#" + s2_id + " > option:selected";

			s1.on("click", function () {
				$("option:selected", this).each(function () {
					$(s2).append($("<option></option>").attr("value",$(this).prop("value")).text($(this).text()));
					$(this).remove();
				});
				sort_options(this);
				sort_options(s2);
			});

			s2.on("click", function () {
				$("option:selected", this).each(function () {
					$(s1).append($("<option></option>").attr("value",$(this).prop("value")).text($(this).text()));
					$(this).remove();
				});
				sort_options(this);
				sort_options(s1);
			});
		}

		function sort_options(sel)
		{
			var options = $("option", sel);
			var arr = options.map(function(_, o) { return { t: $(o).text(), v: o.value }; }).get();
			arr.sort(function(o1, o2) { return o1.t.toLowerCase() > o2.t.toLowerCase() ? 1 : o1.t.toLowerCase() < o2.t.toLowerCase() ? -1 : 0; });
			options.each(function(i, o) {
				o.value = arr[i].v;
				$(o).text(arr[i].t);
			});
		}
		pair_selects($("#users"),$("#users_selected"));
		pair_selects($("#tools"),$("#tools_selected"));
		pair_selects($("#projects"),$("#projects_selected"));
		pair_selects($("#cores"),$("#cores_selected"));
		pair_selects($("#areas"),$("#areas_selected"));
		pair_selects($("#groups"),$("#groups_selected"));

		$("#search_users").keyup(function() {
			var data = this.value.split(" ");

			var options = $("#users option");
			if (this.value.length < 3) {
				options.show();
				return;
			}

			options.hide();

			options.filter(function(i,v) {
				var $t = $(this);
				for (var d = 0; d < data.length; ++d) {
					var s = data[d].toUpperCase();
					if ($t.text().toUpperCase().indexOf(s) > -1) {
						return true;
					}
				}
			}).show();
		});

		$("#search_tools").keyup(function() {
                        var data = this.value.split(" ");

                        var options = $("#tools option");
                        if (this.value.length < 3) {
                                options.show();
                                return;
                        }

                        options.hide();

                        options.filter(function(i,v) {
                                var $t = $(this);
                                for (var d = 0; d < data.length; ++d) {
                                        var s = data[d].toUpperCase();
                                        if ($t.text().toUpperCase().indexOf(s) > -1) {
                                                return true;
                                        }
                                }
                        }).show();
                });

		$("#search_projects").keyup(function() {
                        var data = this.value.split(" ");

                        var options = $("#projects option");
                        if (this.value.length < 3) {
                                options.show();
                                return;
                        }

                        options.hide();

                        options.filter(function(i,v) {
                                var $t = $(this);
                                for (var d = 0; d < data.length; ++d) {
                                        var s = data[d].toUpperCase();
                                        if ($t.text().toUpperCase().indexOf(s) > -1) {
                                                return true;
                                        }
                                }
                        }).show();
                });

		function on_submit()
		{

			$("#areas_selected option").each(function() {
				$(this).prop("selected", true);
			});
			$("#cores_selected option").each(function() {
				$(this).prop("selected", true);
			});
			$("#groups_selected option").each(function() {
				$(this).prop("selected", true);
			});
			$("#users_selected option").each(function() {
				$(this).prop("selected", true);
			});
			$("#tools_selected option").each(function() {
				$(this).prop("selected", true);
			});
			$("#projects_selected option").each(function() {
				$(this).prop("selected", true);
			});

			return true;

		}
		</script>
{% endblock %}
