{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Create Ad Hoc Usage Event{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}"/>
{% endblock %}

{% block content %}
	<h1>Usage Event Creation (Ad Hoc)</h1>
	<p>Use this form to add a usage event for a tool used for yourself or on behalf of one or more customers.  Note that the created event cannot overlap any existing events for the selected tool.</p>

	{% if error %}
		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% endif %}
	{% if usage_start_conflict is not None %}
		{% for u in usage_start_conflict %}
	<table class="table">
		<tr>
                        <th>Tool</th>
			<td>{{ u.tool }}</td>
		</tr>
		<tr>
			<th>Start</th>
			<td>{{ u.start }}</td>
		</tr>
		<tr>
			<th>End</th>
			<td>{{ u.end }}</td>
		</tr>
		<tr>
			<th>Operator</th>
			<td>{{ u.operator }}</td>
		</tr>
		<tr>
			<th>Project</th>
			<td>
			{% for p in u.projects.all %}
				{{ p }}<br/>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>User/Customer</th>
			<td>
			{% for c in u.customers.all %}
				{{ c.first_name }} {{ c.last_name }}<br/>
			{% endfor %}
			</td>
		</tr>
	</table>
		{% endfor %}
	{% endif %}
	{% if usage_end_conflict is not None %}
		{% for u in usage_end_conflict %}
	<table class="table">
		<tr>
			<th>Tool</th>
			<td>{{ u.tool }}</td>
		</tr>
		<tr>
			<th>Start</th>
			<td>{{ u.start }}</td>
		</tr>
		<tr>
			<th>End</th>
			<td>{{ u.end }}</td>
		</tr>
		<tr>
			<th>Operator</th>
			<td>{{ u.operator }}</td>
		</tr>
		<tr>
			<th>Project</th>
			<td>
			{% for p in u.projects.all %}
				{{ p }}<br/>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>User/Customer</th>
			<td>
			{% for c in u.customers.all %}
				{{ c.first_name }} {{ c.last_name }}<br/>
			{% endfor %}
			</td>
		</tr>
	</table>
		{% endfor %}
	{% endif %}
	{% if usage_whole_conflict is not None %}
		{% for u in usage_whole_conflict %}
	<table class="table">
		<tr>
			<th>Tool</th>
			<td>{{ u.tool }}</td>
		</tr>
		<tr>
			<th>Start</th>
			<td>{{ u.start }}</td>
		</tr>
		<tr>
			<th>End</th>
			<td>{{ u.end }}</td>
		</tr>
		<tr>
			<th>Operator</th>
			<td>{{ u.operator }}</td>
		</tr>
		<tr>
			<th>Project</th>
			<td>
			{% for p in u.projects.all %}
				{{ p }}<br/>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>User/Customer</th>
			<td>
			{% for c in u.customers.all %}
				{{ c.first_name }} {{ c.last_name }}<br/>
			{% endfor %}
			</td>
		</tr>
	</table>
		{% endfor %}
	{% endif %}
	<form id="ad_hoc_usage" onsubmit="return on_submit()" method="POST" action="{% url 'save_usage_event' %}">
		{% csrf_token %}
		<table id="event_details" class="table">
			<tr>
				<th>Start</th>
				<td>
					<div class="datetimepicker-container">
						<input type="text" name="ad_hoc_start" id="ad_hoc_start" class="form-control" />
					</div>
				</td>
			</tr>
			<tr>
				<th>End</th>
				<td>
					<div class="datetimepicker-container">
						<input type="text" name="ad_hoc_end" id="ad_hoc_end" class="form-control" />
					</div>
				</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>
					<div id="duration"></div>
				</td>
			</tr>
			<tr>
				<th>Tool</th>
				<td>
					<select id="tool_select" name="tool_select" class="form-control">
						<option value="">Please select a tool</option>
					{% for t in tools %}
						<option value="{{ t.id }}"{% if t.id == tool_id %} selected{% endif %}>{{ t.name }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<label for="operator_comment">Comment / Description of Work</label>
					<textarea name="operator_comment" id="operator_comment" class="form-control" rows="10" cols="80"></textarea>
				</td>
			</tr>
			{% if request.user.is_superuser or request.user.is_staff %}
			<tr>
				<th>Operator</th>
				<td>
					<input type="text" class="form-control" id="operator" name="operator" />
					<input type="button" class="btn btn-default" style="display:none" id="operator_button" onclick="purge_operator();" />
				</td>
			</tr>
			{% else %}
			<tr>
				<th>Operator</th>
				<td>
					{{ request.user.first_name }} {{ request.user.last_name }}
					<input type="hidden" name="operator" id="operator" value="{{ request.user.id }}" />
				</td>
			</tr>
			{% endif %}
			{% if request.user.physical_access_levels.all|length > 0 %}
			<tr>
				<td colspan="2">
				<div class="form-group">
					<input type="checkbox" name="area_access_record" id="area_access_record" onclick="toggle_area()" />
					<label for="area_access_record">Include an area access record
				</div>
				</td>
			</tr>
			<tr>
				<td>Area</td>
				<td>
				<div class="form-group">
					<select name="ad_hoc_area" id="ad_hoc_area" class="form-control" disabled>
					{% for a in request.user.physical_access_levels.all %}
					<option value="{{ a.area.id }}">{{ a.area.name }}</option>
					{% endfor %}
					</select>
				</div>	
				</td>
			</tr>
			{% endif %}
			<tr id="radio_options" style="{% if request.user.is_superuser or request.user.is_staff %}display: none;{% else %}display: table-row;{% endif %}">
				<td colspan="2">
					<div class="radio"><label><input type="radio" id="use_mode" name="use_mode" value="0" onchange="set_mode(0);">
					{% if request.user.is_superuser or request.user.is_staff %}
					The tool was used by the operator
					{% else %}
					I used the tool for myself
					{% endif %}
					</label></div>
					<div class="radio"><label><input type="radio" id="use_mode" name="use_mode" value="1" onchange="set_mode(1);">
					{% if request.user.is_superuser or request.user.is_staff %}
					The tool was used for others
					{% else %}
					I used the tool for others
					{% endif %}
					</label></div>
				</td>
			</tr>
		</table>
		<input type="submit" value="Save Usage Event" class="btn btn-default" />
	</form>

<table id="operator_customer" style="display: none">
	<tr>
		<th>Customer</th>
		<td>
			<span id="selected_operator"></span>
			<input type="hidden" name="chosen_user__1" id="ad_hoc_user_textbox__1" value="" />
			<input type="hidden" name="project_percent__1" id="ad_hoc_project_percent__1" value="100" />
		</td>
	</tr>
	<tr>
		<th>Project</th>
		<td id="ad_hoc_project__1" style="vertical-align: top">
			
		</td>
	</tr>
	<tr>
		<th>Samples</th>
		<td id="ad_hoc_sample__1">

		</td>
	</tr>
</table>

<table id="other_customer" style="display: none">
	<tr>
		<td colspan=2>
			<div class="checkbox"><label><input type="checkbox" name="staff_charge" id="staff_charge" value="1" checked />Include a staff charge for the same customer(s), project(s) and time period.  Any discrepancies can be addressed via the contest feature.</label></div>
		</td>	
	</tr>
	<tr>
		<td colspan=2>
			<table id="event_charge_entries" class="table">
				<tr>
					<th>&nbsp;</th>
					<th style="min-width:200px">Customer</th>
					<th style="min-width:200px">Project</th>
					<th style="min-width:300px">Samples</th>
					<th>Percent</th>
				</tr>

				<tr>
					<td colspan="5" style="text-align:center"><a href="javascript:void(0)" onclick="add_customer()">Add another customer</a></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<script type="text/javascript">
var current_entry_number = 2;
var selected_operator = "";
var ss = [];

function toggle_area()
{
	if ($("#area_access_record").is(":checked")) {
		$("#ad_hoc_area").prop("disabled", false);
	} else {
		$("#ad_hoc_area").prop("disabled", true);
	}
}

function set_radio(sOption)
{
	if (sOption == "") {
		$("#radio_options").hide();
	} else {
		if ($("#radio_options").is(":visible")) {
			// no need to show again but should update selected customer if relevant
			if ($("input[name='use_mode']:checked").val() == 0) {
				// reset selected operator and projects
				set_mode(0);
			}
		} else {
			$("#radio_options").show();
		}
	}
}

function set_mode(iMode)
{
	while ($("#event_details tr:last").find(".radio").length == 0) {
		$("#event_details tr:last").remove();
	}
	if (iMode) {
		$("#event_details").append($("#other_customer").html());
	} else {
		$("#event_details").append($("#operator_customer").html());
		$("#ad_hoc_user_textbox__1").val($("#operator").val());
		fetch_projects(1, $("#operator").val(), true);
		{% if request.user.is_superuser or request.user.is_staff %}
		$("#selected_operator").html(selected_operator);
		{% else %}
		$("#selected_operator").html("{{ request.user.first_name }} {{ request.user.last_name }}");
		{% endif %}
	}
}

function add_customer() 
{
	var failure_dialog = ajax_failure_callback("Cannot add new entry", "The web browser was not able to communicate with the server.");
	ajax_get("{% url 'ad_hoc_staff_charge_entry' %}", { "entry_number": current_entry_number }, add_entry_success_callback, failure_dialog);
	function add_entry_success_callback(response, status, xml_http_request)
	{
		$("#event_details tr:last").before(response);
		enable_autocompletion(current_entry_number);
		current_entry_number++;
	}
}

function enable_operator()
{
	var id = "#operator";
	$(id).autocomplete('operator', on_operator_selection, {{ operators|json_search_base }}).focus();
}

function on_operator_selection(jquery_event, search_selection, dataset_name)
{
	$(this).typeahead('val', search_selection.id).hide();
	var button_id = "#operator_button";
	$(button_id).val(search_selection.name).show();
	set_radio(search_selection.id);
	selected_operator = search_selection.name;
	{% if not request.user.is_superuser %}
	if (search_selection.id != {{ request.user.id }}) {
		set_mode(0);
		$("#radio_options").hide();
	} else {
		$("#radio_options").show();
	}
	{% endif %}

}

function purge_operator()
{
	$("#operator_button").hide();
	$("#operator").typeahead('val', '').css("display","inline").focus();

	while ($("#event_details tr:last").find(".radio").length == 0) {
		$("#event_details tr:last").remove();
	}

	$("#use_mode").each(function() {
		$(this).prop("checked", false);
	});

	$("#radio_options").hide();
}

function enable_autocompletion(entry_number)
{
	var id = "#ad_hoc_user_textbox__" + entry_number;
	$(id).autocomplete('user', on_autocomplete_selection, {{ users|json_search_base }}).focus();
}

function remove_ad_hoc_row(number)
{
	$("#ad_hoc_row_" + number).remove();
}

function on_autocomplete_selection(jquery_event, search_selection, dataset_name)
{
	$(this).typeahead('val', search_selection.id).hide();
	var row = $(this).data('row');
	var button_id = "#ad_hoc_" + dataset_name + "_button__" + row;
	$(button_id).val(search_selection.name).show();
	if(dataset_name == "user")
		fetch_projects(row, search_selection.id, true);
}

function fetch_projects(row, user_id, ad_hoc)
{
	var parameters =
	{
		"source_template": "staff_charges",
		"user_id": user_id,
		"entry_number": row,
		"ad_hoc": ad_hoc,
	};
	var target_element = "#ad_hoc_project__" + row;
	var url = "{% url 'get_projects' %}?" + jQuery.param(parameters);
	var report_error = ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
	$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
		if(statusTxt == "success") {
			var el =  $("#chosen_project__" + row);

			if ($(el).prop("type") == "hidden") {
				fetch_samples(row, ad_hoc);
			}
		} else {
			ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
		}
	});
}

function fetch_samples(row, ad_hoc) 
{
	// A function to retrieve a list of samples for a project and load it into the interface
	var target_element = "#ad_hoc_sample__" + row;
	$(target_element).html("");
	
	var project_id = $("#chosen_project__" + row).val();

	var parameters =
	{
		"project_id": project_id,
		"entry_number": row
	};
	var url = "{% url 'get_samples' %}?" + jQuery.param(parameters);
	var report_error = ajax_complete_callback("Could not fetch samples for user", "There was a problem obtaining the list of samples for the user.");

	$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
		if (statusTxt == "success") {

			// add select lists with samples for the project
			var s1 = "#chosen_sample__" + row;
			if (ss.length > 0) {
				s1_options = s1 + " option";
				$(s1_options).each(function() {
					if (ss.indexOf(parseInt($(this).val())) > -1) $(this).prop("selected","selected");
				});
				ss.length = 0;
			}

		} else {
			ajax_complete_callback("Could not fetch samples for the project", "There was a problem obtaining the list of samples for the project.");
		}
	});
}

function add_sample(project_id, entry_number, ad_hoc=true)
{
	var sample_list;

	sample_list = "#chosen_sample__" + entry_number + " option:selected";

	$(sample_list).each(function() {
		ss.push(parseInt($(this).val()));
	});

	var url = "/modal_create_sample/" + project_id + "/";
	var ajax_post = {
		"url": url,
		"data": {
			"modal_caller": "",
			"request_mode": "reservation", 
		},
		"type": "GET",
		"dataType": "html"
	};

	jQuery.ajax(ajax_post)
		.fail(ajax_failure_callback("Oops, something went wrong!"))
		.done(function(response, status, xml_http_request)
		{
			if(response === "") {
				refresh_calendar_and_sidebar();
			} else {
				$("#sample_dialog .modal-content").html(response);
				$("#sample_dialog").modal('show');
				$("#sample_dialog .modal-content form").submit(function() {
					event.preventDefault();
					$("#sample_dialog .modal-content form").off("submit");
					$.ajax({
						type: "POST",
						url: url,
						data: serialize("#sample_dialog .modal-content form"),
						success: function(response, status, xml_http_request) { 
							ss.push(parseInt(response));
							//alert(ss.join("\n"));
							$("#sample_dialog").modal('hide');
							$("#sample_dialog .modal-content").html("");
							var sl = "#chosen_project__" + entry_number;
							if ($(sl).tagName == "SELECT") {
								$(sl).trigger("change");
							} else {
								fetch_samples(entry_number, ad_hoc);
							}

						}
					});
				});
			}
		});
}

function purge_ad_hoc_customer(row)
{
	$("#ad_hoc_user_button__" + row).hide();
	$("#ad_hoc_project__" + row).html("");
	$("#ad_hoc_user_textbox__" + row).typeahead('val', '').show().focus();
}

function on_submit()
{
	// check for all project fields having selected values
	var s;
	var o;
	var u;
	var b;
	var total_entry_count = 0;

	if ($("#ad_hoc_start").val() == "") {
		alert("Please select a start time.");
		$("#ad_hoc_start").focus();
		return false;
	} else {
		$("#ad_hoc_start").val(convert_12_to_24($("#ad_hoc_start").val()));
	}

	if ($("#ad_hoc_end").val() == "") {
		alert("Please select an end time.");
		$("#ad_hoc_end").focus();
		return false;
	} else {
		$("#ad_hoc_end").val(convert_12_to_24($("#ad_hoc_end").val()));
	}

	if ($("#tool_select").val() == "") {
		alert("Please select a tool.");
		$("#tool_select").focus();
		return false;
	}

	if ($("#operator").val() == "") {
		alert("Please select an operator");
		$("#operator").focus();
		return false;
	}

	for (var i=0; i<=current_entry_number; i++) {
		b = false;
		s = "form #ad_hoc_user_textbox__" + i;
		if ($(s).length) {
			if ($(s).css("display") != "none") {
				alert("Please select a user for each row, or else delete the row.");
				$(s).focus();
				return false;
			} else {
				b = true;
			}
			total_entry_count++;
		}
		if (b) {
			s = "#chosen_project__" + i;
			if ($(s).length) {
				if ($(s).prop("type") != "hidden") {
					o = $(s).find(":selected").val();
					if (o == "-1") {
						alert("Please select a value for each project field for each customer, or else delete the row.");
						$(s).focus();
						return false;
					}
				}
			} else {
				alert("Please choose a customer with at least one active project.");
				return false;
			}

			s = "form #ad_hoc_project_percent__" + i;
			if ($(s).length) {
				if ($(s).val() == "") {
					alert("Please enter a value for the percent of the usage event dedicated to each customer.");
					return false;
				}
			}
		}
	}
	if (total_entry_count == 0) {
		alert("You must add at least one customer in order to use this tool for a customer.");
		return false;
	}

	for (var i=0; i<current_entry_number; i++) {
		fn = "chosen_sample__" + i;
		el = "#ad_hoc_sample__" + i + " > *[name='" + fn + "']";

		if ($(el).val() != "" && $(el).length != 0) {
			if ($(el).length == 1) {
				var input = "<input type='hidden' name='selected_sample__" + i + "' value='" + $(el).val() + "' />";
			} else {
				var v = "";
				$(el).each(function() {
					v += $(this).val() + ",";
				});
				v = v.substr(0, v.length-1);
				var input = "<input type='hidden' name='selected_sample__" + i + "' value='" + v + "' />";
			}
			$("#ad_hoc_usage").append(input);
		}
	}

	{% if show_confirm %}
	return confirm("Does everything on the form look ok?  Click OK to submit the form, or Cancel to edit the entries.");
	{% else %}
	return true;
	{% endif %}
}

function on_load()
{
	$("#ad_hoc_start").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A', minDate: '{{ start_date }} 00:00', maxDate: '{{ end_date }} 23:59'});
	$("#ad_hoc_start").val({% if ad_hoc_start %}"{{ ad_hoc_start }}"{% else %}""{% endif %});
	$("#ad_hoc_end").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A', minDate: '{{ start_date }} 00:00', maxDate: '{{ end_date }} 23:59'});
	$("#ad_hoc_end").val({% if ad_hoc_end %}"{{ ad_hoc_end }}"{% else %}""{% endif %});
	$("#ad_hoc_end").focus(function() {
		if ($(this).val() == "" && $("#ad_hoc_start").val() != "") {
			$("#ad_hoc_end").val($("#ad_hoc_start").val());
			$("#ad_hoc_end").datetimepicker('hide');
		}
	});
	$("#ad_hoc_start").on('dp.change',calculate_duration);
	$("#ad_hoc_end").on('dp.change',calculate_duration);
	enable_operator();
}

$(on_load);
</script>
{% endblock %}
