{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Modify Tool{% endblock %}
{% block content %}
	<script>
	function add_qualified_user(jquery_event, search_selection, dataset_name)
	{
		$(this).typeahead('val', '');
		var failure_dialog = ajax_failure_callback("Failed to qualify user", "There was a problem qualifying this user.");
		$("#chosen_tools_full").val($("#qualification_tool_id").val());
		$("#chosen_tools_prob").val('');
		var data = serialize("#add_qualified_user_form");
		data['chosen_user[]'] = search_selection.id;
		ajax_post("{% url 'modify_qualifications' %}", data, reload_qualified_users, failure_dialog);
	}

	function add_probationary_user(jquery_event, search_selection, dataset_name)
	{
		$(this).typeahead('val', '');
		var failure_dialog = ajax_failure_callback("Failed to qualify user", "There was a problem qualifying this user.");
		$("#chosen_tools_prob").val($("#qualification_tool_id").val());
		$("#chosen_tools_full").val('');
		var data = serialize("#add_qualified_user_form");
		data['chosen_user[]'] = search_selection.id;
		ajax_post("{% url 'modify_qualifications' %}", data, reload_qualified_users, failure_dialog);
	}

	function remove_qualified_user(user_id, tool_id)
	{
		var failure_dialog = ajax_failure_callback("Failed to remove qualified user", "There was a problem revoking this user's tool qualification.");
		var data = {
			'action': 'disqualify',
			'chosen_tool[]': tool_id,
			'chosen_user[]': user_id
		};
		ajax_post("{% url 'modify_qualifications' %}", data, reload_qualified_users, failure_dialog);
	}

	function requalify_user(user_id, tool_id)
	{
		var failure_dialog = ajax_failure_callback("Failed to requalify user", "There was a problem restoring this user's tool qualification.");
		var data = {
			'action': 'qualify',
			'chosen_tool[]': tool_id,
			'chosen_user[]': user_id
		};
		ajax_post("{% url 'modify_qualifications' %}", data, reload_qualified_users, failure_dialog);
	}

	function disqualify_all_users()
	{
		if (confirm("Taking this action will remove all qualified users (both limited and full) from this tool.  This cannot be undone.  Are you sure you wish to proceed?")) {
			$("#add_qualified_user_search_box").prop("placeholder","Disqualifying users, please wait...");
			$("#add_probationary_user_search_box").prop("placeholder","Disqualifying users, please wait...");
			var data = {};
			{% with form.instance.user_set.all as qualified_users %}
			{% if qualified_users %}
			{% for u in qualified_users %}
			data = {
				'action': 'disqualify',
				'chosen_tool[]': {{ form.instance.id }},
				'chosen_user[]': {{ u.id }},
			}
			ajax_post("{% url 'modify_qualifications' %}", data, null, null);
			{% endfor %}
			{% endif %}
			{% endwith %}
			setTimeout(reload_qualified_users,2000);
		}
	}

	function requalify_disqualified_users()
	{
		if (confirm("Taking this action will requalify all of the disqualified users ((both limited and full) for this tool.  This cannot be undone.  Are you sure you wish to proceed?")) {
			$("#add_qualified_user_search_box").prop("placeholder","Requalifying users, please wait...");
			$("#add_probationary_user_search_box").prop("placeholder","Requalifying users, please wait...");
			var data = {};
			{% with form.instance.probationaryqualifications_set.all as qualified_users %}
			{% if qualified_users %}
			{% for u in qualified_users %}
			{% if u.disabled %}
			data = {
				'action': 'qualify',
				'chosen_tool[]': {{ form.instance.id }},
				'chosen_user[]': {{ u.user_id }},
			}
			ajax_post("{% url 'modify_qualifications' %}", data, null, null);
			{% endif %}
			{% endfor %}
			{% endif %}
			{% endwith %}
			setTimeout(reload_qualified_users,2000);
		}
	}

	function reload_qualified_users()
	{
		//var url = "{% url 'get_qualified_users' %}?tool_id={{ tool.id }}";
		//$("#qualified_users_container").load(url, function () {
		//	$("#bulk_buttons").clone().prop("id","").show().insertAfter("#qualified_users_container #qualified_users #btn_target");
		//});
		window.location.reload();
	}

	function promote_user(user_id, tool_id)
	{
		var url = '/promote_user/' + user_id + '/' + tool_id + '/';
		var failure_dialog = ajax_failure_callback("Failed to promote user", "There was a problem promoting this user.");
		var data = {};
		ajax_get(url, data, reload_qualified_users, failure_dialog);
	}

	function promote_all_users()
	{
		if (confirm("Taking this action will promote all users of the {{ form.name.value }} to fully qualified status.  This action cannot be undone.  Are you sure you wish to proceed?")) {
			$("#add_qualified_user_search_box").prop("placeholder","Promoting users, please wait...");
			$("#add_probationary_user_search_box").prop("placeholder","Promoting users, please wait...");
			var url;
			var data = {};
			{% with form.instance.user_set.all as qualified_users %}
			{% if qualified_users %}
			{% for u in qualified_users %}
			url = '/promote_user/' + {{ u.id }} + '/' + {{ form.instance.id }} + '/';
			ajax_get(url, data, null, null);
			{% endfor %}
			{% endif %}
			{% endwith %}
			setTimeout(reload_qualified_users,2000);
		}
	}

	function demote_user(user_id, tool_id)
	{
		var url = '/demote_user/' + user_id + '/' + tool_id + '/';
		var failure_dialog = ajax_failure_callback("Failed to demote user", "There was a problem demoting this user.");
		var data = {};
		ajax_get(url, data, reload_qualified_users, failure_dialog);
	}

	function demote_all_users()
	{
		if (confirm("Taking this action will demote all users of the {{ form.name.value }} to limited status.  This action cannot be undone.  Are you sure you wish to proceed?")) {
			$("#add_qualified_user_search_box").prop("placeholder","Demoting users, please wait...");
			$("#add_probationary_user_search_box").prop("placeholder","Demoting users, please wait...");
			var url;
			var data = {};
			{% with form.instance.user_set.all as qualified_users %}
			{% if qualified_users %}
			{% for u in qualified_users %}
			url = '/demote_user/' + {{ u.id }} + '/' + {{ form.instance.id }} + '/';
			ajax_get(url, data, null, null);
			{% endfor %}
			{% endif %}
			{% endwith %}
			setTimeout(reload_qualified_users,2000);
		}
	}

	function moveItems(origin, dest) {
		$(origin).find(':selected').appendTo(dest);
	}

	function moveAllItems(origin, dest) {
		$(origin).children().appendTo(dest);
	}

	$(document).ready(function () {
		$('#add').click(function () {
			moveItems('#available_consumables', '#selected_consumables');
		});

		$('#remove').click(function () {
			moveItems('#selected_consumables', '#available_consumables');
		});

		$('#add_all').click(function () {
			moveAllItems('#available_consumables', '#selected_consumables');
		});

		$('#remove_all').click(function () {
			moveAllItems('#selected_consumables', '#available_consumables');
		});

		$('form').submit(function () {
			$('#selected_consumables option').prop('selected', true);
		});
	});
	</script>
	<h1>Modify Tool: {{ form.instance.name }}</h1>
	<div id="qualified_users_container" class="media" style="padding: 5px; margin: 5px;">
		{% include 'tool_control/qualified_users.html' %}
	</div>
	<form action="{% url 'create_or_modify_tool' tool_id %}" method="post">
		{% csrf_token %}
		<table class="table">
			{{ form.as_table }}
		</table>
		<div class="row">
			<div class="col-md-5">
				<label for="available_consumables">Available Consumables</label>
				<select id="available_consumables" class="form-control" size="10" multiple>
					{% for consumable in available_consumables %}
					<option value="{{ consumable.id }}">{{ consumable.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2 text-center">
				<button type="button" id="add" class="btn btn-primary btn-block">Add &gt;&gt;</button>
				<button type="button" id="remove" class="btn btn-primary btn-block">&lt;&lt; Remove</button>
				<button type="button" id="add_all" class="btn btn-primary btn-block">Add All &gt;&gt;</button>
				<button type="button" id="remove_all" class="btn btn-primary btn-block">&lt;&lt; Remove All</button>
			</div>
			<div class="col-md-5">
				<label for="selected_consumables">Selected Consumables</label>
				<select id="selected_consumables" name="selected_consumables" class="form-control" size="10" multiple>
					{% for consumable in selected_consumables %}
					<option value="{{ consumable.id }}">{{ consumable.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<input type="submit" value="Submit" class="btn btn-success" />
	</form>
	<div id="bulk_buttons">
		<input type="button" value="Promote all users to full" class="btn btn-success" onclick="promote_all_users();" />
		<input type="button" value="Demote all users to limited" class="btn btn-danger" onclick="demote_all_users();" />
		<input type="button" value="Disqualify all users from tool" class="btn btn-danger" onclick="disqualify_all_users();" />
		<input type="button" value="Re-qualify all users to tool" class="btn btn-success" onclick="requalify_disqualified_users();" />
	</div>

	<script>
	function on_load()
	{
		$("#bulk_buttons").clone().prop("id","").insertAfter("#qualified_users_container #qualified_users #btn_target");
		$("#bulk_buttons").hide();
		$("#qualified_users_container a.pointer").click();
	}
	$(on_load);
	</script>
{% endblock %}
