{% if active_projects|length == 0 %}
	This user is not assigned to any active projects.<br>
	A user must be a member of at least one active project to operate a tool.
{% elif active_projects|length == 1 %}
	<h4>Tool usage will be billed to the project &quot;{{ active_projects.0 }}&quot;.</h4>
	<input type="hidden" id="project_id" value="{{ active_projects.0.id }}">
	{% include 'sample/get_samples.html' with samples=active_projects.0.sample_project.all entry_number=0 %}
	<script>
		$("#start").show();
	</script>
{% else %}
	<h4>Charge tool usage to which project?</h4>
	<div class="list-group" style="display:table">
		<select class="form-control" name="user_projects" id="user_projects" onchange="select_project(this, this.options[this.selectedIndex].value);">
			<option value="0">Please select a project to use for this tool</option>
		{% for p in active_projects %}
			<option class="list-group-item project-choice" value="{{ p.id }}" {% if my_reservation %}{% if p == my_reservation.project %}selected{% endif %}{% endif %}>{{ p }}</option>
		{% endfor %}
		</select>
	</div>
	<input type="hidden" id="project_id">
{% endif %}
<div id="sample">
</div>
<input type="hidden" id="selected_sample" name="selected_sample" />
<input type="hidden" id="user_id" value="{{ user_id }}">
