<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4>Tool use - multiple projects</h4>
</div>

<div class="modal-body">
	<p>Please assign the desired percent of staff charges to each project included:</p>
	<form id="usage_event_projects" onsubmit="return on_submit()" class="form-horizontal">
		{% csrf_token %}
		<input type="hidden" name="usage_event_id" id="usage_event_id" value="{{ usage_event.id }}" />
		<input type="hidden" name="downtime" id="downtime" value="{{ downtime }}" />
		<table class="table">
			<tr>
				<th>Customer</th>
				<th>Project</th>
				<th>Percent</th>
			</tr>
		{% for u in uep %}
			<tr>
				<td>{{ u.customer.first_name }} {{ u.customer.last_name }}</td>
				<td>{{ u.project.name }}</td>
				<td><input type="text" name="project_percent__{{ u.id }}" value="" /></td>
			</tr>
		{% endfor %}
		</table>
		<br />
		<input type="submit" value="Record Tool Usage" class="btn btn-default"/>
	</form>
	<script>
	function on_submit()
	{
		var failure_dialog = ajax_failure_callback("There was an error processing the data.  Please check the form and try again.");
		ajax_post("{% url 'usage_event_projects_save' %}", serialize("#usage_event_projects"), ajax_success_callback, failure_dialog);
		return false;
	}

	function reload_events()
	{
		window.location = "{% url 'tool_control' tool_id %}";
	}
	</script>
</div>
