{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Tool control{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}"/>
{% endblock %}
{% block body %}

	<style>
		h3
		{
			margin-top: 0;
		}
	</style>

	{% if device == 'mobile' %}
		<div id="content" class="container"></div>
	{% else %}
		<div id="sidebar" class="application-sidebar">
			<div id="expand-collapse" class="btn-group sidebar-item">
				<button type="button" class="btn btn-default" style="width:{% if user.is_superuser %}50%{% else %}33%{% endif %}" onclick="expand_all_categories()" title="Expand all tool categories"><span class="glyphicon glyphicon-resize-full"></span></button>
				<button type="button" class="btn btn-default" style="width:{% if user.is_superuser %}50%{% else %}33%{% endif %}" onclick="collapse_all_categories()" title="Collapse all tool categories"><span class="glyphicon glyphicon-resize-small"></span></button>
				{% if not user.is_superuser %}
				<button type="button" class="btn btn-default" style="width:33%" onclick="update_tool_filter(this)" title="{% if user.is_staff %}{% if core_only == '1' %}Show all tools{% else %}Show core tools only{% endif %}{% else %}{% if qualified_only == '1' %}Show all tools{% else %}Show qualified tools only{% endif %}{% endif %}"><span class="glyphicon glyphicon-filter"></span></button>
				{% endif %}
			</div>
			<input type="text" id="tool_search" placeholder="Search for a tool" class="form-control sidebar-item">
			{{ rendered_tool_tree_html }}
			<div style="height:50px"></div>
		</div>
		<div id="content" class="application-content" style="padding-right: 20px; overflow-y:scroll"></div>

	{% endif %}

	<script>
	var current_entry_number = 1;
	var staff_reserved_for_customer = false;

	function update_tool_filter(btn)
	{
		//alert(btn.title);
	{% if user.is_staff %}
		// toggle between all tools and core tools, depending on filter button title
		if (btn.title == "Show all tools") {
			// call view calendar.calendar for showing all tools
			window.open("{% url 'tool_control' 0 0 0 %}","_self");
		} else {
			// call view calendar.calendar for showing only core tools
			window.open("{% url 'tool_control' 0 0 1 %}","_self");
		}	
	{% else %}
		// toggle between all tools and qualified tools, depending on filter button title
		if (btn.title == "Show all tools") {
			// call view calendar.calendar for showing all tools
			window.open("{% url 'tool_control' 0 0 0 %}","_self");
		} else {
			// call view calendar.calendar for showing only qualified tools
			window.open("{% url 'tool_control' 0 1 0 %}","_self");
		}
	{% endif %}
	}
		function refresh_tool_status()
		{
			var selected_item = {% if device == 'mobile' %}{{ selected_tool }}{% else %}get_selected_item(){% endif %};
			if(selected_item)
				$("#content").load('/tool_status/' + selected_item + "/", undefined, refresh_tool_completion_callback);
			{% if device == 'desktop' %}
				refresh_sidebar_icons();
			{% endif %}
		}

		function reload_page()
		{
			location.reload();
		}

		function refresh_tool_completion_callback(response, status, xml_http_request)
		{
			if(status == "error")
			{
				var content = "<div class='alert alert-danger'><span class='glyphicon glyphicon-remove'></span> Unable to retrieve tool status.";
				if(xml_http_request.responseText)
					content += " " + xml_http_request.responseText;
				content += "</div>";
				$("#content").html(content);
			}
			{% if user.is_staff %}
			if (current_entry_number == 1) 
			{
				enable_autocompletion(0)
			}
			{% endif %}
			{% if not user.is_staff and not user.is_superuser %}
			$("#start").unbind("click");
			$("#start").click(enable_tool);
			{% endif %}
			$("#project_choice_multi").hide();
			reservation_update();
		}

		function use_tool_for_self(tool_id)
		{
			$("#override_staff_charge").remove();
			$("#start").unbind("click");
			$("#start").click(enable_tool);
			$("#project_choice").html("Fetching project list...").show().load("/get_projects_for_self/" + tool_id, undefined, load_projects_completion_callback);
			$("#project_choice_multi").hide();
			$("#project_choice_multi").html("");
			current_entry_number = 0;
		}

		function select_project(element, project_id)
		{
			if (project_id == 0) {
				alert("Please select a project to charge for the use of this tool.");
				return false;
			}
			{% if not user.is_staff and not user.is_superuser %}
			$("#start").unbind("click");
			$("#start").click(enable_tool);
			{% endif %}
			$(".project-choice").removeClass('active');
			$(element).addClass('active');
			$("#project_id").val(project_id);
			$("#start").show();
		}

		function load_projects(jquery_event, search_selection, dataset_name)
		{
			$("#user_search").typeahead('val', '').hide();
			$("#customer").text(search_selection.name).show();
			var data = "user_id=" + search_selection.id;
			$("#customer_project").html("Fetching project list...").show().load("{% url 'get_projects_for_tool_control' %}", data, load_projects_completion_callback);
		}

		function load_projects_completion_callback(response, status, xml_http_request)
		{
			if(status == "error")
				$("#customer_project").html("Unable to retrieve a list of projects for this user.")
		}

		function enable_tool(e)
		{
			e.preventDefault();
			$("#start").prop("disabled", true);

			if ($("#set_for_autologout").is(":checked")) {
				if ($("#autologout_endtime").val() == "") {
					$("#start").prop("disabled", false);
					alert("If you wish to use the autologout feature, you must choose an end time.");
					$("#autologout_endtime").focus();
					return false;
				}
			}

			var tool_id =  parseInt($("#tool_id").val());
			var user_id = parseInt($("#user_id").val());
			var billing_mode = $("#billing_mode:checked").val();
			if (billing_mode == undefined) billing_mode = false;
			var project_id = parseInt($("#project_id").val());
			if (isNaN(project_id)) {
				project_id = $("#user_projects").val();
			}
			var staff_charge = false;
			if($("input[name='staff_charge']").length > 0 && $("input[name='staff_charge']:checked").val() == 'true')
				staff_charge = true;
			var url = "/enable_tool/" + tool_id + "/user/" + user_id + "/project/" + project_id + "/staff_charge/" + staff_charge + "/billing_mode/" + billing_mode  + "/";
			var failure_dialog = ajax_failure_callback("Couldn't change tool status");
			var success_callbacks;
			if(staff_charge === true)
				success_callbacks = [reload_page]; {# If there's a new staff charge then we need to reload the whole page so it's displayed in the menu bar. #}
			else
				success_callbacks = [refresh_tool_status, ajax_success_callback];
			var enable_start_button = function() { $("#start").prop("disabled", false); };
			let contents = serialize("#tool_control");
			ajax_post(url, contents, success_callbacks, failure_dialog, enable_start_button);
		}

		function disable_tool(url, confirm, downtime)
		{
			var numberRegex = /^[+-]?\d+(\.\d+)?([eE][+-]?\d+)?$/;
			var intRegex = /^\d+$/;
			var bLoop = true;
			$("#stop").prop("disabled", true);

			// if billing mode is fixed, check for filled out sample and count field
			if ($("[id^='fixed_cost']").length) {
				$("[id^='fixed_cost']").each(function() {
					if ($(this).val() == "") {
						alert("You must enter a value for the per sample cost.");
						$(this).focus();
						bLoop = false;
						return false;
					}
					if (!numberRegex.test($(this).val())) {
						alert("Please enter a number for the per sample cost.");
						$(this).focus();
						bLoop = false;
						return false;
					}
				});

				if (!bLoop) {
					$("#stop").prop("disabled", false);
					return false;
				}

				$("[id^='num_samples']").each(function() {
					if ($(this).val() == "") {
						alert("You must enter a value for the number of samples.");
						$(this).focus();
						bLoop = false;
						return false;
					}
					if (!intRegex.test($(this).val())) {
						alert("Please enter an integer value for the number of samples.");
						$(this).focus();
						bLoop = false;
						return false;
					}
				});
			}

			if (!bLoop) {
				$("#stop").prop("disabled", false);
				return false;
			}

			let contents = serialize("#tool_control");
			let failure_dialog = ajax_failure_callback("Couldn't change tool status");
			let enable_stop_button = function() { $("#stop").prop("disabled", false); };
			ajax_post(url, contents, ajax_success_callback, failure_dialog, refresh_tool_status, enable_stop_button);
		}

		function set_start_button(bMulti) {
			$("#start").unbind("click");
			if (bMulti) {
				$("#start").click(on_submit);
			} else {
				$("#start").click(enable_tool);
			}
			$("#start").show();
		}

		{% if user.is_staff %}

			{# Only staff can perform the functions in this if-block. #}

			function use_tool_for_other(tool_id)
			{
				$("#start").hide();
				$("#project_choice").html("");
				$("#project_choice").hide();


				{% if staff_charge_projects %}

					if (!$("#override_staff_charge").length) {
						$("#tool_control").append("<input type=\"hidden\" name=\"override_staff_charge\" id=\"override_staff_charge\" value=\"false\" />");				
					}
					if (!staff_reserved_for_customer) {

						var scp = {{ staff_charge_projects }};

						if ($("#project_choice_multi").html() == "") {
							$("#project_choice_multi").html($("#project_choice_multi_source").html());
						}

						var table_row;

						for (s in scp) {
							// for each record add a row to the table
							table_row = "<tr id=\"row_" + current_entry_number + "\"><td style=\"vertical-align: middle\"><span class=\"glyphicon glyphicon-remove-circle grey pointer\" onclick=\"remove_row(" + current_entry_number + ");{% if staff_charge_projects %}update_override(true);{% endif %}\"></span></td><td>" + scp[s]["customer"] + "<input type=\"hidden\" value=\"" + scp[s]["user_id"] + "\" id=\"user_textbox__" + current_entry_number + "\" name=\"chosen_user__" + current_entry_number + "\" data-row=\"" + current_entry_number + "\"></td><td id=\"project__" + current_entry_number + "\" style=\"vertical-align: middle\">" + scp[s]["project"] + "<input type=\"hidden\" value=\"" + scp[s]["project_id"] + "\" name=\"chosen_project__" + current_entry_number + "\" id=\"chosen_project__" + current_entry_number + "\"></td></tr>";
							$("#usage_event_entries tr:last").before(table_row);
							current_entry_number++;
						}

						$("#usage_event_entries").after("<div>You are currently applying staff charges to the listed customer(s).  To end this charge before using the tool please proceed to the <a href=\"{% url 'staff_charges' %}\">staff charges</a> page and end the current charges.  To proceed with charging tool time to the current customer(s) click the Start button.  You may also alter the selection of customer(s) by adding new ones or removing currently selected individuals.</div>");

						$("#project_choice_multi").show();
						$("#start").unbind("click");
						$("#start").click(on_submit);
						$("#start").show();
					}

				{% else %}

					$("#override_staff_charge").remove();

					if ($("#project_choice_multi").html() == "") {				
						$("#project_choice_multi").html($("#project_choice_multi_source").html());
						add_customer();
				
						$("#project_choice_multi").show();
					}

				{% endif %}
			}

			function update_override(val) {
				$("#override_staff_charge").val(val);
			}

			function clear_customer()
			{
				$("#customer").text("").hide();
				$("#customer_project").html("").hide();
				$("#start").hide();
				$("#user_search").show().focus();
			}

			function add_qualified_user(jquery_event, search_selection, dataset_name)
			{
				$(this).typeahead('val', '');
				var failure_dialog = ajax_failure_callback("Failed to qualify user", "There was a problem qualifying this user.");
				$("#chosen_tools_full").val($("#qualification_tool_id").val());
				$("#chosen_tools_prob").val('');
				var data = serialize("#add_qualified_user_form");
				data['chosen_user[]'] = search_selection.id;
				ajax_post("{% url 'modify_qualifications' %}", data, reload_qualified_users, failure_dialog)
			}

			function add_probationary_user(jquery_event, search_selection, dataset_name)
			{
				$(this).typeahead('val', '');
				var failure_dialog = ajax_failure_callback("Failed to qualify user", "There was a problem qualifying this user.");
				$("#chosen_tools_prob").val($("#qualification_tool_id").val());
				$("#chosen_tools_full").val('');
				var data = serialize("#add_qualified_user_form");
				data['chosen_user[]'] = search_selection.id;
				ajax_post("{% url 'modify_qualifications' %}", data, reload_qualified_users, failure_dialog)
			}

			function remove_qualified_user(user_id, tool_id)
			{
				var failure_dialog = ajax_failure_callback("Failed to remove qualified user", "There was a problem revoking this user's tool qualification.");
				var data = {
					'action': 'disqualify',
					'chosen_tool[]': tool_id,
					'chosen_user[]': user_id
				};
				ajax_post("{% url 'modify_qualifications' %}", data, reload_qualified_users, failure_dialog);
			}

			function reload_qualified_users()
			{
				var url = "{% url 'get_qualified_users' %}?tool_id=" + {% if device == 'mobile' %}{{ selected_tool }}{% else %}get_selected_item(){% endif %};
				$("#qualified_users_container").load(url);
			}

			function end_staff_charge()
			{
				var failure_dialog = ajax_failure_callback("Unable to end staff charge", "There was a problem ending your staff charge.");
				var tool_id = get_selected_item();
				var data = {
					'tool_id': tool_id,
				}

				success_callbacks = [ajax_success_callback];

				ajax_post("{% url 'end_staff_charge' 1 %}", data, success_callbacks, failure_dialog);
			}

			{# Adding supporting javascript functions to implement a multi-project selection option for tool user #}

			function add_customer() 
			{
				var failure_dialog = ajax_failure_callback("Cannot add new entry", "The web browser was not able to communicate with the server.");
				ajax_get("{% url 'staff_charge_entry' %}", { "entry_number": current_entry_number }, add_entry_success_callback, failure_dialog);
				function add_entry_success_callback(response, status, xml_http_request)
				{
					$("#usage_event_entries tr:last").before(response);
					enable_autocompletion(current_entry_number);
					current_entry_number++;
					{% if staff_charge_projects %}
					update_override(true);
					{% endif %}
				}
			}
			function enable_autocompletion(entry_number)
			{
				var id = "#user_textbox__" + entry_number;
				$(id).autocomplete('user', on_autocomplete_selection, {{ users|json_search_base }}).focus();
			}
			function remove_row(number)
			{
				$("#row_" + number).remove();
			}
			function on_autocomplete_selection(jquery_event, search_selection, dataset_name)
			{
				$(this).typeahead('val', search_selection.id).hide();
				var row = $(this).data('row');
				var button_id = "#" + dataset_name + "_button__" + row;
				$(button_id).val(search_selection.name).show();
				if(dataset_name == "user")
					fetch_projects(row, search_selection.id);
			}
			function fetch_projects(row, user_id)
			{
				var parameters =
				{
					"source_template": "staff_charges",
					"user_id": user_id,
					"entry_number": row
				};
				var target_element = "#project__" + row;
				var url = "{% url 'get_projects' %}?" + jQuery.param(parameters);
				var report_error = ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
				$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
					if(statusTxt == "success") {
						var el =  $("#chosen_project__" + row);

						if (el.tagName == "SELECT") {
							$("#chosen_project__" + row).change(function() {
								if ($("#usage_event_entries tr").length == 3) {
									$("#start").unbind("click");
									$("#start").click(enable_tool);
								}
								if ($("#usage_event_entries tr").length > 3) {
									$("#start").unbind("click");
									$("#start").click(on_submit);
								}
								$("#start").show();
							});
						} else {
							if ($("#usage_event_entries tr").length == 2) {
								$("#start").unbind("click");
								$("#start").click(enable_tool);
							}
							if ($("#usage_event_entries tr").length >= 3) {
								$("#start").unbind("click");
								$("#start").click(on_submit);
							}
							$("#start").show();
						}
					} else {
						ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
					}
				});
			}
			function purge_customer(row)
			{
				$("#user_button__" + row).hide();
				$("#project__" + row).html("");
				$("#user_textbox__" + row).typeahead('val', '').show().focus();
			}
			function on_submit(e)
			{
				e.preventDefault();
				// check for all project fields having selected values
				var s;
				var o;
				var u;
				var b;
				var total_entry_count = 0;

				for (var i=0; i<=current_entry_number; i++) {
					b = false;
					s = "#user_textbox__" + i;

					if ($(s).length) {
						if ($(s).css("display") != "none") {
							alert("Please select a user for each row, or else delete the row.");
							$(s).focus();
							return false;
						} else {
							b = true;
						}
						total_entry_count++;
					}

					if (b) {
						s = "#chosen_project__" + i;
						if ($(s).prop("type") != "hidden") {
							o = $(s).find(":selected").val();
							if (o == "-1") {
								alert("Please select a value for each project field for each customer, or else delete the row.");
								$(s).focus();
								return false;
							}
						}
					}
				}

				if (total_entry_count == 0) {
					alert("You must add at least one customer in order to use this tool for other.");
					return false;
				}

				// if override_staff_charge exists and is true then check that it indeed SHOULD be true by comparing the entries to be submitted with the values stored originally
				{% if staff_charge_projects %}
				var scp = {{ staff_charge_projects }};
				var p;
				var bCurrent;
				var pr = "";
				var user_val = "";
				var project_val = "";

				// determine the number of entries in the current form
				var j=0;

				for (var i=0; i<current_entry_number; i++) {
					s = "#user_textbox__" + i;
					if ($(s).length) {
						j++;
					}
				}

				if (scp.length != j) { // at least some changes made
					$("#override_staff_charge").val(true);
				} else {
					// need to compare user/project between form values and existing values
					b = false;
					bCurrent = false;

					for (var i=0; i<current_entry_number; i++) {
						s = "#user_textbox__" + i;
						bCurrent = false;

						if ($(s).length) {
							pr = "#chosen_project__" + i;

							user_val = $(s).val();
							project_val = $(pr).val();

							for (p in scp) {

								if (scp[p]["user_id"] == user_val && scp[p]["project_id"] == project_val) {
									bCurrent = true;
								}

							}

							if (!bCurrent) {
								b = true;
								update_override(true);
							}
						}
					}

					if (!b) {
						update_override(false);
					}
				}

				{% endif %}

				if ($("#set_for_autologout").is(":checked")) {
					if ($("#autologout_endtime").val() == "") {
						alert("If you wish to use the autologout feature, you must choose an end time.");
						$("#autologout_endtime").focus();
						return false;
					}
				}

				var failure_dialog = ajax_failure_callback("Could not begin charging staff time");
				var success_callbacks = [reload_page]; 
				ajax_post("{% url 'enable_tool_multi' %}", serialize("#tool_control"), success_callbacks, failure_dialog);
				return false;
			}	


		{% endif %}

		function load_tasks_and_comments(tool_id)
		{
			var failure_dialog = ajax_complete_callback("Unable to find past tasks & comments", "There was a problem looking up past tasks & comments.");
			var data = serialize("#history_form");
			data.start = moment(data.start, "MM/DD/YYYY").unix();
			data.end = moment(data.end, "MM/DD/YYYY").add(1, 'day').unix();
			{# Add one day because by default the time is midnight the day of. We want to include the full duration of the last day. #}
			$("#past_tasks_and_comments").load("{% url 'past_comments_and_tasks' %}?" + $.param(data), failure_dialog);
		}

		function load_tasks_and_comments_for_last_three_months(tool_id)
		{
			var start = moment().subtract(3, 'months').format("MM/DD/YYYY");
			var end = moment().format("MM/DD/YYYY");
			$("#task_and_comment_start").val(start);
			$("#task_and_comment_end").val(end);
			load_tasks_and_comments(tool_id);
		}

		function load_ten_most_recent_tasks_and_comments(url)
		{
			var failure_dialog = ajax_complete_callback("Unable to find past tasks & comments", "There was a problem looking up past tasks & comments.");
			$("#past_tasks_and_comments").load(url, failure_dialog);
		}

		function on_load()
		{
			{% if device == 'desktop' %}

				set_tool_link_callback(refresh_tool_status);
				enable_tool_tree_toggling();
				$('#tool_search').autocomplete('tools', on_tool_search_selection, {{ cat_tools }});
				$("#tool_search").focus();
				load_sidebar_state();
				$("#tool_tree").show();
				{# Tool tree is initially hidden so that previous expand/collapse state of categories is configured before it's visible. #}
				{% if selected_tool %}
					expand_to_tool({{ selected_tool }});
				{% endif %}
				setInterval(refresh_sidebar_icons, 30000);
			{% endif %}
			refresh_tool_status();
			var int_selected = get_selected_item();
			if (int_selected) {
				var selector = "a[data-tool-id='" + int_selected + "']";
				$("#current_tool_selection").html($(selector).html());
			} else {
				$("#current_tool_selection").html("");
			}
		}

		$(on_load);

	</script>

{% endblock %}
