{% extends 'base.html' %}

{% load custom_tags_and_filters %}
{% block title %}Ad Hoc Staff Charge Overlap{% endblock %}

{% block content %}
        <h1>Ad Hoc Staff Charges Overlap</h1>
	<p>The ad hoc charge you entered conflicts with the listed existing charge(s).  Please select which item should take precedence.  Selecting your new charge will overwrite (and appropriately reduce) an existing charge, while selecting the existing charge will reduce the new charge to the appopriate times.</p>
	<form id="ad_hoc_overlap_resolution" action="{% url 'ad_hoc_overlap_resolution' %}" method="POST">
	{% csrf_token %}
	<table class="table">
		<tr>
			<th>Start Time Selected:</th>
			<td>{{ ad_hoc_start }}<input type="hidden" name="ad_hoc_start" value="{{ ad_hoc_start }}" /></td>
		</tr>
		<tr>
			<th>End Time Selected:</th>
			<td>{{ ad_hoc_end }}<input type="hidden" name="ad_hoc_end" value="{{ ad_hoc_end }}" /></td>
		</tr>
		<tr>
			<th>Customers Selected:</th>
			<td>
			{% for c in ad_hoc_customers %}
				{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Projects Selected:</th>
			<td>
			{% for p in ad_hoc_projects %}
				{{ p.application_identifier }}<br/>
			{% endfor %}
			</td>
		</tr>
	</table>
	{% for datval, vlist in pc.items %}
		{% for v in vlist %}
			{% if forloop.counter == 1 %}
			<input type="hidden" name="chosen_user__{{ forloop.parentloop.counter }}" value="{{ v }}" />
			{% endif %}
			{% if forloop.counter == 2 %}
			<input type="hidden" name="chosen_project__{{ forloop.parentloop.counter }}" value="{{ v }}" />
			{% endif %}
			{% if forloop.counter == 3 %}
			<input type="hidden" name="project_percent__{{ forloop.parentloop.counter }}" value="{{ v }}" />
			{% endif %}
		{% endfor %}
	{% endfor %}

	<h3>Conflicted Times</h3>
	<table class="table">
		<tr>
			<th>Start</th>
			<th>End</th>
			<th>Customers</th>
			<th>Projects</th>
			<th>Existing</th>
			<th>New</th>
		</tr>
	{% for s in staff_charges_start %}
		<tr>
			<td>{{ s.start }}</td>
			<td>{{ s.end }}</td>
			<td>
			{% for c in s.customers.all %}
				{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
			{% endfor %}
			</td>
			<td>
			{% for p in s.projects.all %}
				{{ p.application_identifier }}<br/>
			{% endfor %}
			</td>
			<td>
				<input type="radio" name="overlap_choice__{{ s.id }}" value=0 />
			</td>
			<td>
				<input type="radio" name="overlap_choice__{{ s.id }}" value=1 />
			</td>
		</tr>
	{% endfor %}
	{% for s in staff_charges_end %}
		<tr>
			<td>{{ s.start }}</td>
			<td>{{ s.end }}</td>
			<td>
			{% for c in s.customers.all %}
				{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
			{% endfor %}
			</td>
			<td>
			{% for p in s.projects.all %}
				{{ p.application_identifier }}<br/>
			{% endfor %}
			</td>
			<td>
				<input type="radio" name="overlap_choice__{{ s.id }}" value=0 />
			</td>
			<td>
				<input type="radio" name="overlap_choice__{{ s.id }}" value=1 />
			</td>
		</tr>
	{% endfor %}
	{% for s in staff_charges_middle %}
		<tr>
			<td>{{ s.start }}</td>
			<td>{{ s.end }}</td>
			<td>
			{% for c in s.customers.all %}
				{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
			{% endfor %}
			</td>
			<td>
			{% for p in s.projects.all %}
				{{ p.application_identifier }}<br/>
			{% endfor %}
			</td>
			<td>
				<input type="radio" name="overlap_choice__{{ s.id }}" value=0 />
			</td>
			<td>
				<input type="radio" name="overlap_choice__{{ s.id }}" value=1 />
			</td>
		</tr>
	{% endfor %}
	{% for s in staff_charges_over %}
		<tr>
			<td>{{ s.start }}</td>
			<td>{{ s.end }}</td>
			<td>
			{% for c in s.customers.all %}
				{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
			{% endfor %}
			</td>
			<td>
			{% for p in s.projects.all %}
				{{ p.application_identifier }}<br/>
			{% endfor %}
			</td>
			<td>
				<input type="radio" name="overlap_choice__{{ s.id }}" value=0 />
			</td>
			<td>
				<input type="radio" name="overlap_choice__{{ s.id }}" value=1 />
			</td>
		</tr>
	{% endfor %}
	</table>

	<input type="submit" value="Apply changes and save staff charges" class="btn btn-success" />
	<input type="button" onclick="go_back();" class="btn btn-warning" value="Return to Staff Charges" />
	</form>

	<script type="text/javascript">
	function go_back() 
	{ 
		window.location='{% url 'staff_charges' %}'  
	}
	</script>
{% endblock %}
