<tr id="ad_hoc_row_{{ entry_number }}">
	<td style="vertical-align: top"><span class="glyphicon glyphicon-remove-circle grey pointer" onclick="remove_ad_hoc_row({{ entry_number }})"></span></td>
	<td>
		<input type="text" class="form-control" id="ad_hoc_user_textbox__{{ entry_number }}" name="chosen_user__{{ entry_number }}" data-row="{{ entry_number }}">
		<input type="button" class="btn btn-default" style="display:none" id="ad_hoc_user_button__{{ entry_number }}" onclick="purge_ad_hoc_customer({{ entry_number }})">
	</td>
	<td id="ad_hoc_project__{{ entry_number }}" style="vertical-align: top">

	</td>
	<td id="ad_hoc_sample__{{ entry_number }}" style="vertical-align: top">

	</td>
	<td>
		<input type="text" class="form-control" id="ad_hoc_project_percent__{{ entry_number }}" name="project_percent__{{ entry_number }}">
	</td> 
</tr>
