{% extends 'base.html' %}
{% block title %}Staff charges{% endblock %}
{% block content %}
	<h1>Staff charges</h1>
	<form action="{% url 'end_staff_charge' 0 %}" class="form-horizontal" method="post">
		{% csrf_token %}
		<p>You are currently charging staff time to the following customer(s):</p>
		<table class="table">
		{% for s in scp %}
		<tr>
			<td>{{ s.customer }}</td>
			<td>{{ s.project }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="2" align="left" valign="top">
				<label for="staff_member_comment">Comment / Purpose of Charge</label>
				<textarea name="staff_member_comment" id="staff_member_comment" onblur="save_staff_comment()" rows="6" cols="50" placeholder="Please enter a description of the work done or reason the charge is being made">{% if staff_charge.staff_member_comment is not None %}{{ staff_charge.staff_member_comment }}{% endif %}</textarea>
			</td>
		</tr>
		</table>
		<br/>
		
		<input type="submit" class="btn btn-primary" value="I have finished working on this project">
	</form>
	{% if areas %}
		<div style="height:50px"></div>
		<form action="{% url 'begin_staff_area_charge' %}" class="form-horizontal" method="post">
			{% csrf_token %}
			<p>I have entered a billable area on behalf of this user:</p>
			{% for a in areas %}
				<div class="radio">
					<label><input type="radio" name="area" value="{{ a.id }}" required> {{ a }}</label>
				</div>
			{% endfor %}
			<br>
			<input type="submit" class="btn btn-primary" value="Begin billing for area access">
		</form>
	{% endif %}
	<script>
		function save_staff_comment() {
                	ajax_get("{% url 'save_staff_comment' %}", { "staff_charge_id": {{ staff_charge.id }}, "staff_member_comment": $("#staff_member_comment").val() },undefined,undefined);
        	}

        	window.onunload = save_staff_comment;
	</script>
{% endblock %}
