{% extends 'base.html' %}
{% block title %}Staff charges{% endblock %}
{% block content %}
	<h1>Staff charges</h1>
	<div class="col-sm-12">
		<p>You are currently charging staff time to the following customer(s):</p>
                <table class="table">
                {% for s in scp %}
                <tr>
                        <td>{{ s.customer }}</td>
                        <td>{{ s.project }}</td>
                </tr>
                {% endfor %}
                </table>
                <br/>

		<form action="{% url 'end_staff_area_charge' %}" class="form-horizontal" method="post">
			{% csrf_token %}
			<div class="form-group">
				<input type="submit" class="btn btn-primary" style="white-space:normal" value="I am no longer in the {{ area|lower }} on behalf of this user">
			</div>
		</form>
	</div>
{% endblock %}
