<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4>Staff charges - multiple projects</h4>
</div>

<div class="modal-body">
	<h1>Staff charges - multiple projects</h1>

{% if scp|length == 0 %}
	<span class="danger-highlight">No active staff charge project records</span>
{% elif scp|length == 1 %}
	<p>Charges will assigned 100% for {{ scp.customer.first_name }} {{ scp.customer.last_name }} to project {{ scp.project.name }}</p>
{% else %}
	<p>Please assign the desired percent of staff charges to each project included:</p>
	<form id="staff_charge_projects" method="POST" class="form-horizontal" onsubmit="return submit_charges();">
		{% csrf_token %}
		<input type="hidden" name="tool_id" value="{{ tool_id }}" />
		<table class="table">
			<tr>
				<th>Customer</th>
				<th>Project</th>
				<th>Percent</th>
			</tr>
		{% for s in scp %}
			<tr>
				<td>{{ s.customer.first_name }} {{ s.customer.last_name }}</td>
				<td>{{ s.project.name }}</td>
				<td><input type="text" name="project_percent__{{ s.id }}" value="" /></td>
			</tr>
		{% endfor %}
		</table>
		<br />
		<input type="hidden" value="{{ staff_charge_id }}" name="staff_charge_id" />
		{% if override_confirm %}
		<input type="hidden" value="True" name="override_confirm" />
		{% endif %}
		<input type="submit" value="Record Staff Charges" class="btn btn-default"/>
	</form>
	<script>
	function submit_charges()
	{
		var failure_dialog = ajax_failure_callback("There was an error processing the data.  Please check the form and try again.");
		ajax_post("{% url 'staff_charge_projects_save' 1 %}", serialize("#staff_charge_projects"), reload_tool, failure_dialog);
		return false;
	}

	function reload_tool()
	{
		window.location = "{% url 'tool_control' tool_id %}";
	}
	</script>
{% endif %}
</div>
