{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Staff charges - multiple projects{% endblock %}

{% block content %}
	<h1>Staff charges - multiple projects</h1>

{% if scp|length == 0 %}
	<span class="danger-highlight">No active staff charge project records</span>
{% elif scp|length == 1 %}
	<p>Charges will assigned 100% for {{ scp.customer.first_name }} {{ scp.customer.last_name }} to project {{ scp.project.name }}</p>
{% else %}
	<p>Please assign the desired percent of staff charges to each project included:</p>
	<form id="staff_charge_projects" action="{% url 'staff_charge_projects_save' %}" class="form-horizontal" method="post">
		{% csrf_token %}
		<table class="table">
			<tr>
				<th>Customer</th>
				<th>Project</th>
				<th>Percent</th>
			</tr>
		{% for s in scp %}
			<tr>
				<td>{{ s.customer.first_name }} {{ s.customer.last_name }}</td>
				<td>{{ s.project.name }}</td>
				<td><input type="text" name="project_percent__{{ s.id }}" value="" /></td>
			</tr>
		{% endfor %}
		</table>
		<br />
		<input type="submit" value="Record Staff Charges" class="btn btn-default"/>
	</form>
{% endif %}
{% endblock %}
