{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Staff charges{% endblock %}
{% block extrahead %}
	{% load static %}
	<script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}
{% block content %}
	{% if error %}
		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% endif %}
	<div>
		<h1 class="pull-left" style="margin-right:20px; margin-top:0; margin-bottom:0">Staff charges center</h1>
		<ul class="nav nav-pills" id="tabs">
			<li class="active"><a href="#staff_charges">Current Staff Charges</a></li>
			<li><a href="#ad_hoc">Ad Hoc Staff Charges</a></li>
			<li><a href="#override">Overridden Staff Charges</a></li> 
		</ul>
	</div>

	<div id="content" class="tab-content" style="padding-top:10px">

{% if not charging_staff_time and not charging_area_time %}
	<div class="tab-pane active" id="staff_charges">
	<h2>Current Staff Charges</h2>
	<form id="new_staff_charge" onsubmit="return on_submit()">
		<p>Use this form to charge one or more customers for staff time and area access time when you are working on a project on their behalf.  This will track your charges in real time.</p>
		{% csrf_token %}
		{% if multi_core_user %}
		<select id="core_select" name="core_select" class="form-control" onchange="core_override_select();">
			<option value="0">Please select the core for which this charge is being made</option>
			{% for c in request.user.core_ids.all %}
			<option value="{{ c.id }}">{{ c.name }}</option>
			{% endfor %}
		</select>

		<select id="credit_cost_collector_select" name="credit_cost_collector_select" class="form-control" style="display: none; width: 100%;">
			<option value="0">You may select a credit cost collector to receive funds for this work</option>
		{% for c in request.user.core_ids.all %}
	
			{% for ccc in c.creditcostcollector_set.all %}
			{% if ccc.project.active %}
				<option value="{{ ccc.id }}" style="display: none;" class="core_{{ c.id }}">{{ ccc.name }}</option>
			{% endif %}
			{% endfor %}
	
		{% endfor %}
		</select>
		{% else %}
		<select id="credit_cost_collector_select" name="credit_cost_collector_select" class="form-control" style="width: 100%;">
			<option value="0">You may select a credit cost collector to receive funds for this work</option>
		{% for c in request.user.core_ids.all %}
			{% for ccc in c.creditcostcollector_set.all %}
			{% if ccc.project.active %}
				<option value="{{ ccc.id }}" class="core_{{ c.id }}">{{ ccc.name }}</option>
			{% endif %}
			{% endfor %}
		{% endfor %}
		</select>
		{% endif %}

		{% if request.device != 'mobile' %}
		<table id="staff_charge_entries" class="table">
			<tr>
				<th>&nbsp;</th>
				<th style="min-width:200px">Customer</th>
				<th style="min-width:200px">Project</th>
				<th style="min-width:300px">Samples</th>
			</tr>
			{# Rows are inserted here on load and when "Add another customer" is clicked. #}
			{% include 'staff_charges/staff_charge_entry.html' with entry_number=2 %}
			<tr>
				<td colspan="4" style="text-align:center"><a href="javascript:void(0)" onclick="add_customer()">Add another customer</a></td>
			</tr>
		</table>
		{% else %}
		<table id="staff_charge_entries" class="table">
			{% include 'staff_charges/staff_charge_entry_mobile.html' with entry_number=2 %}
			<tr>
				<td><a href="javascript:void(0)" onclick="add_customer()">Add another customer</a></td>
			</tr>
		</table>
		{% endif %}

		<input type="submit" class="btn btn-default" id="begin_staff_time_charges" value="Begin charging staff time">
	</form>
	</div>

{% elif charging_staff_time and not charging_area_time %}

	<div class="tab-pane active" id="staff_charges">
	<h2>Current Staff Charges</h2>
	<form action="{% url 'end_staff_charge' 0 %}" class="form-horizontal" method="post">
		{% csrf_token %}
		<p>You are currently charging staff time to the following customer(s):</p>

		{% if request.device != 'mobile' %}

		<table class="table">
			<tr>
				<th>Customer</th>
				<th>Project</th>
				<th>Samples</th>
				<th style="min-width: 300px;">Customer/Project Comments</th>
			</tr>
		{% for s in scp %}
		<tr>
			<td>{{ s.customer }}</td>
			<td>{{ s.project }}</td>
			<td>
			<table>
			{% if s.sample_detail.all is not None %}
			{% for smp in s.staffchargeprojectsample_set.all %}
			{% if smp.active_flag %}
			<tr>
			<td style="width: 60%">{{ smp.sample }}</td>
			<td>
			<textarea rows="2" cols="5" class="form-control" name="smpc__{{s.id}}__{{smp.sample.id}}" id="smpc__{{s.id}}__{{smp.sample.id}}" onblur="save_sample_comment(this);">{% if smp.notes is not None %}{{ smp.notes }}{% endif %}</textarea>
			</td>
			<td><input type="button" class="btn btn-danger" value="-" onclick="remove_sample({{s.id}},{{smp.sample.id}});" title="Remove this sample from the run" /></td>
			</tr>
			{% endif %}
			{% endfor %}
			{% endif %}
			<tr><td colspan="2"><input type="button" class="btn btn-success" value="+New" onclick="add_run_sample({{s.project.id}},{{s.id}});" title="Add a new sample" /><input type="button" class="btn" value="+Existing" onclick="add_run_existing_sample({{s.project.id}},{{s.id}});" title="Add an existing sample" style="background-color: #0000ff; color: #ffffff" {% if s.project.sample_set.all.count == 0 %}disabled {% endif %}/></td></tr>
			</table>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="4" align="left" valign="top">
				<label for="staff_member_comment">Comment / Purpose of Charge</label>
				<textarea name="staff_member_comment" id="staff_member_comment" onblur="save_staff_comment()" class="form-control" rows="6" cols="30" placeholder="Please enter a description of the work done or reason the charge is being made">{% if staff_charge.staff_member_comment is not None %}{{ staff_charge.staff_member_comment }}{% endif %}</textarea>
			</td>
		</tr>
		</table>

		{% else %}

		<table class="table">

		{% for s in scp %}

		<tbody style="border: 3px solid black;">
			<tr><td>{{ s.customer }}</td></tr>
			<tr><td>{{ s.project }}</td></tr>
			<tr>
				<td>
					<table>
					{% if s.sample_detail.all is not None %}
					{% for smp in s.staffchargeprojectsample_set.all %}
					{% if smp.active_flag %}
					<tbody style="border: 3px solid black;">
						<tr><td>Sample:<br/>{{ smp.sample }}</td></tr>
						<tr><td><textarea rows="2" cols="5" class="form-control" name="smpc__{{s.id}}__{{smp.sample.id}}" id=="smpc__{{s.id}}__{{smp.sample.id}}" onblur="save_sample_comment(this);">{% if smp.notes is not None %}{{ smp.notes }}{% endif %}</textarea></td></tr>
						<tr><td><input type="button" class="btn btn-danger" value="Remove Sample" onclick="remove_sample({{s.id}},{{smp.sample.id}});" /></td></tr>
					</tbody>
					{% endif %}
					{% endfor %}
					{% endif %}
					<tr><td>
						<input type="button" class="btn btn-success" value="+New Sample" onclick="add_run_sample({{s.project.id}},{{s.id}});" title="Add a new sample" />
						<input type="button" class="btn" value="+Existing Sample" onclick="add_run_existing_sample({{s.project.id}},{{s.id}});" title="Add an existing sample" style="background-color: #0000ff; color: #ffffff" {% if s.project.sample_set.all.count == 0 %}disabled {% endif %}/>
					</td></tr>
					</table>
				</td>
			</tr>
			
		</tbody>

		{% endfor %}

			<tr><td>
				<label for="staff_member_comment">Comment / Purpose of Charge</label>
				<textarea name="staff_member_comment" id="staff_member_comment" onblur="save_staff_comment()" class="form-control" rows="3" cols="10" placeholder="Please enter a description of the work done or reason the charge is being made">{% if staff_charge.staff_member_comment is not None %}{{ staff_charge.staff_member_comment }}{% endif %}</textarea>
			</td></tr>

		</table>

		{% endif %}

		<br/>
		
		<input type="submit" class="btn btn-primary" value="I have finished working on this project">
	</form>
	{% if areas %}
		<div style="height:50px"></div>
		<form action="{% url 'begin_staff_area_charge' %}" class="form-horizontal" method="post">
			{% csrf_token %}
			<p>I have entered a billable area on behalf of this user:</p>
			{% for a in areas %}
				<div class="radio">
					<label><input type="radio" name="area" value="{{ a.id }}" required> {{ a }}</label>
				</div>
			{% endfor %}
			<br>
			<input type="submit" class="btn btn-primary" value="Begin billing for area access">
		</form>
	{% endif %}


	</div>

{% elif charging_staff_time and charging_area_time %}

	<div class="tab-pane active" id="staff_charges">
	<h2>Current Staff Charges</h2>

	<div class="col-sm-12">
		<p>You are currently charging staff time to the following customer(s):</p>
		<table class="table">
		{% for s in scp %}
		<tr>
			<td>{{ s.customer }}</td>
			<td>{{ s.project }}</td>
			<td>
			<table>
			{% if s.sample_detail.all is not None %}
			{% for smp in s.staffchargeprojectsample_set.all %}
			{% if smp.active_flag %}
			<tr>
			<td style="width: 60%">{{ smp.sample }}</td>
			<td>
			<textarea rows="2" cols="5" class="form-control" name="smpc__{{s.id}}__{{smp.sample.id}}" id=="smpc__{{s.id}}__{{smp.sample.id}}" onblur="save_sample_comment(this);">{% if smp.notes is not None %}{{ smp.notes }}{% endif %}</textarea>
			</td>
			<td><input type="button" class="btn btn-danger" value="-" onclick="remove_sample({{s.id}},{{smp.sample.id}});" title="Remove this sample from the run" /></td>
			</tr>
			{% endif %}
			{% endfor %}
			{% endif %}
			<tr><td colspan="2"><input type="button" class="btn btn-success" value="+New" onclick="add_run_sample({{s.project.id}},{{s.id}});" title="Add a new sample" /><input type="button" class="btn" value="+Existing" onclick="add_run_existing_sample({{s.project.id}},{{s.id}});" title="Add an existing sample" style="background-color: #0000ff; color: #ffffff" {% if s.project.sample_set.all.count == 0 %}disabled {% endif %}/></td></tr>
			</table>
			</td>

            <td>
                <label for="customer_comment__{{ s.id }}">Customer/Project Comments</label>
                <textarea class="form-control" name="customer_comment__{{ s.id }}" id="customer_comment__{{ s.id }}" onblur="save_customer_comment(this)" rows="6" cols="50" placeholder="Please enter a brief description of the work performed, or make any notes you'd find useful for reference">{% if s.customer_comment is not None %}{{ s.customer_comment }}{% endif %}</textarea>
            </td>
		</tr>
		{% endfor %}
		</table>
		<br/>

		<form action="{% url 'end_staff_area_charge' %}" class="form-horizontal" method="post">
			{% csrf_token %}
			<div class="form-group">
				<input type="submit" class="btn btn-primary" style="white-space:normal" value="I am no longer in the {{ area|lower }} on behalf of this user">
			</div>
		</form>
	</div>

	</div>

{% endif %}


	<div class="tab-pane" id="ad_hoc">
	<h2>Ad Hoc Staff Charges</h2>
	<p>Use the form below to save a record for a staff time charge that was not captured in real time.  You can see existing charges you have made by clicking the "Show Charges" button.</p>
	<div>
		<input class="btn btn-default" type="button" value="Show Charges" onclick="show_user_charges();" />
		<input class="btn btn-default" type="button" value="Hide Charges" onclick="hide_user_charges();" />
		<br/>
		<table id="existing_charges" class="table">
			<tr>
				<th>Start</th>
				<th>End</th>
				<th>Customers</th>
				<th>Projects</th>
			</tr>
			{% if current_user_charges %}
				{% for s in current_user_charges %}
					{% if not s.ad_hoc_replaced %}
					<tr{% if s.no_charge_flag %} style="background-color: rgb(253,225,227);"{% endif %}>
						<td>{{ s.start }}</td>
						<td>{{ s.end }}</td>
						<td>
						{% for c in s.customers.all %}
							{{ c.first_name }}&nbsp;{{ c.last_name }}<br/>
						{% endfor %}
						</td>
						<td>
						{% for p in s.projects.all %}
							{{ p }}<br/>
						{% endfor %}
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			{% else %}
			<tr>
				<td colspan="4">No staff charges found</td>
			</tr>
			{% endif %}
		</table>
			
	</div>
	<form id="ad_hoc_staff_charge" action="{% url 'ad_hoc_staff_charge' %}" method="POST" onsubmit="return on_ad_hoc_submit();">
		{% csrf_token %}
		<br/><br/>
		{% if multi_core_user %}
		<select id="ad_hoc_core_select" name="ad_hoc_core_select" class="form-control" onchange="ad_hoc_core_override_select();">
			<option value="0">Please select the core for which this charge is being made</option>
			{% for c in request.user.core_ids.all %}
			<option value="{{ c.id }}">{{ c.name }}</option>
			{% endfor %}
		</select>

		<select id="ad_hoc_credit_cost_collector_select" name="ad_hoc_credit_cost_collector_select" class="form-control" style="display: none;">
			<option value="0">You may select a credit cost collector to receive funds for this work</option>
		{% for c in request.user.core_ids.all %}

			{% for ccc in c.creditcostcollector_set.all %}
			{% if ccc.project.active %}
				<option value="{{ ccc.id }}" style="display: none;" class="ad_hoc_core_{{ c.id }}">{{ ccc.name }}</option>
			{% endif %}
			{% endfor %}
		{% endfor %}
                </select>
		{% else %}
		<select id="ad_hoc_credit_cost_collector_select" name="ad_hoc_credit_cost_collector_select" class="form-control">
			<option value="0">You may select a credit cost collector to receive funds for this work</option>
		{% for c in request.user.core_ids.all %}
			{% for ccc in c.creditcostcollector_set.all %}
			{% if ccc.project.active %}
				<option value="{{ ccc.id }}" class="ad_hoc_core_{{ c.id }}">{{ ccc.name }}</option>
			{% endif %}
			{% endfor %}
		{% endfor %}
		</select>
		{% endif %}
		<br/><br/>

		<table id="ad_hoc_entries" class="table">
			<tr>
                                <th>&nbsp;</th>
				<th>Start</th>
				<td>
					<div class="datetimepicker-container">
						<input type="text" name="ad_hoc_start" id="ad_hoc_start" class="form-control" />
					</div>
				</td>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
			<tr>
                                <th>&nbsp;</th>
				<th>End</th>
				<td>
					<div class="datetimepicker-container">
						<input type="text" name="ad_hoc_end" id="ad_hoc_end" class="form-control" />
					</div>
				</td>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<th>Duration</th>
				<td>
					<div id="duration"></div>
				</td>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
			<tr>
				<td colspan="5" align="left" valign="top" style="align: left; vertical-align: top;">
					<label class="control-label col-sm-2" for="staff_member_comment" style="font-weight: bold;">Comment / Purpose of Charge</label>
					<textarea name="staff_member_comment" id="staff_member_comment" class="form-control" rows="6" cols="50" placeholder="Please enter any comments about the reason for or details about the work performed"></textarea>
				</td>
			</tr>
			{% if request.user.physical_access_levels.all|length > 0 %}
			<tr>
				<td colspan="5" align="left" valign="top" style="align: left; vertical-align: top;">
				<input type="checkbox" value="1" name="include_area_access" id="include_area_access" onclick="toggle_areas()"{% if show_no_staff_charge_option %} checked{% endif %}>
				Include an area access record with this staff charge
<br/><br/>
				<select name="area_id" id="area_id" class="form-control"{% if not show_no_staff_charge_option %} disabled{% endif %}>
					{% for pa in request.user.physical_access_levels.all %}
					<option value="{{ pa.area.id }}">{{ pa.area.name }}</option>
					{% endfor %}
				</select>

				{% if show_no_staff_charge_option %}
				<br/>
				<input type="checkbox" value="1" name="do_not_save_staff_charge" id="do_not_save_staff_charge" class="form-control" checked> Do not save staff charge (save area access charge only)
				{% endif %}
				</td>
			</tr>
			{% endif %}
			<tr>
                                <th>&nbsp;</th>
				<th style="min-width:200px">Customer</th>
                                <th style="min-width:200px">Project</th>
				<th style="min-width:300px">Samples</th>
				<th style="min-width:100px">Percent</th>
                        </tr>
			{% if ad_hoc_entries|length > 0 %}
				{% for a in ad_hoc_entries %}
					{% if a.0 == None %}
						{% include 'staff_charges/ad_hoc_staff_charge_entry.html' with entry_number=forloop.counter %}
					{% else %}
						{% include 'staff_charges/ad_hoc_staff_charge_entry_loaded.html' with entry_number=forloop.counter chosen_user=a.0 chosen_project=a.1 project_percent=a.2 %}
					{% endif %}
				{% endfor %}
			{% else %}
				{% include 'staff_charges/ad_hoc_staff_charge_entry.html' with entry_number=2 %}
			{% endif %}
			<tr>
				<td colspan="5" style="text-align:center"><a href="javascript:void(0)" onclick="add_ad_hoc_customer()">Add another customer</a></td>
			</tr>
		</table>
		<input type="submit" class="btn btn-default" id="save_ad_hoc_staff_time_charge" value="Save ad hoc staff time charge">
	</form>
	</div>

	
	<div class="tab-pane" id="override">
	<h2>Overridden Staff Charges</h2>
	<p>The following staff charge(s) are marked as being overridden but not yet confirmed.  Please fill out the relevant percentages where appropriate and click "End the current charges" to confirm a completed override, or select "Continue the current charges" to add further time to the charges.</p>

	{% if oscp|length == 0 %}
	There are currently no overridden staff charges.
	{% else %}
	{% for o in override_charges %}
		<form id="override_charges_{{ o.id }}" onsubmit="return submit_override({{ o.id }})" class="form-horizontal">
		{% csrf_token %}
		<input type="hidden" value="true" name="override_confirmed" />
		<input type="hidden" value="{{ o.id }}" name="staff_charge_id" id="staff_charge_id" />
		<table class="table">
			<tr>
				<td colspan="3">
					<b>Start:</b> {{ o.start }} 
					<br/>
					<b>End:</b>{{ o.end }}
				</td>
			</tr>
			<tr>
				<th>Customer</th>
				<th>Project</th>
				<th>Samples</th>
				<th>Percent</th>
			</tr>
		{% for s in oscp %}
			{% if o.id == s.staff_charge.id %}
			<tr>
				<td>{{ s.customer }}</td>
				<td>{{ s.project }}</td>
				<td>
				{% for smp in s.sample_detail.all %}
					{{ smp }}<br/>
				{% endfor %}
				</td>
				<td>
					<input type="text" name="project_percent__{{ s.id }}" id="project_percent__{{ s.id }}" class="form-control" />
				</td>
			<tr>
			{% endif %}
		{% endfor %}
			<tr>
				<td colspan="4" align="left" valign="top" style="align: left; vertical-align: top;">
					<label class="control-label col-sm-2" for="staff_member_comment_{{ o.id }}">Comment / Purpose of Charge</label>
					<textarea name="staff_member_comment" id="staff_member_comment_{{ o.id }}" class="form-control" rows="6" cols="50" placeholder="Please enter any comments about the reason for or details about the work performed"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<input type="submit" value="End the current charges" class="btn btn-default" />
					<input type="button" class="btn btn-default" value="Continue the current charges" onclick="continue_staff_charges({{ o.id }}, '{% url 'continue_staff_charge' o.id %}');" />
				</td>
			</tr>
		</table>
		</form>
		<br/><br/>
	{% endfor %}
	{% endif %}
	</div>

	</div>

	<div style="display:none;" id="fragment-collector"></div>

    <script>
		var current_entry_number = 2;
		var ad_hoc_entry_number = 2;
		var ss = [];

		{% if ad_hoc_entries %}
			{% for a in ad_hoc_entries %}
		enable_ad_hoc_autocompletion(ad_hoc_entry_number);
		ad_hoc_entry_number++;
			{% endfor %}
		{% endif %}

		function show_user_charges()
		{
			$("#existing_charges").show("slow");
		}

		function hide_user_charges()
		{
			 $("#existing_charges").hide("slow");
		}

		function core_override_select()
		{
			var iCore = $("#core_select option:selected").val();

			var sCore = ".core_" + iCore;
			$("#credit_cost_collector_select").css("display","none");
			$("#credit_cost_collector_select option").each(function() {
				$(this).css("display","none").prop("selected", false);
			});

			$(sCore).each(function() {
				$(this).css("display","inline");
			});

			if ($(sCore).length > 0) {
				$("#credit_cost_collector_select").css("display","inline");
			} else {
				$("#credit_cost_collector_select option").css("display","none");
			}
		}

		function ad_hoc_core_override_select()
		{
			var iCore = $("#ad_hoc_core_select option:selected").val();

			var sCore = ".ad_hoc_core_" + iCore;
			$("#ad_hoc_credit_cost_collector_select").css("display","none");
			$("#ad_hoc_credit_cost_collector_select option").each(function() {
				$(this).css("display","none").prop("selected", false);
			});

			$(sCore).each(function() {
				$(this).css("display","inline");
			});

			if ($(sCore).length > 0) {
				$("#ad_hoc_credit_cost_collector_select").css("display","inline");
			} else {
				$("#ad_hoc_credit_cost_collector_select option").css("display","none");
			}
		}

		function select_user(jquery_event, search_selection, dataset_name)
		{
			$("#customer").val(search_selection.id);
		}

		function add_customer()
		{
			var failure_dialog = ajax_failure_callback("Cannot add new entry", "The web browser was not able to communicate with the server.");
			ajax_get("{% url 'staff_charge_entry' %}", { "entry_number": current_entry_number }, add_entry_success_callback, failure_dialog);
			function add_entry_success_callback(response, status, xml_http_request)
			{
				$("#staff_charge_entries tr:last").before(response);
				enable_autocompletion(current_entry_number);
				current_entry_number++;
			}
		}

		function add_ad_hoc_customer()
		{
			var failure_dialog = ajax_failure_callback("Cannot add new entry", "The web browser was not able to communicate with the server.");
                        ajax_get("{% url 'ad_hoc_staff_charge_entry' %}", { "entry_number": ad_hoc_entry_number }, add_entry_success_callback, failure_dialog);
                        function add_entry_success_callback(response, status, xml_http_request)
                        {
                                $("#ad_hoc_entries tr:last").before(response);
                                enable_ad_hoc_autocompletion(ad_hoc_entry_number);
                                ad_hoc_entry_number++;
                        }
		}

		function enable_autocompletion(entry_number)
		{
			var id = "#user_textbox__" + entry_number;
			{% if user_2dcc %}
			$(id).autocomplete('user', on_autocomplete_selection, {% json_search_base_with_extra_fields users 'username' 'project_number' %}).focus();
			{% else %}
			$(id).autocomplete('user', on_autocomplete_selection, {{ users|json_search_base}}).focus();
			{% endif %}
		}

		function enable_ad_hoc_autocompletion(entry_number)
                {
                        var id = "#ad_hoc_user_textbox__" + entry_number;
			{% if user_2dcc %}
			$(id).autocomplete('user', on_ad_hoc_autocomplete_selection, {% json_search_base_with_extra_fields users 'username' 'project_number' %}).focus();
			{% else %}
                        $(id).autocomplete('user', on_ad_hoc_autocomplete_selection, {{ users|json_search_base }}).focus();
			{% endif %}
		}

		function remove_row(number)
		{
			$("#row_" + number).remove();
		}

		function remove_ad_hoc_row(number)
                {
                        $("#ad_hoc_row_" + number).remove();
                }

		function on_autocomplete_selection(jquery_event, search_selection, dataset_name)
		{
			$(this).typeahead('val', search_selection.id).hide();
			var row = $(this).data('row');
			var button_id = "#" + dataset_name + "_button__" + row;
			$(button_id).val(search_selection.name).show();
			if(dataset_name == "user")
				fetch_projects(row, search_selection.id, false);
		}

		function on_ad_hoc_autocomplete_selection(jquery_event, search_selection, dataset_name)
                {
                        $(this).typeahead('val', search_selection.id).hide();
                        var row = $(this).data('row');
                        var button_id = "#ad_hoc_" + dataset_name + "_button__" + row;
                        $(button_id).val(search_selection.name).show();
                        if(dataset_name == "user")
                                fetch_projects(row, search_selection.id, true);
                }

		{% if charging_staff_time %}
		function save_staff_comment() {
			ajax_get("{% url 'save_staff_comment' %}", { "staff_charge_id": {{ staff_charge.id }}, "staff_member_comment": $("#staff_member_comment").val() },undefined,undefined);
		}

		window.onunload = save_staff_comment;
		{% endif %}

		function fetch_projects(row, user_id, ad_hoc)
		{
			var parameters =
			{
				"source_template": "staff_charges",
				"user_id": user_id,
				"entry_number": row,
				"ad_hoc": ad_hoc
			};
			var target_element;
			if (ad_hoc) {
				target_element = "#ad_hoc_project__" + row;
			} else {
				target_element = "#project__" + row;
			}
			var url = "{% url 'get_projects' %}?" + jQuery.param(parameters);
			var report_error = ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
			$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
				if(statusTxt == "success") {
					var el;
					if (ad_hoc) {
						el =  $("#ad_hoc_project__" + row + " > #chosen_project__" + row);
					} else {
						el =  $("#project__" + row + " > #chosen_project__" + row);
					}

					if ($(el).prop("type") == "hidden") {
						fetch_samples(row, ad_hoc);
					}
				} else {
					ajax_complete_callback("Could not fetch projects for user", "There was a problem obtaining the list of projects for the user.");
				}
			});
		}

		function fetch_samples(row, ad_hoc)
		{
			// A function to retrieve a list of samples for a project and load it into the interface
			var target_element;
			if (ad_hoc) {
				target_element = "#ad_hoc_sample__" + row;
			} else {
				target_element = "#sample__" + row;
			}
			$(target_element).html("");

			var project_id = $("#chosen_project__" + row).val();

			var parameters =
			{
				"project_id": project_id,
				"entry_number": row,
				"ad_hoc": ad_hoc,
			};
			var url = "{% url 'get_samples' %}?" + jQuery.param(parameters);
			var report_error = ajax_complete_callback("Could not fetch samples for user", "There was a problem obtaining the list of samples for the user.");

			$(target_element).load(url, undefined, function(responseTxt, statusTxt, xhr) {
				if (statusTxt == "success") {

					// add select lists with samples for the project
					var s1 = "#chosen_sample__" + row;
					if (ss.length > 0) {
						s1_options = s1 + " option";
						$(s1_options).each(function() {
							if (ss.indexOf(parseInt($(this).val())) > -1) $(this).prop("selected","selected");
						});
						ss.length = 0;
					}

				} else {
					ajax_complete_callback("Could not fetch samples for the project", "There was a problem obtaining the list of samples for the project.");
				}
			});
		}

		function add_sample(project_id, entry_number, ad_hoc=false)
		{
			var sample_list;

			sample_list = "#chosen_sample__" + entry_number + " option:selected";

			$(sample_list).each(function() {
				ss.push(parseInt($(this).val()));
			});

			var url = "/modal_create_sample/" + project_id + "/";
			var ajax_post = {
				"url": url,
				"data": {
					"modal_caller": "",
					"request_mode": "reservation",
				},
				"type": "GET",
				"dataType": "html"
			};

			jQuery.ajax(ajax_post)
				.fail(ajax_failure_callback("Oops, something went wrong!"))
				.done(function(response, status, xml_http_request)
				{
					if(response === "") {
						refresh_calendar_and_sidebar();
					} else {
						$("#sample_dialog .modal-content").html(response);
						$("#sample_dialog").modal('show');
						$("#sample_dialog .modal-content form").submit(function() {
							event.preventDefault();
							$("#sample_dialog .modal-content form").off("submit");
							$.ajax({
								type: "POST",
								url: url,
								data: serialize("#sample_dialog .modal-content form"),
								success: function(response, status, xml_http_request) {
									ss.push(parseInt(response));
									//alert(ss.join("\n"));
									$("#sample_dialog").modal('hide');
									$("#sample_dialog .modal-content").html("");
									var sl = "#chosen_project__" + entry_number;
									if ($(sl).tagName == "SELECT") {
										$(sl).trigger("change");
									} else {
										fetch_samples(entry_number, ad_hoc);
									}

								}
							});
						});
					}
				});
		}

		function save_sample_comment(el)
		{
			scp_id = $(el).prop("id").split("__")[1];
			sample_id = parseInt($(el).prop("id").split("__")[2]);

			ajax_post("{% url 'save_sample_comment' %}", { "scp_id": scp_id, "notes": $(el).val(), "sample_id": sample_id}, undefined, undefined);
		}

		function save_customer_comment(el)
		{
			scp_id = $(el).prop("id").split("__")[1];
			ajax_get("{% url 'save_customer_comment' %}", { "scp_id": scp_id, "comment": $(el).val()}, undefined, undefined);
		}

		function remove_sample(scp_id, sample_id)
		{
			if (confirm("This will remove the sample from the current tool run.  Click OK to proceed or Cancel to abort the removal.")) {
				var data = {"scp_id": scp_id, "sample_id":sample_id}
				ajax_post("{% url 'remove_sample' %}",data,[reload_staff_charges],undefined);
			}
		}

		function add_run_sample(project_id, scp_id)
		{
			// get the sample creation form for the project
			var url = "/modal_create_sample/" + project_id + "/";
			var ap = {
				"url": url,
				"data": {
					"modal_caller": "",
					"request_mode": "reservation",
				},
				"type": "GET",
				"dataType": "html"
			};

			jQuery.ajax(ap)
				.fail(ajax_failure_callback("Oops, something went wrong!"))
				.done(function(response, status, xml_http_request)
				{
					if(response === "") {
						//refresh_calendar_and_sidebar();
					} else {
						$("#sample_dialog .modal-content").html(response);
						$("#sample_dialog").modal('show');
						$("#sample_dialog .modal-content form").submit(function() {
							event.preventDefault();
							$("#sample_dialog .modal-content form").off("submit");
							$.ajax({
								type: "POST",
								url: url,
								data: serialize("#sample_dialog .modal-content form"),
								success: function(response, status, xml_http_request) {
									$("#sample_dialog").modal('hide');
									$("#sample_dialog .modal-content").html("");

									// create the UsageEventProjectSample record
									var add_sample_url = "/add_run_existing_sample/";
									var data = {"scp_id":scp_id,"sample_id":response,}
									ajax_post(add_sample_url, data, [reload_staff_charges], undefined, undefined);
								}
							});
						});
					}
				});



		}

		function add_run_existing_sample(project_id, scp_id)
		{
			// display a list of existing samples for the project then create or restore a relationship to the sample in the
			// UsageEventProjectSample table
			var url = "/modal_select_sample/" + project_id + "/";
			var ap = {
				"url": url,
				"data": {
					"modal_caller": "",
					"request_mode": "reservation",
				},
				"type": "GET",
				"dataType": "html"
			};

			jQuery.ajax(ap)
				.fail(ajax_failure_callback("Oops, something went wrong!"))
				.done(function(response, status, xml_http_request)
				{
					if(response === "") {
						//refresh_calendar_and_sidebar();
					} else {
						$("#sample_dialog .modal-content").html(response);
						$("#sample_dialog").modal('show');
						$("#sample_dialog .modal-content form").submit(function() {
							event.preventDefault();
							$("#sample_dialog .modal-content form").off("submit");
							$("#sample_dialog").modal('hide');

							// create the UsageEventProjectSample record
							var add_sample_url = "/add_run_existing_sample/";
							var data = {"scp_id":scp_id,"sample_id":$("#select_sample").val(),}
							ajax_post(add_sample_url, data, [reload_staff_charges], undefined, undefined);
							$("#sample_dialog .modal-content").html("");
						});
					}
				});
		}

		function purge_customer(row)
		{
			$("#user_button__" + row).hide();
			$("#project__" + row).html("");
			$("#sample__" + row).html("");
			$("#user_textbox__" + row).typeahead('val', '').show().focus();
		}

		function purge_ad_hoc_customer(row)
                {
                        $("#ad_hoc_user_button__" + row).hide();
                        $("#ad_hoc_project__" + row).html("");
			$("#ad_hoc_sample__" + row).html("");
                        $("#ad_hoc_user_textbox__" + row).typeahead('val', '').css("display","inline").focus();
                }

		function on_submit()
		{
			if ($("#staff_charge_entries tr").length < 3) {
				alert("You must add at least one customer");
				add_customer();
				return false;
			}
			{% if multi_core_user %}
			if ($("#core_select option:selected").val() == "0") {
				alert("Please choose the core that will be paid for this staff charge.");
				$("#core_select").focus();
				return false;
			} else {
				if ($("#credit_cost_collector_select option:selected").val() == "0") {
					alert("Please choose the credit cost collector to receive the payment for this work.");
					$("#credit_cost_collector_select").focus();
					return false;
				}
			}
			{% else %}
				if ($("#credit_cost_collector_select option:selected").val() == "0") {
					alert("Please choose the credit cost collector to receive the payment for this work.");
					$("#credit_cost_collector_select").focus();
					return false;
				}
			{% endif %}

			var failure_dialog = ajax_failure_callback("Could not begin charging staff time");

			// create hidden fields for samples since multiple select lists are not submitting from modal
			for (var i=0; i<=current_entry_number; i++) {
				fn = "chosen_sample__" + i;

				el = "*[name='" + fn + "']";

				if ($(el).val() != "" && $(el).length != 0) {
					if ($(el).length == 1) {
						var input = "<input type='hidden' name='selected_sample__" + i + "' value='" + $(el).val() + "' />";
					} else {
						var v = "";
						$(el).each(function() {
							v += $(this).val() + ",";
						});
						v = v.substr(0, v.length-1);
						var input = "<input type='hidden' name='selected_sample__" + i + "' value='" + v + "' />";
					}
					$("#new_staff_charge").append(input);
				}
			}

			ajax_post("{% url 'begin_staff_charge' %}", serialize("#new_staff_charge"), reload_staff_charges, failure_dialog);
			return false;
		}

		function on_ad_hoc_submit()
		{
			if ($("#ad_hoc_start").val() != "") {
				$("#ad_hoc_start").val(convert_12_to_24($("#ad_hoc_start").val()));
			}

			if ($("#ad_hoc_end").val() != "") {
				$("#ad_hoc_end").val(convert_12_to_24($("#ad_hoc_end").val()));
			}

			if ($("input[id*='ad_hoc_user_textbox__']").length == 0) {
				alert("You must add at least one customer");
				add_ad_hoc_customer();
				return false;
			}

			{% if multi_core_user %}
			if ($("#ad_hoc_core_select option:selected").val() == "0") {
				alert("Please choose the core that will be paid for this staff charge.");
				$("#ad_hoc_core_select").focus();
				return false;
			} else {
				if ($("#ad_hoc_credit_cost_collector_select option:selected").val() == "0") {
					alert("Please choose the credit cost collector that will receive the payment for this work.");
					$("#ad_hoc_credit_cost_collector_select").focus();
					return false;
				}
			}
			{% else %}
				if ($("#ad_hoc_credit_cost_collector_select option:selected").val() == "0") {
					alert("Please choose the credit cost collector that will receive the payment for this work.");
					$("#ad_hoc_credit_cost_collector_select").focus();
					return false;
				}
			{% endif %}
			//var failure_dialog = ajax_failure_callback("There was a problem with your ad hoc submission");
			//ajax_post("{% url 'ad_hoc_staff_charge' %}", serialize("#ad_hoc_staff_charge"), ad_hoc_overlap_callback, failure_dialog);
			/*  save sample selections */
			for (var i=0; i<=ad_hoc_entry_number; i++) {
				fn = "chosen_sample__" + i;
				el = "#ad_hoc_sample__" + i + " > *[name='" + fn + "']";

				if ($(el).val() != "" && $(el).length != 0) {
					if ($(el).length == 1) {
						var input = "<input type='hidden' name='selected_sample__" + i + "' value='" + $(el).val() + "' />";
					} else {
						var v = "";
						$(el).each(function() {
							v += $(this).val() + ",";
						});
						v = v.substr(0, v.length-1);
						var input = "<input type='hidden' name='selected_sample__" + i + "' value='" + v + "' />";
					}
					$("#ad_hoc_staff_charge").append(input);
				}
			}

			{% if show_confirm %}
			return confirm("Does everything on the form look ok?  Click OK to submit the form, or Cancel to edit the entries.");
			{% else %}
			return true;
			{% endif %}
		}

		function ad_hoc_overlap_callback(response, status, xml_http_request)
		{
			if (response)
			{
				var strHTML = response;
				strHTML = strHTML.replace(/[\n\r]/g, '');
				$("html").html(strHTML);
			}
		}

		function toggle_areas()
		{
			if ($("#include_area_access").is(":checked")) {
				$("#area_id").prop("disabled", false);
				{% if show_no_staff_charge_option %}
				$("#do_not_save_staff_charge").prop("disabled", false);
				{% endif %}
			} else {
				$("#area_id").prop("disabled", true);
				{% if show_no_staff_charge_option %}
				$("#do_not_save_staff_charge").prop("checked", false);
				$("#do_not_save_staff_charge").prop("disabled", true);
				{% endif %}
			}
		}

		function submit_override(num)
		{
			var form_id = "#override_charges_" + num;
			var failure_dialog = ajax_failure_callback("There was an error processing the data.  Please check the form and try again.");
			ajax_post("{% url 'staff_charge_projects_save' 0 %}", serialize(form_id), reload_staff_charges, failure_dialog);
			return false;
		}

		function continue_staff_charges(id, url)
		{
			location.href = url;
		}

		function reload_staff_charges()
		{
			location.reload();
		}

		function on_load()
		{
			hide_user_charges();
			enable_autocompletion(current_entry_number);
			current_entry_number++;
			enable_ad_hoc_autocompletion(ad_hoc_entry_number);
			ad_hoc_entry_number++;
			$("#ad_hoc_start").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A', minDate: '{{ start_date }} 00:00', maxDate: '{{ end_date }} 23:59'});
			$("#ad_hoc_start").val({% if ad_hoc_start %}"{{ ad_hoc_start }}"{% else %}""{% endif %});
			$("#ad_hoc_end").datetimepicker({ useCurrent: false, format: 'YYYY-MM-DD hh:mm A', minDate: '{{ start_date }} 00:00', maxDate: '{{ end_date }} 23:59'});
			$("#ad_hoc_end").val({% if ad_hoc_end %}"{{ ad_hoc_end }}"{% else %}""{% endif %});
			$("#ad_hoc_end").focus(function() {
				if ($(this).val() == "" && $("#ad_hoc_start").val() != "") {
					$(this).val($("#ad_hoc_start").val());
					$(this).datetimepicker('hide');
				}
			});
			$("#ad_hoc_start").on('dp.change',calculate_duration);
			$("#ad_hoc_end").on('dp.change',calculate_duration);
			$(document).scrollTop(0);
			$("#tabs a").click(switch_tab);
		}
		$(on_load);

    </script>
{% endblock %}
