<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Would you like to end your staff charge?</h4>
</div>

<div class="modal-body">
	You are currently charging staff time: <br/>

{% if request.device != 'mobile' %}
	<table class="table">
		<thead>
		<tr>
			<th>Customer</th>
			<th>Project</th>
		</tr>
		</thead>
		<tbody>
		{% for scp in staff_charge.staffchargeproject_set.all %}
		<tr>
			<td>{{ scp.customer }}</td>
			<td>{{ scp.project }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<table class="table">
		{% for scp in staff_charge.staffchargeproject_set.all %}
			<tbody style="border: 3px solid black;">
			<tr><td>{{ scp.customer }}</td></tr>
			<tr><td>{{ scp.project }}</td></tr>
			</tbody>
	</table>
{% endif %}
	Now that you have finished using the {{ tool.name }}, would you
	also like to stop charging staff time?
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-success" data-dismiss="modal">Continue charging staff time</button><br><div style="height:10px"></div>
	<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="$('#dialog').one('hidden.bs.modal', end_staff_charge);">Stop charging staff time</button><br><div style="height:10px"></div>
	<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="end_staff_charge_with_tool_percents();">Stop charging staff time - assign tool use percentages</button>
</div>
